
.alert{ padding:8px 16px; margin-bottom:8px; border:1px solid transparent;}
.alert h4{ margin-top:0; color:inherit;}
.alert .alert-link{ font-weight:bold;}
.alert  p,.alert  ul{ margin-bottom:0;}
.alert  p{ margin-top:5px;}
.alert-dismissable,.alert-dismissible{ padding-left:35px; position:relative;}
.alert-dismissable .close,.alert-dismissible .close{ position:absolute; top:50%; _top:expression(this.parentNode.offsetHeight/2-2); left:10px; _left:-25px; line-height:20px; margin-top:-10px;}
.alert-success{ color:$success-text; background-color:$success-bg; border-color:$success-border;}
.alert-success hr{ border-top-color:darken($success-border,5%);}
.alert-success .alert-link{ color:darken($success-text,10%);}
.alert-success .alert-link:hover{ color:darken($success-text,20%);}
.alert-info{ color:$info-text; background-color:$info-bg; border-color:$info-border;}
.alert-info hr{ border-top-color:darken($info-border,5%);}
.alert-info .alert-link{ color:darken($info-text,10%);}
.alert-info .alert-link:hover{ color:darken($info-text,20%);}
.alert-warning{ color:$warning-text; background-color:$warning-bg; border-color:$warning-border;}
.alert-warning hr{ border-top-color:darken($warning-border,5%);}
.alert-warning .alert-link{ color:darken($warning-text,10%);}
.alert-warning .alert-link:hover{ color:darken($warning-text,20%);}
.alert-danger{ color:$danger-text; background-color:$danger-bg; border-color:$danger-border;}
.alert-danger hr{ border-top-color:darken($danger-border,5%);}
.alert-danger .alert-link{ color:darken($danger-text,10%);}
.alert-danger .alert-link:hover{ color:darken($danger-text,20%);}