
$btn-fontsize-base:14px;
$btn-fontsize-large:16px;
$btn-fontsize-small:12px;
$btn-fontsize-xsmall:12px;
$btn-height-base:34px;
$btn-height-large:45px;
$btn-height-small:30px;
$btn-height-xsmall:24px;
$btn-padding-base:12px;
$btn-padding-large:16px;
$btn-padding-small:10px;
$btn-padding-xsmall:6px;
$btn-border-width:1px;

.btn{ vertical-align:top; padding:($btn-height-base - 2*$btn-border-width - $line-height-base)/2 $btn-padding-base; margin-bottom:0; font-size:$btn-fontsize-base; font-weight:normal; text-align:center; white-space:nowrap; cursor:pointer; border:$btn-border-width solid;
-ms-touch-action:manipulation; touch-action:manipulation;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
transition:border-color,background,box-shadow .4s;}
.btn:hover{ text-decoration:none;}
input.btn,button.btn{ outline:none; height:$btn-height-base; margin-left:0; margin-right:0; -webkit-appearance:none;
*width:auto; *overflow-x:visible; *padding:0 $btn-padding-base;}
a.btn{ display:inline-block;}

.btn-label{ display:inline-block; *display:inline; *zoom:1; vertical-align:middle; line-height:1; *line-height:20px;}
.btn .icon{ display:inline-block; *display:inline; *zoom:1; vertical-align:middle; margin-right:4px;}

.btn-outline{ color:$theme-primary; background:none; border-color:$theme-primary;}
.btn-outline:hover{ color:#fff; background-color:$theme-primary; border-color:$theme-primary;}
.btn-default{ color:#333; background-color:#fff; border-color:#ccc;}
.btn-default:hover{ color:#333; border-color:#aaa;}
.btn-primary{ color:#fff; background-color:$theme-primary; border-color:darken($theme-primary, 5%);}
.btn-primary:hover{ color:#fff; background-color:darken($theme-primary,10%); border-color:darken($theme-primary,17%);}
.btn-success{ color:#fff; background-color:$success; border-color:darken($success,5%);}
.btn-success:hover{ color:#fff; background-color:darken($success,10%); border-color:darken($success,17%);}
.btn-info{ color:#fff; background-color:$info; border-color:darken($info, 5%);}
.btn-info:hover{ color:#fff; background-color:darken($info,10%); border-color:darken($info, 17%);}
.btn-warning{ color:#fff; background-color:$warning; border-color:darken($warning, 5%);}
.btn-warning:hover{ color:#fff; background-color:darken($warning,10%); border-color:darken($warning, 17%);}
.btn-danger{ color:#fff; background-color:$danger; border-color:darken($danger, 5%);}
.btn-danger:hover{ color:#fff; background-color:darken($danger,10%); border-color:darken($danger, 17%);}
.btn-inverse{ color:#fff; background-color:#444; border-color:#222;}
.btn-inverse:hover{ color:#fff; background-color:#333; border-color:#222;}


html>body .btn[disabled],html>body fieldset[disabled] .btn{ cursor:not-allowed; color:#a0a0a0; text-shadow:1px 1px #fff;}
html input.btn:focus,html button.btn:focus{ border-color:#000;}
html .btn-disabled,html .btn-disabled:hover,html input.btn-disabled:focus,html button.btn-disabled:focus{ background-color:#ddd; border-color:darken(#dddddd, 5%); color:#fff;}

.btn-lg{ font-size:$btn-fontsize-large; padding:($btn-height-large - 2*$btn-border-width - $line-height-base)/2 $btn-padding-large;}
input.btn-lg,button.btn-lg{ height:$btn-height-large; padding:0 $btn-padding-large;}
.btn-sm{ font-size:$btn-fontsize-small; padding:($btn-height-small - 2*$btn-border-width - $line-height-base)/2 $btn-padding-small;}
input.btn-sm,button.btn-sm{ height:$btn-height-small; padding:0 $btn-padding-small;}
.btn-xs{ font-size:$btn-fontsize-xsmall; padding:($btn-height-xsmall - 2*$btn-border-width - $line-height-base)/2 $btn-padding-xsmall;}
input.btn-xs,button.btn-xs{ height:$btn-height-xsmall; padding:0 $btn-padding-xsmall;}
a.btn-block{ display:block;}
input.btn-block,button.btn-block{ width:100%;}
@-moz-document url-prefix(){
	input.btn,button.btn{ padding-left:$btn-fontsize-base - 3px; padding-right:$btn-fontsize-base - 3px;} 
	input.btn-lg,button.btn-lg{ padding-left:$btn-fontsize-large - 3px; padding-right:$btn-fontsize-large - 3px;}
	input.btn-sm,button.btn-sm{ padding-left:$btn-fontsize-small - 3px; padding-right:$btn-fontsize-small - 3px;}
	input.btn-xs,button.btn-xs{ padding-left:$btn-fontsize-xsmall - 3px; padding-right:$btn-fontsize-xsmall - 3px;}
}
.btn-toolbar{ margin-left:-5px; font-size:0; margin-bottom:$margin-bottom-base;}
.btn-toolbar .btn,.btn-toolbar .btn-group{ margin-left:5px; margin-right:0;}
.btn-group{ display:inline-block; vertical-align:middle; *display:inline; *zoom:1; font-size:0;}
.btn-group > .btn:not(:first-child):not(:last-child){ -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
.btn-group .btn{ float:left; margin-left:0; margin-right:-1px; position:relative;}
.btn-group .btn:focus{ z-index:$level-item-actived;}
.btn-group > .btn:first-child:not(:last-child){ -moz-border-radius-topright:0; -moz-border-radius-bottomright:0;
-webkit-border-top-right-radius:0; -webkit-border-bottom-right-radius:0;
border-top-right-radius:0; border-bottom-right-radius:0;}
.btn-group > .btn:last-child:not(:first-child){ -moz-border-radius-topleft:0; -moz-border-radius-bottomleft:0;
-webkit-border-top-left-radius:0; -webkit-border-bottom-left-radius:0;
border-top-left-radius:0; border-bottom-left-radius:0;}


.caret{ display:inline-block; width:0; height:0; overflow:hidden; margin-left:2px; vertical-align:middle; border:4px solid transparent; border-bottom:0; border-top-color:black; border-top-style:dashed; border-top-style:solid \9; _border-right-style:dotted; _border-left-style:dotted; }

.close{ font-weight:bold; color:#000; text-shadow:0 1px 0 #fff; opacity:.5; font-size:20px;}
.close:hover{ color:#000; text-decoration:none; cursor:pointer; opacity:.8;}
@media \0screen\,screen\9{
	.close{ filter:alpha(opacity=50);}
	.close:hover{ filter:alpha(opacity=80);}
}
button.close{ -webkit-appearance:none; padding:0; cursor:pointer; background:transparent; border:0;}