

.layout-full{ width:100%; height:100%; overflow:auto;}
.layout-table{ border-collapse:collapse;}
.layout-cell{ padding:0; position:relative;}
.layout-vfull{ height:100%; overflow:auto;}

.flex{ width:100%; display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:flex;}

.col-left{ -moz-box-ordinal-group:-1;-webkit-box-ordinal-group:-1;-ms-flex-order:-1;order:-1;}
.col-right:nth-child(1){-moz-box-ordinal-group:19;-webkit-box-ordinal-group:19;-ms-flex-order:19;order:19;}
.col-right:nth-child(2){-moz-box-ordinal-group:18;-webkit-box-ordinal-group:18;-ms-flex-order:18;order:18;}
.col-right:nth-child(3){-moz-box-ordinal-group:17;-webkit-box-ordinal-group:17;-ms-flex-order:17;order:17;}
.col-right:nth-child(4){-moz-box-ordinal-group:16;-webkit-box-ordinal-group:16;-ms-flex-order:16;order:16;}
.col-right:nth-child(5){-moz-box-ordinal-group:15;-webkit-box-ordinal-group:15;-ms-flex-order:15;order:15;}
.col-right:nth-child(6){-moz-box-ordinal-group:14;-webkit-box-ordinal-group:14;-ms-flex-order:14;order:14;}
.col-right:nth-child(7){-moz-box-ordinal-group:13;-webkit-box-ordinal-group:13;-ms-flex-order:13;order:13;}
.col-right:nth-child(8){-moz-box-ordinal-group:12;-webkit-box-ordinal-group:12;-ms-flex-order:12;order:12;}
.col-right:nth-child(9){-moz-box-ordinal-group:11;-webkit-box-ordinal-group:11;-ms-flex-order:11;order:11;}
.col-right:nth-child(10){-moz-box-ordinal-group:10;-webkit-box-ordinal-group:10;-ms-flex-order:10;order:10;}
.col-right:nth-child(11){-moz-box-ordinal-group:9;-webkit-box-ordinal-group:9;-ms-flex-order:9;order:9;}
.col-right:last-child{ -moz-box-ordinal-group:-1;-webkit-box-ordinal-group:-1;-ms-flex-order:-1;order:-1;}

.col-left,.col-right,.col-sider,.row-fixed{ flex-shrink:0;}
.row-fill,.col-center{-moz-box-flex:1;-webkit-box-flex:1;-ms-flex:1;flex-grow:1;}

.row-fill,.col-center,.col-left,.col-right,.col-sider{ overflow:auto; display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:flex;
-moz-box-orient:vertical;-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;}

.col-flex{ overflow:hidden; display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:flex;
-moz-box-orient:vertical;-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;}
.row-flex{ overflow:hidden; display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:flex;
-moz-box-orient:horizontal;-moz-box-direction:normal;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}

@media (min-width:0\0) and (min-resolution:.001dpcm) {
	.row-flex:after{ display:table; content:""; clear:both;}
	.col-left{ float:left;}
	.col-right{ float:right;}
}
@media \0screen\,screen\9 {
	.row-flex{ *zoom:1;}
	.row-flex:after{ display:table; content:""; clear:both;}
	.col-left{ float:left; _margin-right:-3px;}
	.col-right{ float:right; _margin-left:-3px;}
	.col-center{ _zoom:1;}
}
/*
.row-flex>.col-avg-n{ -moz-flex:1 1 auto;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;}
@media (min-width:0\0) and (min-resolution:.001dpcm) {
	.row-flex{ text-align:justify;  font-size:.05em; }
	.row-flex:after{ display:inline-block; content:" "; width:100%; height:0; overflow:hidden;}
	.row-flex>.col-avg-n{ display:inline-block; font-size:20em;}
}
@media \0screen\ {
	.row-flex{ text-align:justify; font-size:.05em;}
	.row-flex:after{ display:inline-block; content:" "; width:100%; height:0; overflow:hidden;}
	.row-flex>.col-avg-n{ display:inline-block; font-size:20em;}
}
@media screen\9{
	.row-flex{ white-space:nowrap;}
	.row-flex .col-avg-n{ display:inline; zoom:1; width:expression(1/this.parentNode.children.length*100)+'%')}
}
*/

.flex-row{ -moz-box-orient:horizontal;-moz-box-direction:normal;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}
.flex-column{ -moz-box-orient:vertical;-moz-box-direction:normal;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}

.flex-nowrap{ flex-wrap:nowrap;}
.flex-wrap{ flex-wrap:wrap;}

.flex-left{ text-align:left; -moz-box-pack:start; -webkit-box-pack:start; -ms-flex-pack:start; box-pack:start; -webkit-justify-content:flex-start; justify-content:flex-start;}
.flex-center{ text-align:center; -moz-box-pack:center; -webkit-box-pack:center; -ms-flex-pack:center; box-pack:center; -webkit-justify-content:center; justify-content:center;}
.flex-right{ text-align:right; -moz-box-pack:end; -webkit-box-pack:end; -ms-flex-pack:end; box-pack:end; -webkit-justify-content:flex-end; justify-content:flex-end;}
.flex-top{ vertical-align:start; -moz-box-align:start; -webkit-box-align:start; -ms-flex-align:start; box-align:start; -webkit-align-items:flex-start; align-items:flex-start;}
.flex-middle{ vertical-align:middle; -moz-box-align:center; -webkit-box-align:center; -ms-flex-align:center; box-align:center; -webkit-align-items:center; align-items:center;}
.flex-bottom{ vertical-align:bottom; -moz-box-align:end; -webkit-box-align:end; -ms-flex-align:end; box-align:end; -webkit-align-items:flex-end; align-items:flex-end;}
.flex-between{ -moz-box-pack:justify; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between;}
.flex-around{ -moz-box-pack:justify; -webkit-box-pack:justify; -ms-flex-pack:distribute; justify-content:space-around;}
.flex-stretch{ -moz-box-align:stretch; -webkit-box-align:stretch; -ms-flex-align:stretch; align-items:stretch;}

.flex-fill{ -moz-flex:1 1 auto;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;}