

$modal-alpha:0.4;//模不透明度
$modal-background:rgba(0,0,0,$modal-alpha);
.modal-center{ text-align:center; position:relative;
display:-moz-box; -moz-box-pack:center;-moz-box-align:center;
display:-webkit-box; -webkit-box-pack:center;-webkit-box-align:center;
display:-ms-flexbox; -ms-flex-pack:center;-ms-flex-align:center;
display:box; box-pack:center;box-align:center;
display:-webkit-flex; -webkit-justify-content:center;-webkit-align-items:center;
display:flex; justify-content:center;align-items:center;}

.modal{ background:rgba(0,0,0,$modal-alpha); position:fixed; _position:absolute; z-index:1;
	left:0; width:100%; top:0; height:100%;
	@if($quirk){
		_height:expression(document.body.scrollHeight); _padding-top:expression(eval(document.body.scrollTop));
	}
	@else{
		_height:expression(document.documentElement.offsetHeight); _padding-top:expression(eval(document.documentElement.scrollTop));
	}
}
.modal-loading{ background-color:rgba(0,0,0,$modal-alpha/0.8); opacity:0.8; background:url(../images/loading-inverse.gif); background-position:center; background-repeat:no-repeat;}
@media \0screen\,screen\9 {
	.modal{ filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#{ie-hex-str($modal-background)},endcolorstr=#{ie-hex-str($modal-background)});}
	.modal-loading{ background-color:#000; filter:alpha(opacity=50);}
	.modal-hit{ position:absolute; left:0; top:0; width:100%; height:100%; border:0 none; background:#000; filter:alpha(opacity=01);}
}
@media (min-width:0){
	.modal-loading{background:rgba(0,0,0,$modal-alpha);}
	.modal-loading:after{ content:" "; position:absolute; left:50%; top:50%; width:100px; padding-bottom:100px; margin-left:-50px; margin-top:-50px;
	-webkit-border-radius:10%;-moz-border-radius:10%;border-radius:10%; background:url(../images/loading-inverse.gif) center no-repeat #000; background-size:80%;}
}
@media (max-width:767px) and (orientation:portrait){
	.modal-loading:after{ width:30%; padding-bottom:30%; margin-left:-15%; margin-top:-15%;}
}