
.nav{ margin:0;}
table.nav{ border-collapse:collapse; width:100%; table-layout:fixed;}
table.nav td,table.nav th{ text-align:center; padding:0;}
ul.nav{ list-style:none; font-size:0;}
ul.nav li{ display:inline-block; *zoom:1; *display:inline; margin-right:2px;}
.nav td,.nav th,.nav li{ line-height:1; font-size:$font-size-base; position:relative;}
ul.nav a{ display:block; padding:10px 15px;}
table.nav a{ display:block; padding-top:10px; padding-bottom:10px;}
.nav * a:hover{ text-decoration:none;}
.nav .active a{ cursor:default;}
.nav .disabled a{ color:#777; cursor:not-allowed;}
.nav .disabled a:hover{ color:#777; text-decoration:none; background-color:transparent;}
.nav-tabs{ border-bottom:1px solid #ddd;}
.nav-tabs a{ position:relative; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.nav-tabs a:hover{ background-color:#eee;}
.nav-tabs .active a,.nav-tabs .active a:hover{ bottom:-1px; border:1px solid #ddd; border-bottom:1px #fff; background:#fff; color:#555;}
.nav-pills a{ border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;} 
.nav-pills a:hover{ background-color:#eee;}
.nav-pills .active a,.nav-pills .active a:hover{ background-color:$theme-primary; color:#fff;}
.nav-underline{ border-bottom:2px solid #ddd;}
.nav-underline a{ position:relative; color:#777;}
.nav-underline a:hover{ padding-bottom:9px; border-bottom:2px solid $theme-primary; margin-bottom:-1px; color:#777;}
.nav-underline .active a,.nav-underline .active a:hover{ padding-bottom:7px; color:darken($theme-primary, 15%); border-bottom:4px solid darken($theme-primary, 15%); margin-bottom:-1px; font-weight:bold;}

.nav.nav-justified{ width:100%; display:table;}
.nav.nav-justified>li{ display:table-cell; width:1%; *width:auto; text-align:center;}

.tabs-left .nav{ float:left; _width:33%;}
.tabs-left .nav li{ display:block; margin:2px 0;}
.tabs-left .nav a{ min-width:74px;}
.tabs-left:after{ clear:both;}
.tabs-left:after{ display:table; line-height:0; content:"";}
.tabs-left .nav-tabs{ border:0 none; border-right:1px solid #ddd; margin:0 20px 20px 0; _margin:0 17px 20px 0;}
.tabs-left .nav-tabs a{ -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
.tabs-left .nav-tabs .active a,.tabs-left .nav-tabs .active a:hover{ bottom:auto; right:-1px; border-bottom:1px solid #ddd; border-right:1px #fff;}

.tabs-right .nav{ float:right; _width:33%;}
.tabs-right .nav li{ display:block; margin:2px 0;}
.tabs-right .nav a{ min-width:74px;}
.tabs-right:after{ clear:both;}
.tabs-right:after{ display:table; line-height:0; content:"";}
.tabs-right .nav-tabs{ border:0 none; border-left:1px solid #ddd; margin:0 0 20px 20px; _margin:0 0 20px 17px;}
.tabs-right .nav-tabs a{ -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0;}
.tabs-right .nav-tabs .active a,.tabs-right .nav-tabs .active a:hover{ bottom:auto; left:-1px; border-bottom:1px solid #ddd; border-left:1px #fff;}


.tab-content{ overflow:auto;}
.tab-pane{ display:none;}
.tab-content div.active{ display:block; -webkit-animation:fadein .5s forwards;-moz-animation:fadein .5s forwards;animation:fadein .5s forwards;}