
.clearfix{ *zoom:1;}
.clearfix:before,.clearfix:after{ display:table; content:"";}
.clearfix:after{ clear: both;}
.pull-right{ float:right;}
.pull-left{ float:left;}
.pull-front{ z-index:1; position:relative;}

.center-block{ display:block; margin-right:auto; margin-left:auto;}

.align-top{ vertical-align:top; display:inline-block; *zoom:1; *display:inline;}
.align-middle{ vertical-align:middle; display:inline-block; *zoom:1; *display:inline;}
.align-bottom{ vertical-align:bottom; display:inline-block; *zoom:1; *display:inline;}
.vertical-align:after{ width:0; content:''; display:inline-block; height:100%; vertical-align:middle;}
@media screen\9{
	.vertical-align{ *overflow:hidden;}
	.vertical-align .align-middle{ *vertical-align:top; *position:relative; *zoom:1; *display:inline; *top:expression(Math.max(Math.round(this.parentNode.clientHeight/2-this.offsetHeight/2),0)+'px');}
	.vertical-align .align-bottom{ *vertical-align:top; *position:relative; *zoom:1; *display:inline; *top:expression(Math.max(this.parentNode.clientHeight-this.offsetHeight,0)+'px');}
}


@media \0screen\,screen\9 {
	.hidden-desktop{ display:none;}
}
@media (min-width:971px) {
	.hidden-desktop{ display:none;}
}
@media (min-width:641px) and (max-width:970px){
	.hidden-mobile,.hidden-tablet{ display:none;}
}
@media (max-width:640px){
	.hidden-mobile,.hidden-phone{ display:none;}
}
.hidden{ display:none;}
.block{ display:block;}
.inline-block{ display:inline-block; *zoom:1; *display:inline-block;}
.inline{ display:inline;}


@for $i from 2 through 10{
	.line-clamp-#{$i}{ text-overflow:ellipsis; -webkit-line-clamp:$i; overflow:hidden; max-height:$line-height-base/$font-size-base*$i*1em; display:-webkit-box; -webkit-box-orient:vertical;}
}
.line-middle{ height:100%; vertical-align:middle; display:inline-block; *zoom:1; *display:inline;}


.text-primary{ color:darken($theme-primary,20%);}
a.text-primary:hover,p.text-primary a:hover{ color:darken($theme-primary,30%);}
.brand-primary{ color:$theme-primary;}
.bg-primary{ color:#fff; background-color:$theme-primary;}
a.bg-primary:hover,.bg-primary a:hover{ color:#fff; background-color:darken($theme-primary,10%);}
.border-primary{ border-color:darken($theme-primary,5%);}

@each $key in success, info, warning, danger {
	.text-#{$key}{ color:map-get($context-text,$key);}
	a.text-#{$key}:hover,p.text-#{$key} a:hover{ color:darken(map-get($context-text,$key),10%);}
	.brand-#{$key}{ color:map-get($context,$key);}
	.bg-#{$key}{ background-color:map-get($context-bg,$key);}
	.border-#{$key}{ border-color:map-get($context-border,$key);}
}

@each $key, $color in $theme {
	.text-#{$key}{ color:darken($color,20%);}
	a.text-#{$key}:hover,p.text-#{$key} a:hover{ color:darken($color,30%);}
	.brand-#{$key}{ color:$color;}
	.bg-#{$key}{ background-color:lighten(saturate(adjust-hue($color,-17.5),5%),35%);}
	.border-#{$key}{ border-color:lighten(saturate(adjust-hue($color,-17.5),5%),30%);}
}

.font-sans{ font-family:"Segoe UI","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Source Han Sans TC","Noto Sans CJK TC","Microsoft YaHei UI","Microsoft JhengHei","Microsoft YaHei","WenQuanYi Micro Hei",FreeSans,Arimo,"Droid Sans",STHeiti,SimHei,"FontAwesome",sans-serif;}
.font-serif{ font-family:Georgia,"Times New Roman",Times,SimSun,"FontAwesome",serif;}
.font-cursive{ font-family:"Comic Sans MS","Comic Sans",Times,Kai,"Kaiti SC",KaiTi,BiauKai,Arial,"FontAwesome",sans-serif;}
.font-monospace{ font-family:Monaco,Menlo,Consolas,"Courier New","FontAwesome",monospace;}

.box-full{ width:100%; height:100%; overflow:auto;}
.box-b{ border:1px solid !important;}
.box-bt,.box-bv{ border-top:1px solid !important;}
.box-bb,.box-bv{ border-bottom:1px solid !important;}
.box-bl,.box-bh{ border-left:1px solid !important;}
.box-br,.box-bh{ border-right:1px solid !important;}

.box-m0{ margin:0 !important;}
.box-mxs{ margin:4px !important;}
.box-msm{ margin:8px !important;}
.box-mmd{ margin:16px !important;}
.box-mlg{ margin:24px !important;}
.box-mxl{ margin:32px !important;}

.box-mt0,.box-mv0{ margin-top:0 !important;}
.box-mtxs,.box-mvxs{ margin-top:4px !important;}
.box-mtsm,.box-mvsm{ margin-top:8px !important;}
.box-mtmd,.box-mvmd{ margin-top:16px !important;}
.box-mtlg,.box-mvlg{ margin-top:24px !important;}
.box-mtxl,.box-mvxl{ margin-top:32px !important;}
.box-mb0,.box-mv0{ margin-bottom:0 !important;}
.box-mbxs,.box-mvxs{ margin-bottom:4px !important;}
.box-mbsm,.box-mvsm{ margin-bottom:8px !important;}
.box-mbmd,.box-mvmd{ margin-bottom:16px !important;}
.box-mblg,.box-mvlg{ margin-bottom:24px !important;}
.box-mbxl,.box-mvxl{ margin-bottom:32px !important;}

.box-ml0,.box-mh0{ margin-left:0 !important;}
.box-mlxs,.box-mhxs{ margin-left:4px !important;}
.box-mlsm,.box-mhsm{ margin-left:8px !important;}
.box-mlmd,.box-mhmd{ margin-left:16px !important;}
.box-mllg,.box-mhlg{ margin-left:24px !important;}
.box-mlxl,.box-mhxl{ margin-left:32px !important;}
.box-mr0,.box-mh0{ margin-right:0 !important;}
.box-mrxs,.box-mhxs{ margin-right:4px !important;}
.box-mrsm,.box-mhsm{ margin-right:8px !important;}
.box-mrmd,.box-mhmd{ margin-right:16px !important;}
.box-mrlg,.box-mhlg{ margin-right:24px !important;}
.box-mrxl,.box-mhxl{ margin-right:32px !important;}
 
.box-p0{ padding:0 !important;}
.box-pxs{ padding:4px !important;}
.box-psm{ padding:8px !important;}
.box-pmd{ padding:16px !important;}
.box-plg{ padding:24px !important;}
.box-pxl{ padding:32px !important;}

.box-pt0,.box-pv0{ padding-top:0 !important;}
.box-ptxs,.box-pvxs{ padding-top:4px !important;}
.box-ptsm,.box-pvsm{ padding-top:8px !important;}
.box-ptmd,.box-pvmd{ padding-top:16px !important;}
.box-ptlg,.box-pvlg{ padding-top:24px !important;}
.box-ptxl,.box-pvxl{ padding-top:32px !important;}
.box-pb0,.box-pv0{ padding-bottom:0 !important;}
.box-pbxs,.box-pvxs{ padding-bottom:4px !important;}
.box-pbsm,.box-pvsm{ padding-bottom:8px !important;}
.box-pbmd,.box-pvmd{ padding-bottom:16px !important;}
.box-pblg,.box-pvlg{ padding-bottom:24px !important;}
.box-pbxl,.box-pvxl{ padding-bottom:32px !important;}

.box-pl0,.box-ph0{ padding-left:0 !important;}
.box-plxs,.box-phxs{ padding-left:4px !important;}
.box-plsm,.box-phsm{ padding-left:8px !important;}
.box-plmd,.box-phmd{ padding-left:16px !important;}
.box-pllg,.box-phlg{ padding-left:24px !important;}
.box-plxl,.box-phxl{ padding-left:32px !important;}
.box-pr0,.box-ph0{ padding-right:0 !important;}
.box-prxs,.box-phxs{ padding-right:4px !important;}
.box-prsm,.box-phsm{ padding-right:8px !important;}
.box-prmd,.box-phmd{ padding-right:16px !important;}
.box-prlg,.box-phlg{ padding-right:24px !important;}
.box-prxl,.box-phxl{ padding-right:32px !important;}
 
 
.container-top,.container-middle,.container-bottom,
.container-left,.container-center,.container-right
{ display:table; display:-moz-box; display:-webkit-box; display:-ms-flexbox; display:box; display:-webkit-flex; display:flex;}
.inline.container-top,.inline.container-middle,.inline.container-bottom,
.inline.container-left,.inline.container-center,.inline.container-right
{ display:inline-table; display:-moz-inline-box; display:-webkit-inline-box; display:-ms-inline-flexbox; display:inline-box; display:-webkit-inline-flex; display:inline-flex;}

.container-left{ text-align:left; -moz-box-pack:start; -webkit-box-pack:start; -ms-flex-pack:start; box-pack:start; -webkit-justify-content:flex-start; justify-content:flex-start;}
.container-center{ text-align:center; -moz-box-pack:center; -webkit-box-pack:center; -ms-flex-pack:center; box-pack:center; -webkit-justify-content:center; justify-content:center;}
.container-right{ text-align:right; -moz-box-pack:end; -webkit-box-pack:end; -ms-flex-pack:end; box-pack:end; -webkit-justify-content:flex-end; justify-content:flex-end;}
.container-top{ vertical-align:start; -moz-box-align:start; -webkit-box-align:start; -ms-flex-align:start; box-align:start; -webkit-align-items:flex-start; align-items:flex-start;}
.container-middle{ vertical-align:middle; -moz-box-align:center; -webkit-box-align:center; -ms-flex-align:center; box-align:center; -webkit-align-items:center; align-items:center;}
.container-bottom{ vertical-align:bottom; -moz-box-align:end; -webkit-box-align:end; -ms-flex-align:end; box-align:end; -webkit-align-items:flex-end; align-items:flex-end;}

.abs-top{ position:absolute; top:0;}
.abs-middle{ position:absolute; top:50%;}
.abs-bottom{ position:absolute; top:100%;}
.abs-left{ position:absolute; left:0;}
.abs-center{ position:absolute; left:50%;}
.abs-right{ position:absolute; left:100%;}

.rel-middle{ position:relative; top:-50%;}
.rel-bottom{ position:relative; top:-100%;}
.rel-center{ position:relative; left:-50%;}
.rel-right{ position:relative; left:-100%;}