@mixin table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	
	td,th{ padding:8px; line-height:$line-height-base/$font-size-base; border-top:1px solid #D8DCF0;}
	&>thead>tr:last-child>*{ border-bottom:2px solid #D8DCF0;}
	&>tfoot>tr:first-child>*{ border-top:2px solid #D8DCF0;}
	&>*:first-child>tr:first-child>*{ border-top:0;}
}
@mixin table-active {
	background-color:$secondary-bg;
}
@mixin table-primary {
	background-color:$primary-bg;
}
@mixin table-success {
	background-color:$success-bg;
}
@mixin table-info {
	background-color:$info-bg;
}
@mixin table-warning {
	background-color:$warning-bg;
}
@mixin table-danger {
	background-color:$danger-bg;
}
@mixin table-condensed{
	td,th{ padding:5px;}
}
@mixin table-bordered {
	&,& td, & th{ border:1px solid #D8DCF0;}
}
@mixin table-striped{
	tr:nth-of-type(odd) { background-color: #fcfcfc;}
}