/** reset */
a {
  color: #2196F3;
}

a:hover {
  color: rgb(10.2307692308, 109.9807692308, 189.2692307692);
}

/** button */
.btn-primary {
  background-color: #2196F3;
  border-color: rgb(12.8461538462, 138.0961538462, 237.6538461538);
}
.btn-primary:hover {
  background-color: rgb(11.5384615385, 124.0384615385, 213.4615384615);
  border-color: rgb(9.7076923077, 104.3576923077, 179.5923076923);
}

.btn-outline, .btn-outline-primary {
  color: #2196F3;
  border-color: #2196F3;
}
.btn-outline:hover, .btn-outline-primary:hover {
  background-color: #2196F3;
  border-color: #2196F3;
}
html body .btn-outline:focus, html body .btn-outline-primary:focus {
  border-color: rgb(10.2307692308, 109.9807692308, 189.2692307692);
}

/** badge */
.panel-primary .panel-heading .badge {
  color: #2196F3;
}

.btn-primary:hover .badge {
  color: rgb(11.5384615385, 124.0384615385, 213.4615384615);
}

/** callout */
.callout-primary {
  border-left-color: #2196F3;
}

/** dialog */
.dialog-primary .dialog-header {
  background-color: #2196F3;
  border-color: #2196F3;
}

/** label */
.label-primary {
  background-color: #2196F3;
}

/** list-group */
a.list-group-item:hover, .list-group-item a:hover {
  color: #2196F3;
}

.list-group .active {
  background-color: #2196F3;
  border-color: #2196F3;
}

.list-group .active .list-group-item-text {
  color: white;
}

/** msgbox */
.msgbox {
  border-top-color: #2196F3;
}

/** nav */
.nav-pills .nav-link:hover {
  color: #2196F3;
}

.nav-pills .active .nav-link, .nav-pills .active .nav-link:hover,
.nav-pills a.active, .nav-pills a.active:hover {
  background-color: #2196F3;
}

.nav-pivot .nav-link:hover {
  color: #2196F3;
  border-bottom-color: #2196F3;
}

.nav-pivot .active .nav-link, .nav-pivot .active .nav-link:hover,
.nav-pivot a.active, .nav-pivot a.active:hover {
  color: rgb(11.5384615385, 124.0384615385, 213.4615384615);
  border-bottom-color: rgb(11.5384615385, 124.0384615385, 213.4615384615);
}

.nav-tabs-left .nav-link:hover,
.nav-tabs-right .nav-link:hover,
.nav-tabs .nav-link:hover {
  color: #2196F3;
}

/** msgbox */
.msgbox {
  border-top-color: #2196F3;
}

/** pagination */
.pagination li:hover, .pagination li:hover a {
  color: rgb(10.2307692308, 109.9807692308, 189.2692307692);
}

.pagination li.active {
  background-color: #2196F3;
  border-color: #2196F3;
}

/** panel */
.panel-primary {
  border-color: #2196F3;
}

.panel-primary .panel-heading {
  color: #fff;
  background-color: #2196F3;
  border-color: #2196F3;
}

/** progress-bar */
.progress-bar {
  background-color: #2196F3;
}

/** win */
.win {
  border: rgb(99.6846153846, 170.7931868132, 227.3153846154);
}

.win-header {
  background: rgb(99.6846153846, 170.7931868132, 227.3153846154);
  border-bottom-color: rgb(99.6846153846, 170.7931868132, 227.3153846154);
}

.win-btn-group .icon:hover {
  background: rgb(12.8461538462, 138.0961538462, 237.6538461538);
}

.win-active {
  border-color: #2196F3;
}
.win-active .win-header {
  background: #2196F3;
  border-color: #2196F3;
}

.win-disabled {
  border-color: rgb(144, 202.5, 249);
}

/** link */
.link-primary {
  color: #2196F3;
}

.link-primary:hover {
  color: rgb(10.2307692308, 109.9807692308, 189.2692307692);
}

.link-secondary:hover {
  color: #2196F3;
}

/** list */
.list .list-item.active {
  background-color: #2196F3;
  border-color: #2196F3;
}

.list a:hover {
  color: #2196F3;
}

/** page-header */
.page-header-dot {
  border-left-color: #2196F3;
}

/** table */
.table caption {
  background-color: #2196F3;
}

.table-primary {
  background-color: #f0f1f9;
}

.table-hover tr:hover.table-primary, .table-hover tr:hover .table-primary {
  background-color: rgb(225.4285714286, 227.4, 243.1714285714);
}

.table-hover .table-primary:hover {
  background-color: rgb(225.4285714286, 227.4, 243.1714285714);
}

.table-odd-primary {
  background-color: rgb(236.3571428571, 237.6, 247.5428571429);
}

.table-odd-primary-hover {
  background-color: rgb(221.7857142857, 224, 241.7142857143);
}

/** btn-toggle */
.btn-toggle-checked {
  border-color: rgb(12.8461538462, 138.0961538462, 237.6538461538);
}
.btn-toggle-checked:hover {
  border-color: rgb(9.7076923077, 104.3576923077, 179.5923076923);
}

html body .btn-toggle-checked:focus-within {
  border-color: rgb(9.7076923077, 104.3576923077, 179.5923076923);
}

/**color*/
.text-primary {
  color: #2196F3 !important;
}

a.text-primary, .text-primary a {
  color: rgb(11.5384615385, 124.0384615385, 213.4615384615) !important;
}

a.text-primary:hover, .text-primary a:hover {
  color: rgb(10.2307692308, 109.9807692308, 189.2692307692) !important;
}

.bg-primary {
  color: #fff;
  background-color: #2196F3 !important;
}

a.bg-primary:hover {
  color: #fff;
  background-color: rgb(11.5384615385, 124.0384615385, 213.4615384615) !important;
}

.border-primary {
  border-color: #2196F3 !important;
}
