/** reset */
a {
  color: #337ab7;
}

a:hover {
  color: rgb(34.3269230769, 82.1153846154, 123.1730769231);
}

/** button */
.btn-primary {
  background-color: #337ab7;
  border-color: rgb(45.4423076923, 108.7051282051, 163.0576923077);
}
.btn-primary:hover {
  background-color: rgb(39.8846153846, 95.4102564103, 143.1153846154);
  border-color: rgb(32.1038461538, 76.7974358974, 115.1961538462);
}

.btn-outline, .btn-outline-primary {
  color: #337ab7;
  border-color: #337ab7;
}
.btn-outline:hover, .btn-outline-primary:hover {
  background-color: #337ab7;
  border-color: #337ab7;
}
html body .btn-outline:focus, html body .btn-outline-primary:focus {
  border-color: rgb(34.3269230769, 82.1153846154, 123.1730769231);
}

/** badge */
.panel-primary .panel-heading .badge {
  color: #337ab7;
}

.btn-primary:hover .badge {
  color: rgb(39.8846153846, 95.4102564103, 143.1153846154);
}

/** callout */
.callout-primary {
  border-left-color: #337ab7;
}

/** dialog */
.dialog-primary .dialog-header {
  background-color: #337ab7;
  border-color: #337ab7;
}

/** label */
.label-primary {
  background-color: #337ab7;
}

/** list-group */
a.list-group-item:hover, .list-group-item a:hover {
  color: #337ab7;
}

.list-group .active {
  background-color: #337ab7;
  border-color: #337ab7;
}

.list-group .active .list-group-item-text {
  color: rgb(238.5769230769, 244.9487179487, 250.4230769231);
}

/** msgbox */
.msgbox {
  border-top-color: #337ab7;
}

/** nav */
.nav-pills .nav-link:hover {
  color: #337ab7;
}

.nav-pills .active .nav-link, .nav-pills .active .nav-link:hover,
.nav-pills a.active, .nav-pills a.active:hover {
  background-color: #337ab7;
}

.nav-pivot .nav-link:hover {
  color: #337ab7;
  border-bottom-color: #337ab7;
}

.nav-pivot .active .nav-link, .nav-pivot .active .nav-link:hover,
.nav-pivot a.active, .nav-pivot a.active:hover {
  color: rgb(39.8846153846, 95.4102564103, 143.1153846154);
  border-bottom-color: rgb(39.8846153846, 95.4102564103, 143.1153846154);
}

.nav-tabs-left .nav-link:hover,
.nav-tabs-right .nav-link:hover,
.nav-tabs .nav-link:hover {
  color: #337ab7;
}

/** msgbox */
.msgbox {
  border-top-color: #337ab7;
}

/** pagination */
.pagination li:hover, .pagination li:hover a {
  color: rgb(34.3269230769, 82.1153846154, 123.1730769231);
}

.pagination li.active {
  background-color: #337ab7;
  border-color: #337ab7;
}

/** panel */
.panel-primary {
  border-color: #337ab7;
}

.panel-primary .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

/** progress-bar */
.progress-bar {
  background-color: #337ab7;
}

/** win */
.win {
  border: rgb(101.5384615385, 145.6031468531, 183.4615384615);
}

.win-header {
  background: rgb(101.5384615385, 145.6031468531, 183.4615384615);
  border-bottom-color: rgb(101.5384615385, 145.6031468531, 183.4615384615);
}

.win-btn-group .icon:hover {
  background: rgb(45.4423076923, 108.7051282051, 163.0576923077);
}

.win-active {
  border-color: #337ab7;
}
.win-active .win-header {
  background: #337ab7;
  border-color: #337ab7;
}

.win-disabled {
  border-color: rgb(153, 188.5, 219);
}

/** link */
.link-primary {
  color: #337ab7;
}

.link-primary:hover {
  color: rgb(34.3269230769, 82.1153846154, 123.1730769231);
}

.link-secondary:hover {
  color: #337ab7;
}

/** list */
.list .list-item.active {
  background-color: #337ab7;
  border-color: #337ab7;
}

.list a:hover {
  color: #337ab7;
}

/** page-header */
.page-header-dot {
  border-left-color: #337ab7;
}

/** table */
.table caption {
  background-color: #337ab7;
}

.table-primary {
  background-color: #f0f1f9;
}

.table-hover tr:hover.table-primary, .table-hover tr:hover .table-primary {
  background-color: rgb(225.4285714286, 227.4, 243.1714285714);
}

.table-hover .table-primary:hover {
  background-color: rgb(225.4285714286, 227.4, 243.1714285714);
}

.table-odd-primary {
  background-color: rgb(236.3571428571, 237.6, 247.5428571429);
}

.table-odd-primary-hover {
  background-color: rgb(221.7857142857, 224, 241.7142857143);
}

/** btn-toggle */
.btn-toggle-checked {
  border-color: rgb(45.4423076923, 108.7051282051, 163.0576923077);
}
.btn-toggle-checked:hover {
  border-color: rgb(32.1038461538, 76.7974358974, 115.1961538462);
}

html body .btn-toggle-checked:focus-within {
  border-color: rgb(32.1038461538, 76.7974358974, 115.1961538462);
}

/**color*/
.text-primary {
  color: #337ab7 !important;
}

a.text-primary, .text-primary a {
  color: rgb(39.8846153846, 95.4102564103, 143.1153846154) !important;
}

a.text-primary:hover, .text-primary a:hover {
  color: rgb(34.3269230769, 82.1153846154, 123.1730769231) !important;
}

.bg-primary {
  color: #fff;
  background-color: #337ab7 !important;
}

a.bg-primary:hover {
  color: #fff;
  background-color: rgb(39.8846153846, 95.4102564103, 143.1153846154) !important;
}

.border-primary {
  border-color: #337ab7 !important;
}
