
/* 淡入 */
@-moz-keyframes fadeIn{
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@-webkit-keyframes fadeIn{
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@keyframes fadeIn{
	0%{ opacity:0;}
	100%{ opacity:1;}
}
.fadeIn{
	-moz-animation-name:fadeIn;
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn;
}
/* 淡入-从上 */
@-moz-keyframes fadeInUp{
	0%{ opacity:0; -moz-transform:translateY(-30px);}
	100%{ opacity:1; -moz-transform:translateY(0);}
}
@-webkit-keyframes fadeInUp{
	0%{ opacity:0; -webkit-transform:translateY(-30px);}
	100%{ opacity:1; -webkit-transform:translateY(0);}
}
@keyframes fadeInUp{
	0%{ opacity:0; transform:translateY(-30px);}
	100%{ opacity:1; transform:translateY(0);}
}
.fadeInUp{
	-moz-animation-name:fadeInUp;
	-webkit-animation-name:fadeInUp;
	animation-name:fadeInUp;
}
/* 淡入-从右 */
@-moz-keyframes fadeInRight{
	0%{ opacity:0; -moz-transform:translateX(30px);}
	100%{ opacity:1; -moz-transform:translateX(0);}
}
@-webkit-keyframes fadeInRight{
	0%{ opacity:0; -webkit-transform:translateX(30px);}
	100%{ opacity:1; -webkit-transform:translateX(0);}
}
@keyframes fadeInRight{
	0%{ opacity:0; transform:translateX(30px);}
	100%{ opacity:1; transform:translateX(0);}
}
.fadeInRight{
	-moz-animation-name:fadeInRight;
	-webkit-animation-name:fadeInRight;
	animation-name:fadeInRight;
}
/* 淡入-从下 */
@-moz-keyframes fadeInDown{
	0%{ opacity:0; -moz-transform:translateY(30px);}
	100%{ opacity:1; -moz-transform:translateY(0);}
}
@-webkit-keyframes fadeInDown{
	0%{ opacity:0; -webkit-transform:translateY(30px);}
	100%{ opacity:1; -webkit-transform:translateY(0);}
}
@keyframes fadeInDown{
	0%{ opacity:0; transform:translateY(30px);}
	100%{ opacity:1; transform:translateY(0);}
}
.fadeInDown{
	-moz-animation-name:fadeInDown;
	-webkit-animation-name:fadeInDown;
	animation-name:fadeInDown;
}
/* 淡入-从左 */
@-moz-keyframes fadeInLeft{
	0%{ opacity:0; -moz-transform:translateX(-30px);}
	100%{ opacity:1; -moz-transform:translateX(0);}
}
@-webkit-keyframes fadeInLeft{
	0%{ opacity:0; -webkit-transform:translateX(-30px);}
	100%{ opacity:1; -webkit-transform:translateX(0);}
}
@keyframes fadeInLeft{
	0%{ opacity:0; transform:translateX(-30px);}
	100%{ opacity:1; transform:translateX(0);}
}
.fadeInLeft{
	-moz-animation-name:fadeInLeft;
	-webkit-animation-name:fadeInLeft;
	animation-name:fadeInLeft;
}