
/* 翻转 */
@-moz-keyframes flip{
	0%{-moz-transform:perspective(400px) rotateY(0); -moz-animation-timing-function:ease-out;}
	40%{-moz-transform:perspective(400px) translateZ(150px) rotateY(170deg); -moz-animation-timing-function:ease-out;}
	50%{-moz-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1); -moz-animation-timing-function:ease-in;}
	80%{-moz-transform:perspective(400px) rotateY(360deg) scale(0.95); -moz-animation-timing-function:ease-in;}
	100%{-moz-transform:perspective(400px) scale(1); -moz-animation-timing-function:ease-in;}
}
@-webkit-keyframes flip{
	0%{-webkit-transform:perspective(400px) rotateY(0); -webkit-animation-timing-function:ease-out;}
	40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(170deg); -webkit-animation-timing-function:ease-out;}
	50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1); -webkit-animation-timing-function:ease-in;}
	80%{-webkit-transform:perspective(400px) rotateY(360deg) scale(0.95); -webkit-animation-timing-function:ease-in;}
	100%{-webkit-transform:perspective(400px) scale(1); -webkit-animation-timing-function:ease-in;}
}
@keyframes flip{
	0%{transform:perspective(400px) rotateY(0); animation-timing-function:ease-out;}
	40%{transform:perspective(400px) translateZ(150px) rotateY(170deg); animation-timing-function:ease-out;}
	50%{transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1); animation-timing-function:ease-in;}
	80%{transform:perspective(400px) rotateY(360deg) scale(0.95); animation-timing-function:ease-in;}
	100%{transform:perspective(400px) scale(1); animation-timing-function:ease-in;}
}
.flip{
	-moz-animation-name:flip;
	-webkit-animation-name:flip;
	animation-name:flip;
}