
/* 摇晃 */
@-moz-keyframes wobble{
	0%{-moz-transform:translateX(0);}
	15%{-moz-transform:translateX(-100px) rotate(-5deg);}
	30%{-moz-transform:translateX(80px) rotate(3deg);}
	45%{-moz-transform:translateX(-65px) rotate(-3deg);}
	60%{-moz-transform:translateX(40px) rotate(2deg);}
	75%{-moz-transform:translateX(-20px) rotate(-1deg);}
	100%{-moz-transform:translateX(0);}
}
@-webkit-keyframes wobble{
	0%{-webkit-transform:translateX(0);}
	15%{-webkit-transform:translateX(-100px) rotate(-5deg);}
	30%{-webkit-transform:translateX(80px) rotate(3deg);}
	45%{-webkit-transform:translateX(-65px) rotate(-3deg);}
	60%{-webkit-transform:translateX(40px) rotate(2deg);}
	75%{-webkit-transform:translateX(-20px) rotate(-1deg);}
	100%{-webkit-transform:translateX(0);}
}
@keyframes wobble{
	0%{transform:translateX(0);}
	15%{transform:translateX(-100px) rotate(-5deg);}
	30%{transform:translateX(80px) rotate(3deg);}
	45%{transform:translateX(-65px) rotate(-3deg);}
	60%{transform:translateX(40px) rotate(2deg);}
	75%{transform:translateX(-20px) rotate(-1deg);}
	100%{transform:translateX(0);}
}
.wobble{
	-moz-animation-name:wobble;
	-webkit-animation-name:wobble;
	animation-name:wobble;
}