@charset "utf-8";
/* CSS Document */
.text-primary{ color:#0f5f9f;}
a.text-primary:hover,p.text-primary a:hover{ color:#0a4371;}
.brand-primary{ color:#2196F3;}
.bg-primary{ background-color:#2196F3;}
a.bg-primary:hover,.bg-primary a:hover{ background-color:#0c7cd5;}
.border-primary{ border-color:#0d8aee;}

.btn-outline{ color:#2196F3; border-color:#2196F3;}
.btn-outline:hover{ background-color:#2196F3; border-color:#2196F3;}
.btn-primary{ background-color:#2196F3; border-color:#0d8aee;}
.btn-primary:hover{ background-color:#0c7cd5; border-color:#0a68b4;}