@charset "utf-8";
/* CSS Document */
.text-primary{ color:#362a25;}
a.text-primary:hover,p.text-primary a:hover{ color:#181310;}
.brand-primary{ color:#795548;}
.bg-primary{ background-color:#795548;}
a.bg-primary:hover,.bg-primary a:hover{ background-color:#593f35;}
.border-primary{ border-color:#694a3e;}

.btn-outline{ color:#795548; border-color:#795548;}
.btn-outline:hover{ background-color:#795548; border-color:#795548;}
.btn-primary{ background-color:#795548; border-color:#694a3e;}
.btn-primary:hover{ background-color:#593f35; border-color:#432f28;}