@charset "utf-8";
/* CSS Document */
.text-primary{ color:#022e2b;}
a.text-primary:hover,p.text-primary a:hover{ color:#000000;}
.brand-primary{ color:#009688;}
.bg-primary{ background-color:#009688;}
a.bg-primary:hover,.bg-primary a:hover{ background-color:#00635a;}
.border-primary{ border-color:#007d71;}

.btn-outline{ color:#009688; border-color:#009688;}
.btn-outline:hover{ background-color:#009688; border-color:#009688;}
.btn-primary{ background-color:#009688; border-color:#007d71;}
.btn-primary:hover{ background-color:#00635a; border-color:#003f39;}