@use '../variables' as *;
@use '../functions' as *;

.alert{ padding:$padding-base; margin:$margin-base 0; border:1px solid transparent; position: relative;}
.alert-link{ font-weight:bold;}
.alert-heading{ margin-top:8px;}

@each $key, $color in $context {
	$text: light-text($color);
	$bg: light-bg($color);
	$border: light-border($color);
	@if $key != 'primary' {
		.alert-#{$key}{ color:$text; background-color:$bg; border-color:$border;}
		.alert-#{$key} hr{ border-top-color:darken($border,5%);}
		.alert-#{$key} .alert-link{ color:darken($text,10%);}
		.alert-#{$key} .alert-link:hover{ color:darken($text,15%);}
	}
}
.alert-dismissible,.alert-dismissible{ padding-left:35px; position:relative;}
.alert-dismissible .close,.alert-dismissible .close{ position:absolute; top:50%; _top:#{'expression(this.parentNode.offsetHeight/2-2)'}; left:10px; _left:-25px; line-height:20px; margin-top:-10px;}
