@use '../variables' as *;
@use '../mixins' as *;

.callout {
	padding:$padding-base; margin:$margin-base 0;
	background-color: #ffffff;
	border:1px solid $light-divider;
	border-left: 5px solid #666;
	border-radius:2px 0 0 3px;
	@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
}
.callout-primary {
	border-left-color:$light-primary;
}

html body .callout-danger {
	border-left-color:$light-success;
}
html body .callout-warning {
	border-left-color:$light-info;
}

html body .callout-info {
	border-left-color:$light-warning;
}

html body .callout-success {
	border-left-color:$light-danger;
}
