
@use '../variables' as *;


.card{
	position: relative;
	*zoom:1;
	display:block;
	margin:$margin-base 0;
	background-color:$card-bg;
	border:$card-border-width solid $card-border-color;
}

.card-header {
	padding: $card-cap-padding-y $card-cap-padding-x;
	background-color:$card-cap-bg;
	border-bottom:$card-border-width solid $card-border-color;
	position: relative;
}
.card-body{
	padding:$card-spacer-y $card-spacer-x;
}
.card .list-group-flush {
	overflow: visible;
}
.card-footer {
	padding:$card-cap-padding-y $card-cap-padding-x;
	background-color:$card-cap-bg;
	border-top:$card-border-width solid $card-border-color;
}
.card-title{ margin:4px 0;}

.card-img,.card-img-top,.card-img-bottom {
	width: 100%;
}
.card-img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: $card-img-overlay-padding-y $card-img-overlay-padding-x;
}
.card .card-header-tabs, .card .card-header-indicator {
	margin-top: 0;
	margin-right: - $card-cap-padding-x;
	margin-bottom: - $card-cap-padding-y;
	margin-left: - $card-cap-padding-x + 10px;
	border-bottom: 0;
}
.card .card-header-indicator {
	margin-top: -6px; // TODO
}
.card .card-header-pills {
	margin-top: - $card-cap-padding-y + 8px;
	margin-bottom: - $card-cap-padding-y + 8px;
	margin-right: - $card-cap-padding-x + $card-cap-padding-y;
	margin-left: - $card-cap-padding-x + $card-cap-padding-y;
}

@if $enable-dark {
	.dark {
		.card {
			background: $dark-card-bg;
			border-color: $dark-card-border-color;
		}
		.card-header,
		.card-footer {
			background: $dark-card-cap-bg;
			border-color: $dark-card-border-color;
		}
	}
}
