@use "../variables" as *;

.footer {
	background: $footer-bg;
	padding: $footer-padding;
	margin: $footer-margin;
	color: $footer-color;
	text-align: $footer-text-align;
}
@if $enable-dark {
	.dark{
		.footer{ background: $footer-dark-bg; color: $footer-dark-color; }
	}
}
