@use "../variables" as *;

.jumbotron{ padding:$jumbotron-padding; background:$jumbotron-bg; color:#fff;}
.jumbotron h1,.jumbotron-title{ font-size:$jumbotron-title-fontsize;}
.jumbotron p,.jumbotron-text{ margin:$margin-base 0; font-size:$jumbotron-text-fontsize;}

@media (min-width:$screen-lg){
	.jumbotron{ padding:$jumbotron-padding-lg;}
	.jumbotron h1,.jumbotron-title{ font-size:$jumbotron-title-fontsize-lg;}
	.jumbotron p,.jumbotron-text{ font-size:$jumbotron-text-fontsize-lg;}
}
@media (max-width:$screen-sm){
	.jumbotron{ padding:$jumbotron-padding-sm;}
	.jumbotron h1,.jumbotron-title{ font-size:$jumbotron-title-fontsize-sm;}
	.jumbotron p,.jumbotron-text{ font-size:$jumbotron-text-fontsize-sm;}
}
@media (max-width:$screen-xs){
	.jumbotron{ padding:$jumbotron-padding-xs;}
	.jumbotron h1,.jumbotron-title{ font-size:$jumbotron-title-fontsize-xs;}
	.jumbotron p,.jumbotron-text{ font-size:$jumbotron-text-fontsize-xs;}
}

@if $enable-dark {
	.dark .jumbotron{ background:$dark-jumbotron-bg;}
}
