
.link{ margin-left: 4px; margin-right: 4px;}

.link-primary{ color:$theme-primary;}
.link-primary:hover{ color:darken($theme-primary, 15%);}

.link-secondary{ color:$theme-primary-text;}
.link-secondary:hover{ color:$theme-primary;}

.link-success{ color:$success;}
.link-success:hover{ color:$success-text;}

.link-info{ color:$info;}
.link-info:hover{ color:$info-text;}

.link-warning{ color:$warning;}
.link-warning:hover{ color:$warning-text;}

.link-danger{ color:$danger;}
.link-danger:hover{ color:$danger-text;}

.link-disabled{ cursor: not-allowed; color:#a0a0a0; text-shadow:1px 1px #fff;}
.link-disabled:hover{ color:#a0a0a0; text-decoration:none;}

.link-no-decoration,.link-no-decoration:hover{
	text-decoration:none;
}

.link-stretched::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: auto;
	content: "";
	background-color: rgba(0,0,0,0);
}

.link i {
	margin-right: 1px;
}