@use "../variables" as *;
@use "../functions" as *;

.link{ margin-left: 4px; margin-right: 4px;}

@each $key, $color in $context {
	$text: light-text($color);
	.link-#{$key}{ color:$color;}
	.link-#{$key}:hover{ color:$text;}
}
.link-secondary{ color:$light-body-text;}
.link-secondary:hover{ color:$light-primary;}

.link-disabled{ cursor: not-allowed; color:#a0a0a0; text-shadow:1px 1px #fff;}
.link-disabled:hover{ color:#a0a0a0; text-decoration:none;}

.link-underline,.link-underline:hover{
	text-decoration:underline;
}
@for $i from 1 to $link-offsets {
	.link-offset-#{$i}{
		text-underline-offset: $i * 0.125em !important;
	}
}

.link-stretched:after, .stretched-link:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: auto;
	content: " ";
	font-size: 0;
	background-color: rgba(0,0,0,0);
}

@if $enable-dark {
	.dark {
		@each $key, $color in $dark-context {
			.link-#{$key} { color: $color; }
			.link-#{$key}:hover { color: tint-color($color, 15%); }
		}
		.link-secondary {
			color: $dark-secondary-text;
		}
		.link-secondary:hover {
			color: $dark-primary;
		}
		.link-disabled {
			color: $dark-tertiary-text;
			text-shadow: none;
		}
		.link-disabled:hover {
			color: $dark-tertiary-text;
		}
	}
}
