@use '../variables' as *;
@use '../functions' as *;

.list {
	padding: 0; margin: 0;
	list-style-type: none;
	padding-bottom: 1px;
	*zoom:1;
}
.list a{ color:$light-body-text;}
.list a:hover{ color:$light-primary;}

.list-item{
	padding: $list-padding-y 0;
	margin-bottom:-1px;
	border: 1px solid $light-divider;
	border-left: 0 none;
	border-right: 0 none;
	position: relative;
	background: #fff;
	*zoom:1;
}
.list-dashed .list-item{
	border-style: dashed;
}
.list-flush{
	padding-bottom: 0;
	overflow: hidden;
}
.list-flush .list-item{
	margin-top: -1px;
	padding: $list-padding-y $list-padding-x;
	border-left:0 none;
	border-right:0 none;
}
.list-bordered .list-item{
	padding: $list-padding-y $list-padding-x;
	border: 1px solid $light-divider;
}
.list-striped>*:nth-of-type(odd){
	background-color: $list-striped-bg;
}
.list-hover .list-item:hover{
	background-color:darken(#fff, 5%);
	z-index: $level-item-hover;
}

.list .active{
	background-color:$light-primary;
	border-color:$light-primary;
	z-index:$level-item-active;
}

@each $key, $color in $context {
	$text: light-text($color);
	$bg: light-bg($color);
	.list .list-item-#{$key} { background-color:$bg;}
	.list .list-item-#{$key}, .list .list-item-#{$key} a { color: $text;}
	.list .list-item-#{$key}:hover { background-color:darken($bg,5%);}
	.list .list-item-#{$key}:hover, .list .list-item-#{$key} a:hover { color: darken($text, 12%);}
	.list>.list-item-#{$key}.active {
		background-color:$color;
		border-color:$color;
	}
}
.list .active,.list .active a,
.list .active a:hover,.list a.active:hover{ color:#fff;}

.list-item-heading{ margin-top:0; margin-bottom:0;}
.list-item-text{ margin-bottom:0; margin-top:0;}
