.table{
	margin:$margin-base 0;

	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	td,th{ position:relative; padding:8px; line-height:$line-height-base; border-top:1px solid #D8DCF0;}
	&>thead>tr:last-child>*{ border-bottom:2px solid #D8DCF0;}
	&>tfoot>tr:first-child>*{ border-top:2px solid #D8DCF0;}
	&>*:first-child>tr:first-child>*{ border-top:0;}
}


.table caption {
	padding: 6px 12px;
	text-align: left;
	background-color: $theme-primary;
	color: #fff;
}

.table-sm,.table-condensed{
	td,th{ padding:5px;}
}
.table-bordered{
	&,& td, & th{ border:1px solid #D8DCF0;}
}

.table-active{ background-color:$secondary-bg;}
.table-primary{ background-color:$primary-bg;}
.table-success{ background-color:$success-bg;}
.table-info{ background-color:$info-bg;}
.table-warning{ background-color:$warning-bg;}
.table-danger{ background-color:$danger-bg;}

.table-hover tr:hover{
	background-color:darken(#fff,4%);
	&.table-active,.table-active{ background-color:darken($secondary-bg,4%);}
	&.table-primary,.table-primary{ background-color:darken($primary-bg,4%);}
	&.table-success,.table-success{ background-color:darken($success-bg,4%);}
	&.table-info,.table-info{ background-color:darken($info-bg,4%);}
	&.table-warning,.table-warning{ background-color:darken($warning-bg,4%);}
	&.table-danger,.table-danger{ background-color:darken($danger-bg,4%);}
}
.table-hover{
	.table-active:hover{ background-color:darken($secondary-bg,4%);}
	.table-primary:hover{ background-color:darken($primary-bg,4%);}
	.table-success:hover{ background-color:darken($success-bg,4%);}
	.table-info:hover{ background-color:darken($info-bg,4%);}
	.table-warning:hover{ background-color:darken($warning-bg,4%);}
	.table-danger:hover{ background-color:darken($danger-bg,4%);}
}
.table-odd{ background-color:darken(#fff,1%);}
.table-odd-hover{ background-color:darken(#fff,5%);}
.table-odd-active{background-color:darken($secondary-bg,1%);}
.table-odd-primary{ background-color:darken($primary-bg,1%);}
.table-odd-success{ background-color:darken($success-bg,1%);}
.table-odd-info{ background-color:darken($info-bg,1%);}
.table-odd-warning{ background-color:darken($warning-bg,1%);}
.table-odd-danger{ background-color:darken($danger-bg,1%);}
.table-odd-active-hover{background-color:darken($secondary-bg,5%);}
.table-odd-primary-hover{ background-color:darken($primary-bg,5%);}
.table-odd-success-hover{ background-color:darken($success-bg,5%);}
.table-odd-info-hover{ background-color:darken($info-bg,5%);}
.table-odd-warning-hover{ background-color:darken($warning-bg,5%);}
.table-odd-danger-hover{ background-color:darken($danger-bg,5%);}

.table-striped>tbody>tr:nth-of-type(odd){
	@extend .table-odd;
	.table-active,&.table-active{
		@extend .table-odd-active;
	}
	.table-primary,&.table-primary{
		@extend .table-odd-primary;
	}
	.table-success,&.table-success{
		@extend .table-odd-success;
	}
	.table-info,&.table-info{
		@extend .table-odd-info;
	}
	.table-warning,&.table-warning{
		@extend .table-odd-warning;
	}
	.table-danger,&.table-danger{
		@extend .table-odd-danger;
	}
}
.table-striped.table-hover>tbody>tr:nth-of-type(odd),
.table-striped>tbody.table-hover>tr:nth-of-type(odd){
	&:hover{
		@extend .table-odd-hover;
		.table-active,&.table-active{
			@extend .table-odd-active-hover;
		}
		.table-primary,&.table-primary{
			@extend .table-odd-primary-hover;
		}
		.table-success,&.table-success{
			@extend .table-odd-success-hover;
		}
		.table-info,&.table-info{
			@extend .table-odd-info-hover;
		}
		.table-warning,&.table-warning{
			@extend .table-odd-warning-hover;
		}
		.table-danger,&.table-danger{
			@extend .table-odd-danger-hover;
		}
	}
}

.table-responsive {
	position: relative;
	overflow-x: auto;
	margin: $margin-base 0;
}

.table-responsive .table {
	margin-top: 0;
	margin-bottom: 0;
}

.table-fixed{ table-layout: fixed;}