@use "../variables" as *;
@use "../mixins" as *;
@use "../functions" as *;

.table{
	margin:$margin-base 0;

	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: $table-bg;

	td,th{
		// relative会导致出现2重border
		padding:$table-cell-padding;
		line-height:$line-height-base;
		border-bottom:$table-border-width solid $table-border-color;
		background-clip:padding-box;
	}
}

.table-sm,.table-condensed{
	td,th{ padding:$table-cell-padding-sm;}
}
.table-xs {
	td,th{ padding:$table-cell-padding-xs;}
}
td,th {
	&.table-sm,&.table-condensed{
		padding:$table-cell-padding-sm;
	}
}
td,th {
	&.table-xs{
		padding:$table-cell-padding-xs;
	}
}

.table-bordered{
	&,& td, & th{ border:$table-border-width solid $table-border-color;}
}
@each $key, $color in $context {
	.table-#{$key}{ background-color:mix($color, $table-bg, 12%);}
}
@each $key, $color in $context {
	table.table-#{$key}{ background-color:mix($color, $table-bg, 1%);}
}
.table-active {
	background-color:mix($table-active, $table-bg, 12%);
}

.table-hover>tbody>tr:hover{
	background-color:darken($table-bg,4%);
}
@each $key, $color in $context {
	.table-hover>tbody>tr:hover>.table-#{$key},
	.table-hover>tbody>tr.table-#{$key}:hover{
		background-color:mix($color, $table-bg, 22%);
	}
	.table-#{$key}.table-hover>tbody>tr:hover,.table-#{$key}>tbody.table-hover>tr:hover{
		background-color:mix($color, $table-bg, 6%);
	}
}

.table-hover>tbody>tr:hover>.table-active,
.table-hover>tbody>tr.table-active:hover{
	background-color:mix($table-active, $table-bg, 26%);
}

.table-striped>tbody>tr:nth-of-type(odd){
	background:darken($table-bg,1%);
}
@each $key, $color in $context {
	.table-striped>tbody>tr:nth-of-type(odd)>.table-#{$key},
	.table-striped>tbody>tr.table-#{$key}:nth-of-type(odd){
		background:mix($color, $table-bg, 14%);
	}
	.table-#{$key}.table-striped>tbody>tr:nth-of-type(odd){
		background:mix($color, $table-bg, 4%);
	}
}
.table-striped>tbody>tr:nth-of-type(odd)>.table-active,
.table-striped>tbody>tr.table-active:nth-of-type(odd){
	background:mix($table-active, $table-bg, 16%);
}

.table-striped.table-hover>tbody>tr:nth-of-type(odd):hover{
	background:darken($table-bg,6%);
}
@each $key, $color in $context {
	.table-striped.table-hover>tbody>tr:nth-of-type(odd):hover>.table-#{$key},
	.table-striped.table-hover>tbody>tr.table-#{$key}:nth-of-type(odd):hover{
		background:mix($color, $table-bg, 24%);
	}
	.table-#{$key}.table-striped.table-hover>tbody>tr:nth-of-type(odd):hover{
		background:mix($color, $table-bg, 8%);
	}
}
.table-striped.table-hover>tbody>tr:nth-of-type(odd):hover>.table-active,
.table-striped.table-hover>tbody>tr.table-active:nth-of-type(odd):hover{
	background:mix($table-active, $table-bg, 30%);
}

.thead-inverse,.thead-dark{ background-color:$table-thead-inverse-bg; color: $dark-emphasis-text;}
.thead-subtle, .thead-light{ background-color:$table-thead-subtle-bg;}
@each $key, $color in $context {
	table.table-#{$key} .thead-inverse,
	.thead-inverse .table-#{$key} { background-color:$color; }
	table.table-#{$key} .thead-subtle,
	.thead-subtle .table-#{$key} { background-color:mix($color, #fff, 11%); }
}

.table-responsive {
	position: relative;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	margin: $margin-base 0;
	border:$table-border-width solid $table-border-color;
}

.table-responsive .table {
	margin: -1px 0;
}
.table-responsive .table-bordered {
	margin: -1px;
}
.table-responsive>.table {
	margin: 0;
	border: 0 none;
}
.table-responsive>.table>*>tr>*:last-child{
	border-right: 0 none;
}
.table-responsive>.table>*>tr>*:first-child{
	border-left: 0 none;
}
.table-responsive>.table>:first-child>tr:first-child>*{
	border-top: 0 none;
}
.table-responsive>.table>:last-child>tr:last-child>*{
	border-bottom: 0 none;
}

.table-fixed{ table-layout: fixed;}

@if $enable-dark {
	.dark {
		.table{ background: $table-dark-bg;}
		.table-responsive,.table, .table td, .table th{ border-color: $table-dark-border-color;}

		@each $key, $color in $dark-context {
			.table-#{$key}{ background-color:mix($color, $table-dark-bg, 12%);}
		}
		@each $key, $color in $dark-context {
			table.table-#{$key}{ background-color:mix($color, $table-dark-bg, 1%);}
		}
		.table-active {
			background-color:mix($table-active, $table-dark-bg, 12%);
		}

		.table-hover>tbody>tr:hover{
			background-color:lighten($table-dark-bg,4%);
		}
		@each $key, $color in $dark-context {
			.table-hover>tbody>tr:hover>.table-#{$key},
			.table-hover>tbody>tr.table-#{$key}:hover{
				background-color:mix($color, $table-dark-bg, 22%);
			}
			.table-#{$key}.table-hover>tbody>tr:hover,.table-#{$key}>tbody.table-hover>tr:hover{
				background-color:mix($color, $table-dark-bg, 6%);
			}
		}

		.table-hover>tbody>tr:hover>.table-active,
		.table-hover>tbody>tr.table-active:hover{
			background-color:mix($table-active, $table-dark-bg, 26%);
		}
		.table-striped>tbody>tr:nth-of-type(odd){
			background:lighten($table-dark-bg,1%);
		}
		@each $key, $color in $dark-context {
			.table-striped>tbody>tr:nth-of-type(odd)>.table-#{$key},
			.table-striped>tbody>tr.table-#{$key}:nth-of-type(odd){
				background:mix($color, $table-dark-bg, 14%);
			}
			.table-#{$key}.table-striped>tbody>tr:nth-of-type(odd){
				background:mix($color, $table-dark-bg, 4%);
			}
		}
		.table-striped>tbody>tr:nth-of-type(odd)>.table-active,
		.table-striped>tbody>tr.table-active:nth-of-type(odd){
			background:mix($table-active, $table-dark-bg, 16%);
		}

		.table-striped.table-hover>tbody>tr:nth-of-type(odd):hover{
			background:lighten($table-dark-bg,6%);
		}
		@each $key, $color in $dark-context {
			.table-striped.table-hover>tbody>tr:nth-of-type(odd):hover>.table-#{$key},
			.table-striped.table-hover>tbody>tr.table-#{$key}:nth-of-type(odd):hover{
				background:mix($color, $table-dark-bg, 24%);
			}
			.table-#{$key}.table-striped.table-hover>tbody>tr:nth-of-type(odd):hover{
				background:mix($color, $table-dark-bg, 8%);
			}
		}
		.table-striped.table-hover>tbody>tr:nth-of-type(odd):hover>.table-active,
		.table-striped.table-hover>tbody>tr.table-active:nth-of-type(odd):hover{
			background:mix($table-active, $table-dark-bg, 30%);
		}
		.thead-inverse{ background-color: $table-dark-thead-inverse-bg; color: $dark-body-bg;}
		.thead-subtle{ background-color:$table-dark-thead-subtle-bg;}
		@each $key, $color in $dark-context {
			table.table-#{$key} .thead-inverse,
			.thead-inverse .table-#{$key} { background-color:$color; }
			table.table-#{$key} .thead-subtle,
			.thead-subtle .table-#{$key} { background-color:mix($color, #fff, 11%); }
		}
	}
}
