@use "../variables" as *;
@use "../mixins" as *;

.list-unstyled, .text-body-secondary{ padding-left:0; list-style:none;}

.list-inline{ padding-left:0; margin-left:-5px; list-style:none;}
.list-inline-item{ display:inline-block; *zoom:1; *display:inline; padding-right:5px; padding-left:5px;}
@media all and (min-width:0px){
	.list-inline{ font-size:0;}
	.list-inline>li{ font-size:$font-size-base;}
}

.dl-horizontal{
	@include clearfix;
}
.dl-horizontal dt{ float:left; width:160px; clear:left; text-align:right; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.dl-horizontal dd{ margin-left:180px;}
@media (max-width:640px){
	.dl-horizontal dt{ float:none; width:auto; text-align:inherit;}
	.dl-horizontal dd{ margin-left:0;}
}

.initialism{
	font-size: 90%;
	text-transform: uppercase;
}

.pre-scrollable {
	max-height: $pre-scrollable-max-height;
	overflow-y: scroll;
}

pre code{ font-size:1em; border-radius:0; color:$theme-primary-text; border:0 none;}
pre code,
pre.code{
	background:#f4f0f9;
	padding:10px;
	padding-left:13px + 17px;
	border-left:5px solid #55bb8a;
	font-size:13px;
	display:block;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}
@supports selector(:has(*)) {
	pre.code:has(>.line) {
		counter-reset: line;
		position: relative;
	}
	pre.code>.line::before {
		counter-increment: line;
		content: counter(line);
		display: block;
		text-align: right;
		color: #94a3b8;
		user-select: none;
		white-space: nowrap;
		position: absolute;
		left: 0;
		width: 13px + 8px;
	}
	pre.code:has(>.line:nth-child(100)) {
		padding-left: 13px * 1.5 + 17px;
	}
	pre.code:has(>.line:nth-child(100))>.line::before {
		width: 13px * 1.5+ 8px;
	}
	pre.code:has(>.line:nth-child(1000)) {
		padding-left: 13px * 2 + 17px;
	}
	pre.code:has(>.line:nth-child(1000))>.line::before {
		width: 13px * 2 + 8px;
	}
}
