@charset "utf-8";
/* CSS Document */
.text-primary{ color:#337ab7;}
.bg-primary{ color:#fff; background-color:#337ab7;}
a.bg-primary:hover{ background-color:#286090;}

.btn{ -moz-box-shadow:0 1px 4px rgba(0,0,0,.32);-webkit-box-shadow:0 1px 4px rgba(0,0,0,.32);box-shadow:0 1px 4px rgba(0,0,0,.32);}
.btn:hover{ -moz-box-shadow:0 4px 8px rgba(0,0,0,.28);-webkit-box-shadow:0 4px 8px rgba(0,0,0,.28);box-shadow:0 4px 8px rgba(0,0,0,.28);}
html>body .disabled.btn{ background-color:#ddd; border-color:#ddd; color:#fff; -moz-box-shadow:box-shadow:0 0 0 #000;-webkit-box-shadow:0 0 0 #000;box-shadow:0 0 0 #000;}

.btn-outline{ color:#333; border-color:#337ab7; -moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.btn-outline:hover,input.btn-outline:focus,button.btn-outline:focus{ color:#333; background-color:#fff;
-moz-box-shadow:0 1px 4px rgba(0,0,0,.32);-webkit-box-shadow:0 1px 4px rgba(0,0,0,.32);box-shadow:0 1px 4px rgba(0,0,0,.32);}
.btn-default,.btn-outline{ border-color:#337ab7;}
.btn-default:hover,input.btn-default:focus,button.btn-default:focus,
.btn-outline:hover,input.btn-outline:focus,button.btn-outline:focus{ border-color:#286090;}
@media all and (min-width:0px){
	.btn-default,.btn-default:hover,input.btn-default:focus,button.btn-default:focus,
	.btn-outline,.btn-outline:hover,input.btn-outline:focus,button.btn-outline:focus{ border-color:#fff;}
}
.btn-default:hover,.btn-outline:hover,input.btn-default:focus,button.btn-default:focus,input.btn-outline:focus,button.btn-outline:focus{ background-color:#fff;}
.btn-primary,.btn-primary:hover,input.btn-primary:focus,button.btn-primary:focus{ background-color:#337ab7; border-color:#337ab7;}
.btn-success,.btn-success:hover,input.btn-success:focus,button.btn-success:focus{ border-color:#5cb85c;}
.btn-info,.btn-info:hover,input.btn-info:focus,button.btn-info:focus{ border-color:#5bc0de;}
.btn-warning,.btn-warning:hover,input.btn-warning:focus,button.btn-warning:focus{ border-color:#f0ad4e;}
.btn-danger,.btn-danger:hover,input.btn-danger:focus,button.btn-danger:focus{ border-color:#c9302c;}
.btn-inverse,.btn-inverse:hover,input.btn-inverse:focus,button.btn-inverse:focus{ border-color:#333;}
