@charset "utf-8";
/* CSS Document */
.text-primary{ color:#022e2b;}
a.text-primary:hover,p.text-primary a:hover{ color:#000000;}
.brand-primary{ color:#009688;}
.bg-primary{ background-color:#009688;}
a.bg-primary:hover,.bg-primary a:hover{ background-color:#00635a;}
.border-primary{ border-color:#007d71;}

.btn-outline{ color:#333; background-color:#fff; border-color:#fff; _border-color:#ccc;}
.btn-outline:hover{ color:#333; background-color:#fff; border-color:#ccc;}

@media all and (min-width:0px){
	.btn{ -moz-box-shadow:0 1px 4px rgba(0,0,0,.32);-webkit-box-shadow:0 1px 4px rgba(0,0,0,.32);box-shadow:0 1px 4px rgba(0,0,0,.32);}
	.btn:hover{ -moz-box-shadow:0 2px 9px rgba(0,0,0,.38);-webkit-box-shadow:0 2px 9px rgba(0,0,0,.38);box-shadow:0 2px 9px rgba(0,0,0,.38);}

	.btn-outline{ -moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
	.btn-outline:hover{	-moz-box-shadow:0 1px 4px rgba(0,0,0,.32);-webkit-box-shadow:0 1px 4px rgba(0,0,0,.32);box-shadow:0 1px 4px rgba(0,0,0,.32);}
	
	.btn-default,.btn-default:hover,
	.btn-outline,.btn-outline:hover{ border-color:#fff;}

	html input.btn:focus,html button.btn:focus{ border-color:rgba(0,0,0,.2); border-style:dotted;}
}
.btn-primary,.btn-primary:hover{ background-color:#009688; border-color:#009688;}
.btn-success,.btn-success:hover{ background-color:#5cb85c; border-color:#5cb85c;}
.btn-info,.btn-info:hover{ background-color:#5bc0de; border-color:#5bc0de;}
.btn-warning,.btn-warning:hover{ background-color:#f0ad4e; border-color:#f0ad4e;}
.btn-danger,.btn-danger:hover{ background-color:#d9534f; border-color:#d9534f;}
.btn-inverse,.btn-inverse:hover{ background-color:#444; border-color:#444;}

html .btn-disabled,html .btn-disabled:hover{ background-color:#ddd; border-color:#ddd; -moz-box-shadow:none;box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}