@charset "utf-8";
/* CSS Document */
.text-primary{ color:<%=darken(theme['primary'],0.2).saturate(-0.07)%>;}
a.text-primary:hover,p.text-primary a:hover{ color:<%=darken(theme['primary'],0.3).saturate(-0.07)%>;}
.brand-primary{ color:<%=theme['primary']%>;}
.bg-primary{ background-color:<%=theme['primary']%>;}
a.bg-primary:hover,.bg-primary a:hover{ background-color:<%=darken(theme['primary'],0.1)%>;}
.border-primary{ border-color:<%=darken(theme['primary'],0.05)%>;}

.btn-outline{ color:<%=theme['primary']%>; border-color:<%=theme['primary']%>;}
.btn-outline:hover{ background-color:<%=theme['primary']%>; border-color:<%=theme['primary']%>;}
.btn-primary{ background-color:<%=theme['primary']%>; border-color:<%=darken(theme['primary'], 0.05)%>;}
.btn-primary:hover{ background-color:<%=darken(theme['primary'], 0.1)%>; border-color:<%=darken(theme['primary'], 0.17)%>;}