@charset "utf-8";
/* CSS Document */
.text-primary{ color:<%=darken(theme['primary'],0.2).saturate(-0.07)%>;}
a.text-primary:hover,p.text-primary a:hover{ color:<%=darken(theme['primary'],0.3).saturate(-0.07)%>;}
.brand-primary{ color:<%=theme['primary']%>;}
.bg-primary{ background-color:<%=theme['primary']%>;}
a.bg-primary:hover,.bg-primary a:hover{ background-color:<%=darken(theme['primary'],0.1)%>;}
.border-primary{ border-color:<%=darken(theme['primary'],0.05)%>;}

.btn-outline{ color:#333; background-color:#fff; border-color:#fff; _border-color:#ccc;}
.btn-outline:hover{ color:#333; background-color:#fff; border-color:#ccc;}

@media all and (min-width:0px){
	.btn{ -moz-box-shadow:0 1px 4px rgba(0,0,0,.32);-webkit-box-shadow:0 1px 4px rgba(0,0,0,.32);box-shadow:0 1px 4px rgba(0,0,0,.32);}
	.btn:hover{ -moz-box-shadow:0 2px 9px rgba(0,0,0,.38);-webkit-box-shadow:0 2px 9px rgba(0,0,0,.38);box-shadow:0 2px 9px rgba(0,0,0,.38);}

	.btn-outline{ -moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
	.btn-outline:hover{	-moz-box-shadow:0 1px 4px rgba(0,0,0,.32);-webkit-box-shadow:0 1px 4px rgba(0,0,0,.32);box-shadow:0 1px 4px rgba(0,0,0,.32);}
	
	.btn-default,.btn-default:hover,
	.btn-outline,.btn-outline:hover{ border-color:#fff;}

	html input.btn:focus,html button.btn:focus{ border-color:rgba(0,0,0,.2); border-style:dotted;}
}
.btn-primary,.btn-primary:hover{ background-color:<%=theme['primary']%>; border-color:<%=theme['primary']%>;}
.btn-success,.btn-success:hover{ background-color:<%=$success%>; border-color:<%=$success%>;}
.btn-info,.btn-info:hover{ background-color:<%=$info%>; border-color:<%=$info%>;}
.btn-warning,.btn-warning:hover{ background-color:<%=$warning%>; border-color:<%=$warning%>;}
.btn-danger,.btn-danger:hover{ background-color:<%=$danger%>; border-color:<%=$danger%>;}
.btn-inverse,.btn-inverse:hover{ background-color:#444; border-color:#444;}

html .btn-disabled,html .btn-disabled:hover{ background-color:#ddd; border-color:#ddd; -moz-box-shadow:none;box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}