
@use '../variables' as *;
@use '../functions' as *;

@each $key, $color in $context {
	$bg: light-bg($color);
	.#{$key}{ background-color:$bg !important;}
	.text-#{$key}{ color:$color !important;}
	a.text-#{$key},.text-#{$key} a{ color:darken($color,10%) !important;}
	a.text-#{$key}:hover,.text-#{$key} a:hover{ color:darken($color,15%) !important;}
	.bg-#{$key},.text-bg-#{$key}{ background-color:$color !important;}
	.text-bg-#{$key},.text-bg-#{$key} a,.text-bg-#{$key} a:hover{ color:#fff;}
	.border-#{$key}{ border-color:$color !important;}
}
