
@each $index, $size in $spacers {
	.m-#{$index} { margin:$size !important; }
	.mt-#{$index},.my-#{$index} { margin-top:$size !important; }
	.mb-#{$index},.my-#{$index} { margin-bottom:$size !important; }
	.ml-#{$index},.mx-#{$index} { margin-left:$size !important; }
	.mr-#{$index},.mx-#{$index} { margin-right:$size !important; }
	.p-#{$index} { padding:$size !important; }
	.pt-#{$index},.py-#{$index} { padding-top:$size !important; }
	.pb-#{$index},.py-#{$index} { padding-bottom:$size !important; }
	.pl-#{$index},.px-#{$index} { padding-left:$size !important; }
	.pr-#{$index},.px-#{$index} { padding-right:$size !important; }
}