
@for $i from 2 through 5 {
	.line-#{$i} {
		text-overflow: ellipsis;
		-webkit-line-clamp: $i;
		overflow: hidden;
		height: $line-height-base/$font-size-base * $i * 1em;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
}