<!--BORDERBOX-->
<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit"/>
	<title>对齐 - 布局 - Ting UI</title>
	<link href="../ting/ting.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="../ting/font-awesome.css"/>
	<script src="../ting/html5.js"></script>
	<script src="../ting/jquery.js"></script>
	<script src="../ting/ting.js"></script>
	</head>
	<body>
		<header>
			<div class="navbar navbar-top" role="navbar">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle fa icon-lg">&#xf0c9;</button>
						<a href="../index.html" class="navbar-brand"><img height="37" src="../images/logo.png"/><span class="line-middle">Ting Web UI</span></a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link" href="../getting-started/index.html">起步</a></li><li class="nav-item active"><a class="nav-link" href="../layout/index.html">布局</a></li><li class="nav-item"><a class="nav-link" href="../content/index.html">页面内容</a></li><li class="nav-item"><a class="nav-link" href="../form/index.html">表单</a></li><li class="nav-item"><a class="nav-link" href="../helpers/index.html">助手</a></li><li class="nav-item"><a class="nav-link" href="../components/index.html">组件</a></li><li class="nav-item"><a class="nav-link" href="../utilities/index.html">工具类</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
					<h1 class="h1">Ting Web UI</h1>
					<p>简洁、直观、强悍、跨浏览器的前端开发框架，让web开发更迅速、简单。</p>
				</div>
			</div>
		</header>
		<div class="container">
<h1 class="page-header" id="对齐">对齐</h1>
<p>多种对齐方式，包括块级居中、垂直对齐等。</p>
<h2 class="page-header" id="块级居中">块级居中</h2>
<p>使用 <code>.center-block</code> 将任意元素设置为 <code>display: block</code> 并通过 <code>margin</code> 居中显示。</p>

<div class="tabs" role="tabbable">
  <ul class="nav nav-indicator">
    <li class="nav-item active"><a class="nav-link" href="javascript:void(0)">演示</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">代码</a></li>
  </ul>
  <div class="tabs-content">
    <div class="tabs-pane tabs-active"><div style="height:80px; background:#eee; margin-bottom:20px; padding:0 200px;">
  <div class="center-block" style="width:150px; background-color:#ccc;">
    center-block<br/>该 div 显示在中间
  </div>
</div></div>
    <div class="tabs-pane"><pre class="code m-0"><span class="line"><font color="#24292E">&lt;</font><font color="#22863A">div</font><font color="#24292E"> </font><font color="#6F42C1">style</font><font color="#24292E">=</font><font color="#032F62">&quot;height:80px; background:#eee; margin-bottom:20px; padding:0 200px;&quot;</font><font color="#24292E">&gt;</font></span>
<span class="line"><font color="#24292E">  &lt;</font><font color="#22863A">div</font><font color="#24292E"> </font><font color="#6F42C1">class</font><font color="#24292E">=</font><font color="#032F62">&quot;center-block&quot;</font><font color="#24292E"> </font><font color="#6F42C1">style</font><font color="#24292E">=</font><font color="#032F62">&quot;width:150px; background-color:#ccc;&quot;</font><font color="#24292E">&gt;</font></span>
<span class="line"><font color="#24292E">    center-block&lt;</font><font color="#22863A">br</font><font color="#24292E">/&gt;该 div 显示在中间</font></span>
<span class="line"><font color="#24292E">  &lt;/</font><font color="#22863A">div</font><font color="#24292E">&gt;</font></span>
<span class="line"><font color="#24292E">&lt;/</font><font color="#22863A">div</font><font color="#24292E">&gt;</font></span>
</pre></div>
  </div>
</div><h2 class="page-header" id="垂直对齐">垂直对齐</h2>
<p>使用 <code>.vertical-align</code> 容器配合 <code>.vertical-align-middle</code> 或 <code>.vertical-align-bottom</code> 实现垂直居中或底部对齐。</p>
<h3 id="垂直居中">垂直居中</h3>

<div class="tabs" role="tabbable">
  <ul class="nav nav-indicator">
    <li class="nav-item active"><a class="nav-link" href="javascript:void(0)">演示</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">代码</a></li>
  </ul>
  <div class="tabs-content">
    <div class="tabs-pane tabs-active"><div class="vertical-align" style="height:80px; background:#eee; margin-bottom:20px;">
  <div class="vertical-align-middle">vertical-align-middle</div>
</div></div>
    <div class="tabs-pane"><pre class="code m-0"><span class="line"><font color="#24292E">&lt;</font><font color="#22863A">div</font><font color="#24292E"> </font><font color="#6F42C1">class</font><font color="#24292E">=</font><font color="#032F62">&quot;vertical-align&quot;</font><font color="#24292E"> </font><font color="#6F42C1">style</font><font color="#24292E">=</font><font color="#032F62">&quot;height:80px; background:#eee; margin-bottom:20px;&quot;</font><font color="#24292E">&gt;</font></span>
<span class="line"><font color="#24292E">  &lt;</font><font color="#22863A">div</font><font color="#24292E"> </font><font color="#6F42C1">class</font><font color="#24292E">=</font><font color="#032F62">&quot;vertical-align-middle&quot;</font><font color="#24292E">&gt;vertical-align-middle&lt;/</font><font color="#22863A">div</font><font color="#24292E">&gt;</font></span>
<span class="line"><font color="#24292E">&lt;/</font><font color="#22863A">div</font><font color="#24292E">&gt;</font></span>
</pre></div>
  </div>
</div><h3 id="底部对齐">底部对齐</h3>

<div class="tabs" role="tabbable">
  <ul class="nav nav-indicator">
    <li class="nav-item active"><a class="nav-link" href="javascript:void(0)">演示</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">代码</a></li>
  </ul>
  <div class="tabs-content">
    <div class="tabs-pane tabs-active"><div class="vertical-align" style="height:80px; background:#eee; margin-bottom:20px;">
  <div class="vertical-align-bottom">vertical-align-bottom</div>
</div></div>
    <div class="tabs-pane"><pre class="code m-0"><span class="line"><font color="#24292E">&lt;</font><font color="#22863A">div</font><font color="#24292E"> </font><font color="#6F42C1">class</font><font color="#24292E">=</font><font color="#032F62">&quot;vertical-align&quot;</font><font color="#24292E"> </font><font color="#6F42C1">style</font><font color="#24292E">=</font><font color="#032F62">&quot;height:80px; background:#eee; margin-bottom:20px;&quot;</font><font color="#24292E">&gt;</font></span>
<span class="line"><font color="#24292E">  &lt;</font><font color="#22863A">div</font><font color="#24292E"> </font><font color="#6F42C1">class</font><font color="#24292E">=</font><font color="#032F62">&quot;vertical-align-bottom&quot;</font><font color="#24292E">&gt;vertical-align-bottom&lt;/</font><font color="#22863A">div</font><font color="#24292E">&gt;</font></span>
<span class="line"><font color="#24292E">&lt;/</font><font color="#22863A">div</font><font color="#24292E">&gt;</font></span>
</pre></div>
  </div>
</div><h2 class="page-header" id="混合使用">混合使用</h2>
<p>可同时使用图片和文字的垂直居中：</p>

<div class="tabs" role="tabbable">
  <ul class="nav nav-indicator">
    <li class="nav-item active"><a class="nav-link" href="javascript:void(0)">演示</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">代码</a></li>
  </ul>
  <div class="tabs-content">
    <div class="tabs-pane tabs-active"><div class="vertical-align" style="height:100px; background:#eee;">
  <img class="vertical-align-middle" src="../images/logo.png" width="48" height="48"/>
  <span class="vertical-align-middle">多行文字<br/>垂直<br/>居中</span>
</div></div>
    <div class="tabs-pane"><pre class="code m-0"><span class="line"><font color="#24292E">&lt;</font><font color="#22863A">div</font><font color="#24292E"> </font><font color="#6F42C1">class</font><font color="#24292E">=</font><font color="#032F62">&quot;vertical-align&quot;</font><font color="#24292E"> </font><font color="#6F42C1">style</font><font color="#24292E">=</font><font color="#032F62">&quot;height:100px; background:#eee;&quot;</font><font color="#24292E">&gt;</font></span>
<span class="line"><font color="#24292E">  &lt;</font><font color="#22863A">img</font><font color="#24292E"> </font><font color="#6F42C1">class</font><font color="#24292E">=</font><font color="#032F62">&quot;vertical-align-middle&quot;</font><font color="#24292E"> </font><font color="#6F42C1">src</font><font color="#24292E">=</font><font color="#032F62">&quot;../images/logo.png&quot;</font><font color="#24292E"> </font><font color="#6F42C1">width</font><font color="#24292E">=</font><font color="#032F62">&quot;48&quot;</font><font color="#24292E"> </font><font color="#6F42C1">height</font><font color="#24292E">=</font><font color="#032F62">&quot;48&quot;</font><font color="#24292E">/&gt;</font></span>
<span class="line"><font color="#24292E">  &lt;</font><font color="#22863A">span</font><font color="#24292E"> </font><font color="#6F42C1">class</font><font color="#24292E">=</font><font color="#032F62">&quot;vertical-align-middle&quot;</font><font color="#24292E">&gt;多行文字&lt;</font><font color="#22863A">br</font><font color="#24292E">/&gt;垂直&lt;</font><font color="#22863A">br</font><font color="#24292E">/&gt;居中&lt;/</font><font color="#22863A">span</font><font color="#24292E">&gt;</font></span>
<span class="line"><font color="#24292E">&lt;/</font><font color="#22863A">div</font><font color="#24292E">&gt;</font></span>
</pre></div>
  </div>
</div>
		</div>
		<footer class="footer">
            <p>本项目是一个全局公用CSS库.</p>
            <p>源码基于 <a rel="license" href="https://github.com/linsk1998/ting/blob/master/LICENSE" target="_blank">MIT</a>开源协议。</p>
        </footer>
	</body>
</html>