.valign:after {
	width: 0;
	overflow: hidden;
	content: "|";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio:0) {
	.valign.inline-block{
		display:-webkit-inline-box; display:inline-flex;
		-webkit-box-align:center; align-items:center;
		-webkit-box-pack:center; justify-content:center;
	}
}
@media screen\9{
	.valign{ *overflow:hidden;}
	.valign .valign-middle{ *vertical-align:top; *position:relative; *zoom:1; *display:inline; *top:#{"expression(Math.max(Math.round(this.parentNode.clientHeight/2-this.offsetHeight/2),0)+'px')"};}
	.valign .valign-bottom{ *vertical-align:top; *position:relative; *zoom:1; *display:inline; *top:#{"expression(Math.max(this.parentNode.clientHeight-this.offsetHeight,0)+'px')"};}
}
.valign-top {
	vertical-align: top;
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.valign-middle {
	vertical-align: middle;
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.valign-bottom {
	vertical-align: bottom;
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.valign-sibling,
.line-middle {
	height:100%; 
	vertical-align:middle;
	display:inline-block;
	*zoom:1;
	*display:inline;
}
