@use '../variables' as *;
@use '../mixins' as *;

.container{
	@include container(1000px, 16px);
}
@media (min-width: $screen-lg) {
	.container{ width: $screen-lg - 32px;}
}
@media (min-width: $screen-lg) {
	.container{ width: $screen-lg - 32px; }
}
@media (max-width: $screen-sm) {
	.container{ width:auto; }
}
.container-fluid {
	@include container(auto, 20px);
}
