@use '../variables' as *;
@use '../mixins' as *;

.container,
.container-md,
.container-sm {
	@include container(1002px);
}
.container-fluid,
.container-lg,
.container-xl {
	@include container-fluid(auto);
}
@media (min-width: $screen-lg) {
	.container,
	.container-md,
	.container-lg { width: 1134px; }
}
@media (min-width: $screen-xl) {
	.container,
	.container-md,
	.container-lg,
	.container-xl { width: 1362px; }
}
@media (max-width: $screen-sm) {
	.container,
	.container-md,
	.container-lg,
	.container-xl { width:auto; }
	.container-sm { width:546px; }
}
@media (max-width: $screen-xs) {
	.container-sm { width:auto; }
}
