.abs-top{ position:absolute; top:0;}
.abs-middle{ position:absolute; top:50%;}
.abs-bottom{ position:absolute; top:100%;}
.abs-left{ position:absolute; left:0;}
.abs-center{ position:absolute; left:50%;}
.abs-right{ position:absolute; left:100%;}

.rel-middle{ position:relative; top:-50%;}
.rel-bottom{ position:relative; top:-100%;}
.rel-center{ position:relative; left:-50%;}
.rel-right{ position:relative; left:-100%;}

@media (min-width: 0) {
	.org-left{ transform: translateX(0%);}
	.org-center{ transform: translateX(-50%);}
	.org-right{ transform: translateX(-100%);}
	.org-top{ transform: translateY(0%);}
	.org-middle{ transform: translateY(-50%);}
	.org-bottom{ transform: translateY(-100%);}
	
	.org-left.org-top{ transform: translate(0%,0%);}
	.org-left.org-middle{ transform: translate(0%,-50%);}
	.org-left.org-bottom{ transform: translate(0%,-100%);}
	.org-center.org-top{ transform: translate(-50%,0%);}
	.org-center.org-middle{ transform: translate(-50%,-50%);}
	.org-center.org-bottom{ transform: translate(-50%,-100%);}
	.org-right.org-top{ transform: translate(-100%,0%);}
	.org-right.org-middle{ transform: translate(-100%,-50%);}
	.org-right.org-bottom{ transform: translate(-100%,-100%);}
}

/* IE7- */
@media screen\9 {
	.org-left{
		*margin-left:0;
	}
	.org-center{
		*margin-left:#{"expression(-this.offsetWidth/2+'px')"};
	}
	.org-right{
		*margin-left:#{"expression(-this.offsetWidth+'px')"};
	}
	.org-top{
		*margin-top:0;
	}
	.org-middle{
		*margin-top:#{"expression(-this.offsetHeight/2+'px')"};
	}
	.org-bottom{
		*margin-top:#{"expression(-this.offsetHeight+'px')"};
	}
}

// .org-em-left{ margin-left:0;}
// .org-em-center{ margin-left:expression(-this.offsetWidth/2+'px')}
// .org-em-right{ margin-left:expression(-this.offsetWidth/2+'px')}
// .org-em-top{ transform: translateY(0%);}
// .org-em-middle{ transform: translateY(-50%);}
// .org-em-bottom{ transform: translateY(-100%);}