.btn{
	vertical-align:middle;
	@include btn;
	@include rounded(0);
	transition:border-color,background-color,color,box-shadow .4s;
	@include btn-has-icon;
}
input.btn,button.btn{
	@include btn-button;
}
a.btn,label.btn,div.btn,span.btn{
	@include btn-anchor;
}
.btn{ @include btn-md;}
.btn-lg{ @include btn-lg;}
.btn-sm{ @include btn-sm;}
.btn-xs{ @include btn-xs;}
.btn-round{
	@include btn-round;
}

.btn-default{ @include btn-default;}
.btn-primary{ @include btn-primary;}
.btn-success{ @include btn-success;}
.btn-info{ @include btn-info;}
.btn-warning{ @include btn-warning;}
.btn-danger{ @include btn-danger;}
.btn-dark{ @include btn-dark;}
.btn-outline,.btn-outline-primary{ @include btn-outline;}
.btn-outline-success{ @include btn-outline($success);}
.btn-outline-info{ @include btn-outline($info);}
.btn-outline-warning{ @include btn-outline($warning);}
.btn-outline-danger{ @include btn-outline($danger);}
.btn-outline-dark{ @include btn-outline($dark);}
input.btn:focus,button.btn:focus{ border-color:#000;}
label.btn:focus-within{ border-color:#000; z-index: $level-item-focus;}
a.btn:focus{ border-color:#000;}


input.btn-block,button.btn-block,a.btn-block,label.btn-block{ @include btn-block; margin:$margin-base 0}

.btn-label{ @include btn-label;}
.btn-icon,.btn-icon-left,.btn-icon-right{ @include btn-icon;}
.btn-icon-left{ margin-right:4px;}
.btn-icon-right{ margin-left:4px;}
i.btn-icon,i.btn-icon-left,i.btn-icon-right{
	width:1em; height:1em; line-height:1em; text-align:center;
}
.btn-loading{
	cursor:not-allowed !important;
	pointer-events: none;
}
@media (min-width:0){
	.btn-loading{
		opacity:0.65;
	}
}
@media \0screen\,screen\9 {
	html body .btn.btn-loading,
	html body .btn.btn-loading:hover,
	html body .btn.btn-loading:focus{
		background-color: #eee;
		border-color: darken(#eee, 5%);
		color: #a0a0a0;
	}
	html body .btn-loading{
		img.btn-icon,img.btn-icon-left,img.btn-icon-right{
			filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) alpha(opacity=60); 
		}
		.caret{
			filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) alpha(opacity=40); 
		}
	}
}
@media (min-width:0\0) and (min-resolution:.001dpcm) {
	/*ie9*/
	html body .btn.btn-loading{
		background-color: #eee;
		border-color: darken(#eee, 5%);
		color: #a0a0a0;
		opacity: 1;
	}
	html body .btn-loading{
		img.btn-icon,img.btn-icon-left,img.btn-icon-right{
			filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
			opacity: .6;
		}
		.caret{
			opacity: .4;
		}
	}
}

html body .btn-disabled,
html body .btn-disabled:hover,
html body .btn-disabled:focus{
	background: #ddd;
	border-color: darken(#dddddd, 5%);
	color: #a0a0a0;
	cursor:not-allowed;
	text-shadow:1px 1px #fff;
}
html body .btn-disabled{
	.btn-icon,.btn-icon-left,.btn-icon-right{
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
		filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) alpha(opacity=60); 
		opacity: .6;
	}
	.caret{
		filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) alpha(opacity=40); 
		opacity: .4;
	}
}
