@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.btn{
	vertical-align:middle;
	@include btn;
	@include rounded(0);
}
input.btn,button.btn{
	@include btn-button;
}
a.btn,label.btn,div.btn,span.btn{
	@include btn-anchor;
}
@media (-webkit-min-device-pixel-ratio:0){
	.btn{
		display:-webkit-inline-box; display:inline-flex;
		-webkit-box-align:center; align-items:center;
		-webkit-box-pack:center; justify-content:center;
	}
}
a,label {
	&.btn,&.btn-square{ padding:($ctrl-height-md - $ctrl-border-width * 2 - $ctrl-line-height) * .5 $btn-padding-x-md;}
	&.btn-lg,&.btn-square-lg{ padding:($ctrl-height-lg - $ctrl-border-width * 2 - $ctrl-line-height) * .5 $btn-padding-x-lg;}
	&.btn-xl,&.btn-square-xl{ padding:($ctrl-height-xl - $ctrl-border-width * 2 - $ctrl-line-height) * .5 $btn-padding-x-xl;}
	&.btn-sm,&.btn-square-sm{ padding:($ctrl-height-sm - $ctrl-border-width * 2 - $ctrl-line-height) * .5 $btn-padding-x-sm;}
	&.btn-xs,&.btn-square-xs{ padding:($ctrl-height-xs - $ctrl-border-width * 2 - $ctrl-line-height) * .5 $btn-padding-x-xs;}
}
input,button {
	&.btn,&.btn-square{ height: $ctrl-height-md; padding: 0 $btn-padding-x-md;}
	&.btn-lg,&.btn-square-lg{ height: $ctrl-height-lg; padding: 0 $btn-padding-x-lg;}
	&.btn-xl,&.btn-square-xl{ height: $ctrl-height-xl; padding: 0 $btn-padding-x-xl;}
	&.btn-sm,&.btn-square-sm{ height: $ctrl-height-sm; padding: 0 $btn-padding-x-sm;}
	&.btn-xs,&.btn-square-xs{ height: $ctrl-height-xs; padding: 0 $btn-padding-x-xs;}
}

html .btn-round{
	@include btn-round;
}
html .btn-square {
	padding-left: 0;
	padding-right: 0;
	width: $ctrl-height-md;
}
html .btn-square-lg {
	padding-left: 0;
	padding-right: 0;
	width: $ctrl-height-lg;
}
html .btn-square-xl {
	padding-left: 0;
	padding-right: 0;
	width: $ctrl-height-xl;
}
html .btn-square-sm {
	padding-left: 0;
	padding-right: 0;
	width: $ctrl-height-sm;
}
html .btn-square-xs {
	padding-left: 0;
	padding-right: 0;
	width: $ctrl-height-xs;
}

.btn-default:hover{
	color:$light-body-text;
	border-color:darken($btn-border-color,10%);
}
.btn-default,.btn-loading.btn-default{
	color:$light-body-text;
	background-color:#fff;
	border-color:$btn-border-color;
}
@each $key, $color in $context {
	.btn-#{$key}:hover{
		color:#fff;
		background-color:darken($color,10%);
		border-color:darken($color,17%);
		z-index: $level-item-hover;
	}
	.btn-#{$key},.btn-loading.btn-#{$key}{ 
		color:#fff;
		background-color:$color;
		border-color:darken($color, 5%);
	}
}
@each $key, $color in $context {
	.btn-outline-#{$key}:hover{
		color:#fff;
		background-color:darken($color,10%);
		border-color:darken($color,17%);
		z-index: $level-item-hover;
	}
	.btn-outline-#{$key},.btn-loading.btn-outline-#{$key}{
		color:$color;
		background:none;
		border-color:$color;
	}
}
input.btn:focus,button.btn:focus{
	outline: 1px solid #000;
	outline-offset: -1px;
}

input.btn-block,button.btn-block,a.btn-block,label.btn-block{
	@include btn-block; margin:$margin-base 0;
}

.btn-label{ @include btn-label;}
.btn-icon,.btn-icon-left,.btn-icon-right{ @include btn-icon;}
.btn-icon-left{ margin-right:4px;}
.btn-icon-right{ margin-left:4px;}
i.btn-icon,i.btn-icon-left,i.btn-icon-right{
	width:1em; height:1em; line-height:1em; text-align:center;
}
.btn-loading{
	cursor:not-allowed !important;
	pointer-events: none;
	@include opacity(0.65);
}

html body .btn-disabled,
html body .btn-disabled:hover,
html body .btn-disabled:focus{
	background: $btn-disabled-bg;
	border-color: $btn-disabled-border-color;
	color: $btn-disabled-color;
	cursor:not-allowed;
	text-shadow:1px 1px #fff;
	z-index: 0;
}
html body .btn-disabled{
	.btn-icon,.btn-icon-left,.btn-icon-right{
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
		filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) alpha(opacity=60); 
		opacity: .6;
	}
	.caret{
		filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) alpha(opacity=40); 
		opacity: .4;
	}
}

@if $enable-dark {
	.dark {
		.btn-default,
		.btn-loading.btn-default {
			color: $dark-btn-default-color;
			background: $dark-btn-default-bg;
			border-color: $dark-btn-default-border-color;
		}
		.btn-default:hover {
			color: $dark-emphasis-text;
			border-color: lighten($dark-btn-default-border-color, 10%);
		}
		@each $key, $color in $dark-context {
			.btn-#{$key}:hover {
				color: #000;
				background-color: lighten($color, 10%);
				border-color: lighten($color, 17%);
				z-index: $level-item-hover;
			}
			.btn-#{$key},
			.btn-loading.btn-#{$key} {
				color: #000;
				background-color: $color;
				border-color: lighten($color, 5%);
			}
		}
		@each $key, $color in $dark-context {
			.btn-outline-#{$key}:hover {
				color: #000;
				background-color: lighten($color, 10%);
				border-color: lighten($color, 17%);
				z-index: $level-item-hover;
			}
			.btn-outline-#{$key},
			.btn-loading.btn-outline-#{$key} {
				color: $color;
				background: none;
				border-color: $color;
			}
		}
		input.btn:focus,
		button.btn:focus {
			outline-color: #fff;
		}
	}
	html.dark .btn-disabled,
	html.dark .btn-disabled:hover,
	html.dark .btn-disabled:focus,
	html .dark .btn-disabled,
	html .dark .btn-disabled:hover,
	html .dark .btn-disabled:focus {
		color: $dark-btn-disabled-color;
		background: $dark-btn-disabled-bg;
		border-color: $dark-btn-disabled-border-color;
		text-shadow: none;
	}
}
