.close{
	width:1em; text-align:center; display:inline-block;
	*zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='✕');
}
.close:empty:before{ content:"✕";}
.close,a.close{ color:#444;}
.close:hover{ text-decoration:none; cursor:pointer; color:#222;}
button.close{
	margin:0; padding:0;
	outline:none;
	-webkit-appearance:none;
	&::-moz-focus-inner{
		padding:0;
		border:0 none;
	}
	cursor:pointer; background:transparent; border:0 none;
}