@use '../variables' as *;
@use '../mixins' as *;

$dialog-border-width: 1px;
$dialog-box-shadow: 0 0 10px rgba(0,0,0,.2);
$dialog-header-padding-x: 16px;
$dialog-header-padding-y: 8px;
$dialog-body-padding-x: 16px;
$dialog-body-padding-y: 8px;
$dialog-footer-padding-x: 16px;
$dialog-footer-padding-y: 12px;
$dialog-width-xs: 300px;
$dialog-width-sm: 500px;
$dialog-width-md: 800px;
$dialog-width-lg: 1200px;
$dialog-width-xl: 1600px;

.dialog{
	text-align:left;
	display:inline-block;
	*zoom:1;
	*display:inline;
	background:$light-body-bg;
	vertical-align: middle;
	position:relative;
	border:$dialog-border-width solid $light-divider;
	@include box-shadow(0 0 10px rgba(0,0,0,.2));
	padding: 0;
}
.dialog-header{
	background:$light-tertiary-bg;
	border-bottom:$dialog-border-width solid $light-divider;
	padding:$dialog-header-padding-y $dialog-header-padding-x;
	padding-right: $dialog-header-padding-x + $font-size-base;
}
.dialog-header .close{
	position: absolute;
	top: $dialog-header-padding-y + ($line-height-base - $font-size-base) * .5;
	right: $dialog-header-padding-x;
}
.dialog-title{ margin:0;}

.dialog-body{
	padding:$dialog-body-padding-y $dialog-body-padding-x;
}
.dialog-footer{
	border-top:$dialog-border-width solid $light-divider;
	padding:$dialog-footer-padding-y $dialog-footer-padding-x;
	margin:0;
}
.dialog-primary .dialog-header{
	color:$light-body-bg;
	background-color:$light-primary;
	border-color:$light-primary;
}
.dialog-danger .dialog-header{ color:$light-body-bg; background-color:$light-danger; border-color:$light-danger;}
.dialog-warning .dialog-header{ color:$light-body-bg; background-color:$light-warning; border-color:$light-warning;}
.dialog-success .dialog-header{ color:$light-body-bg; background-color:$light-success; border-color:$light-success;}
.dialog-info .dialog-header{ color:$light-body-bg; background-color:$light-info; border-color:$light-info;}

.dialog-primary .dialog-header .close,
.dialog-danger .dialog-header .close,
.dialog-warning .dialog-header .close,
.dialog-success .dialog-header .close,
.dialog-info .dialog-header .close{ color:$light-secondary-bg; &:hover{ color:$light-body-bg;}}

.dialog-xs{ width:$dialog-width-xs;}
.dialog-sm{ width:$dialog-width-sm; max-width: 100%;}
.dialog-md{ width:$dialog-width-md; max-width: 100%;}
.dialog-lg{ width:$dialog-width-lg; max-width: 100%; _width:100%;}
.dialog-xl{ width:$dialog-width-xl; max-width: 100%; _width:100%;}

@if $enable-dark {
	.dark {
		.dialog {
			background: $dark-body-bg;
			border-color: $dark-divider;
			@include box-shadow(0 0 10px rgba($dark-divider, .5));
		}
		.dialog-header {
			background: $dark-tertiary-bg;
			border-bottom-color: $dark-divider;
		}
		.dialog-footer {
			border-top-color: $dark-divider;
		}
		.dialog-primary .dialog-header {
			color: $dark-body-bg;
			background: $dark-primary;
			border-color: $dark-primary;
		}
		.dialog-danger .dialog-header {
			color: $dark-body-bg;
			background: $dark-danger;
			border-color: $dark-danger;
		}
		.dialog-warning .dialog-header {
			color: $dark-body-bg;
			background: $dark-warning;
			border-color: $dark-warning;
		}
		.dialog-success .dialog-header {
			color: $dark-body-bg;
			background: $dark-success;
			border-color: $dark-success;
		}
		.dialog-info .dialog-header {
			color: $dark-body-bg;
			background: $dark-info;
			border-color: $dark-info;
		}
		.dialog-primary .dialog-header .close,
		.dialog-danger .dialog-header .close,
		.dialog-warning .dialog-header .close,
		.dialog-success .dialog-header .close,
		.dialog-info .dialog-header .close {
			color: $dark-secondary-bg;
			&:hover {
				color: $dark-body-bg;
			}
		}
	}
}

dialog.dialog {
	display: none;
}
dialog.dialog[open] {
	display: block;
	margin: auto;
	position: fixed;
}
.overlay dialog.dialog {
	display: inline-block;
	*zoom:1;
	*display:inline;
}
