
.dropdown{ position:relative;}
.dropdown-menu{
	z-index:$level-dropdown; position:absolute; min-width:160px;
	padding:5px 0; margin:2px 0 0; text-align:left;
	font-size:$font-size-base;
	list-style:none;
	background-color:#fff;
	border:1px solid #ccc;
	display:none;
	left:0; top:100%;
}
.dropdown-menu-right{
	left:auto;
	right:0;
}
.dropup .dropdown-menu{
	top:auto; bottom:100%;
	margin:0 0 2px;
}
.dropdown-menu a, .dropdown-item{
	display:block;
	*zoom:1; *width:100%;
	padding:4px 20px; 
	font-weight:normal;
	color:$theme-primary-text;
	white-space:nowrap;
}
.dropdown-menu li a:hover,
.dropdown-menu li:hover,
.dropdown-item:hover{
	color:$theme-primary-text;
	text-decoration:none;
	background-color:#f5f5f5;
}
.open .dropdown-menu{display:block}


.dropdown-panel {
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	z-index: $level-popup;
	border: 1px solid #ccc;
	margin-top: 2px;
	text-align: left;
	font-size: 14px;
	background-color: #fff;
}

.dropdown-list{
	width: 100%;
	appearance: none;
	border: 1px solid #ccc;
	border-radius: 0;
	outline: none;
	margin-top: 2px;
	background-color: #fff;
}
.dropdown-list option{
	padding:6px 20px; 
	line-height: 16px;
	height:28px;
	font-weight:normal;
	color:$theme-primary-text;
	white-space:nowrap;
}
.dropdown-list option:hover{
	background-color:#f5f5f5;
}