@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

$list-group-padding-x: 15px !default;
$list-group-padding-y: 10px !default;
$list-group-disabled-color: #777 !default;
$list-group-disabled-bg: #eee !default;

.list-group {
	padding: 0; margin: 0;
	list-style-type: none;
	padding-bottom: 1px;
}
.list-group a{ color:$theme-primary-text; text-decoration: none;}

.list-group-item {
	padding: $list-group-padding-y $list-group-padding-x;
	background-color: #fff;
	margin-bottom:-1px;
	border: 1px solid $theme-divider;
	position: relative;
	*zoom:1;
}
a.list-group-item,
button.list-group-item{
	cursor: pointer;
	display: block;
}
button.list-group-item{
	width: 100%;
	text-align: left;
	outline:none;
	-webkit-appearance:none;
	@include rounded(0);
}
button.list-group-item::-moz-focus-inner{
	padding:0;
	border:0 none;
}
.list-group-flush {
	padding-bottom: 0;
	overflow: hidden;
	.list-group-item {
		margin-top: -1px;
		border-left: 0 none;
		border-right: 0 none;
	}
}

.list-group-item:hover {
    background-color: darken(#fff, 5%);
}
@each $key, $color in $context {
	.list-group .list-group-item-#{$key} { background-color:mix($color, #fff, 18%);}
	.list-group .list-group-item-#{$key}, .list-group .list-group-item-#{$key} a { color: darken(adjust-hue($color, -10), 7%);}
	.list-group .list-group-item-#{$key}:hover { background-color:darken(mix($color, #fff, 18%),5%);}
	.list-group .list-group-item-#{$key}:hover, .list-group .list-group-item-#{$key} a:hover { color: darken(adjust-hue($color, -10), 12%);}
	.list-group>.list-group-item-#{$key}.active {
		background-color:$color;
		border-color:$color;
	}
}
.list-group .active,.list-group .active:hover{
	background-color:$theme-primary;
	border-color:$theme-primary;
	z-index:$level-item-active;
}
.list-group .active, .list-group .active a,
.list-group .active:hover, .list-group .active a:hover {
	color: #fff;
}

.list-group .disabled, .list-group .disabled:focus, .list-group .disabled:hover {
    cursor: not-allowed;
    color: $list-group-disabled-color;
    background-color: $list-group-disabled-bg;
	opacity: 1;
}

.list-group-item-heading{ margin-top:0; margin-bottom:5px;}
.list-group-item-text{ margin:0;}
.list-group .active .list-group-item-text{ color: mix($theme-primary, #fff, 20%); }

.list-group-item .badge { float: right; }
.list-group .active .badge{ color: $theme-primary; background-color: #fff;}

@each $key, $color in $context {
	.list-group>.list-group-item-#{$key}.active .list-group-item-text{
		color:lighten($color, 50%);
	}
	.list-group>.list-group-item-#{$key}.active .badge{ color: $color;}
}
.list-group-horizontal {
	padding-bottom: 0;
	padding-right: 1px;
}
.list-group-horizontal li{
	display: inline-block;
	*display: inline;
	*zoom:1;
	vertical-align: top;
	margin-bottom: 0;
	margin-right: -1px;
}
