
@use '../variables' as *;
@use '../mixins' as *;

$msgbox-width-xs: 300px;
$msgbox-width-sm: 500px;
$msgbox-width-md: 700px;
$msgbox-width-lg: 900px;
$msgbox-width-xl: 1100px;
$msgbox-top-width: 4px;
$msgbox-padding: 8px 12px;

.msgbox{
	position:relative;
	max-width:90%;
	background:$light-body-bg;
	display:inline-block;
	*display:inline; *zoom:1;
	border: 0 none;
	border-top:$msgbox-top-width solid #999;
	padding:$msgbox-padding;
	text-align:center;
	margin-bottom:20px;
	@include box-shadow(0 0 30px rgba(0, 0, 0, 0.3));
}

.msgbox-xs{ width:$msgbox-width-xs;}
.msgbox-sm{ width:$msgbox-width-sm; max-width: 100%;}
.msgbox-md{ width:$msgbox-width-md; max-width: 100%;}
.msgbox-lg{ width:$msgbox-width-lg; max-width: 100%; _width:100%;}
.msgbox-xl{ width:$msgbox-width-xl; max-width: 100%; _width:100%;}

.msgbox-header{ position:relative; text-align:left;}
.msgbox-header .icon{ position:absolute; top:24px; left:12px; font-size:42px;}
.msgbox-header .close{ position:absolute; top:8px; right:12px;}
.msgbox-title{ font-weight:bold; font-size:20px; padding:28px 56px 0; margin:0;}
.msgbox-body{ margin:12px 56px; text-align:left; overflow:auto;}
.msgbox-footer{ text-align:center; margin:0 56px 12px;}
.msgbox-footer .btn{ min-width:60px;}

@each $key, $color in $context{
	.msgbox-#{$key}{ border-top-color:$color;}
}

@media \0screen\,screen\9 {
	.msgbox{ filter:progid:DXImageTransform.Microsoft.Glow(color='#666666', Strength='1');}
}

dialog.msgbox {
	display: none;
}
dialog.msgbox[open] {
	display: block;
	margin: auto;
	position: fixed;
}
dialog.msgbox::backdrop{
	background-color: rgba(0,0,0,$overlay-alpha);
}
.overlay dialog.msgbox {
	display: inline-block;
	*zoom:1;
	*display:inline;
	filter: none;
}

@if $enable-dark {
	.dark {
		.msgbox {
			background: $dark-body-bg;
			border-top-color: $dark-divider;
			@include box-shadow(0 0 30px rgba(0, 0, 0, .5));
		}
		@each $key, $color in $dark-context{
			.msgbox-#{$key}{ border-top-color:$color;}
		}
		@media \0screen\,screen\9 {
			.msgbox { filter:progid:DXImageTransform.Microsoft.Glow(color='#{$dark-divider}', Strength='1'); }
		}
	}
}
