@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.nav{ list-style:none; margin:$nav-margin-y 0; padding:0; position: relative;}
.nav .nav-item{ display: inline-block; *display: inline; *zoom:1;}

.nav-link { border: 0 none; background: none; cursor: pointer; display: inline-block; *zoom:1;}
button.nav-link, input.nav-link { cursor: pointer;}
.nav-link::-moz-focus-inner{ padding:0; border:0 none;}

.nav-pills{ margin-left:0;}
.nav-pills .nav-item{ vertical-align: bottom;}
.nav-pills .nav-link{ color:$nav-pills-color; padding:$nav-pills-padding-y $nav-pills-padding-x;}
.nav-pills .nav-link:hover{ color:$nav-pills-hover-color; background-color:$nav-pills-hover-bg; text-decoration:none;}
.nav-pills .active .nav-link, .nav-pills a.active,
.nav-pills .active .nav-link:hover, .nav-pills a.active:hover{ background-color:$nav-pills-active-bg; color:$nav-pills-active-color;}

.nav-underline{ margin-left:0; border-bottom:1px solid $light-divider;}
.nav-underline .nav-item{ vertical-align: bottom;}
.nav-underline .nav-link{ color:$nav-underline-color; padding:$nav-underline-padding-y $nav-underline-padding-x;}
.nav-underline .nav-link:hover{ color:$nav-underline-color-hover; text-decoration:none;}
.nav-underline .active{ border-bottom:1px solid $nav-underline-active-color; margin-bottom:-1px;}
.nav-underline .active .nav-link, .nav-underline a.active,
.nav-underline .active .nav-link:hover, .nav-underline a.active:hover{ color:$nav-underline-active-color;}

.nav-tabs{ margin-left:0; border-bottom:1px solid $light-divider;}
.nav-tabs .nav-item{ vertical-align: bottom;}
.nav-tabs .nav-link{ color:$light-secondary-text; padding:$nav-tabs-padding-y $nav-tabs-padding-x;}
.nav-tabs .nav-link:hover{ color:$light-primary; text-decoration: none;}
.nav-tabs .active{ border:1px solid $light-divider; border-bottom: 0 none; background:$light-body-bg; margin-bottom:-1px;}
.nav-tabs .active .nav-link, .nav-tabs a.active{ padding:$nav-tabs-padding-y - 1px $nav-tabs-padding-x - 1px $nav-tabs-padding-y + 1px;}
.nav-tabs .active .nav-link, .nav-tabs a.active,
.nav-tabs .active .nav-link:hover, .nav-tabs a.active:hover{ color:$light-body-text;}

.nav-justified{
	display:-moz-box;display:-webkit-box;
	display:-ms-flexbox;display:flex;
	-moz-box-orient:horizontal;-moz-box-direction:normal;
	-webkit-box-orient:horizontal;-webkit-box-direction:normal;
	-ms-flex-direction:row;flex-direction:row;
}
body:last-child .nav-justified, x:-moz-any-link {
	width: 100%;
}
.nav-justified>.nav-item{
	text-align:center;
	-moz-box-basis:0;-webkit-box-basis:0;
	-ms-flex-preferred-size:0;flex-basis:0;
	-moz-box-flex:1;-webkit-box-flex:1;
	-ms-flex-positive:1;flex-grow: 1;
}
@media (min-width:0\0) and (min-resolution:.001dpcm) {
	.nav-justified{ display:table;}
	.nav-justified>.nav-item{ display:table-cell; width:1%;}
}
@media \0screen\,screen\9 {
	.nav-justified{ display:block; text-align:justify; text-align-last:justify;}
	.nav-justified .nav-item{ display:inline-block; *display:inline; *zoom:1;}
}

.nav-flush{
	padding-left: $container-padding;
	padding-right: $container-padding;
}

@if $enable-dark {
	.dark {
		.nav-pills .nav-link{ color:$dark-nav-pills-color;}
		.nav-pills .nav-link:hover{ color:$dark-nav-pills-hover-color; background:$dark-nav-pills-hover-bg;}
		.nav-pills .active .nav-link, .nav-pills a.active,
		.nav-pills .active .nav-link:hover, .nav-pills a.active:hover{ background:$dark-nav-pills-active-bg; color:$dark-nav-pills-active-color;}
		.nav-underline{ border-bottom-color:$dark-divider;}
		.nav-underline .nav-link{ color:$dark-nav-underline-color;}
		.nav-underline .nav-link:hover{ color:$dark-nav-underline-color-hover;}
		.nav-underline .active{ border-bottom-color:$dark-nav-underline-active-color;}
		.nav-underline .active .nav-link, .nav-underline a.active,
		.nav-underline .active .nav-link:hover, .nav-underline a.active:hover{ color:$dark-nav-underline-active-color;}
		.nav-tabs{ border-bottom-color:$dark-divider;}
		.nav-tabs .nav-link{ color:$dark-secondary-text;}
		.nav-tabs .nav-link:hover{ color:$dark-primary;}
		.nav-tabs .active{ border-color:$dark-divider; background:$dark-body-bg;}
		.nav-tabs .active .nav-link, .nav-tabs a.active,
		.nav-tabs .active .nav-link:hover, .nav-tabs a.active:hover{ color:$dark-body-text;}
	}
}
