@use '../variables' as *;

.overlay {
	background: rgba(0, 0, 0, $overlay-alpha);
	position: absolute;
	z-index: $level-dialog;
	text-align: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: $overlay-padding;
}
@media \0screen\,screen\9 {
	.overlay {
		filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#{ie-hex-str(rgba(0, 0, 0, $overlay-alpha))}, endcolorstr=#{ie-hex-str(rgba(0, 0, 0, $overlay-alpha))});
	}
}
.overlay-viewport{
	position:fixed;
	_position:absolute;
	_height:#{"expression(document.body.scrollHeight)"};
	_padding-top:#{"expression(eval(document.body.scrollTop))"};
}

.overlay-blocker {
	background: #000000;
	position: absolute;
	z-index: $level-dialog;
	visibility: hidden;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

@-webkit-keyframes overlayIn{
	0%{ background: rgba(0, 0, 0, 0);}
	100%{ background: rgba(0, 0, 0, $overlay-alpha);}
}
@-moz-keyframes overlayIn{
	0%{ background: rgba(0, 0, 0, 0);}
	100%{ background: rgba(0, 0, 0, $overlay-alpha);}
}
@keyframes overlayIn{
	0%{ background: rgba(0, 0, 0, 0);}
	100%{ background: rgba(0, 0, 0, $overlay-alpha);}
}
.overlayIn{
	-webkit-animation: overlayIn 0.3s ease-in-out forwards;
	-moz-animation: overlayIn 0.3s ease-in-out forwards;
	animation: overlayIn 0.3s ease-in-out forwards;
}

@-webkit-keyframes overlayOut{
	0%{ background: rgba(0, 0, 0, $overlay-alpha);}
	100%{ background: rgba(0, 0, 0, 0);}
}
@-moz-keyframes overlayOut{
	0%{ background: rgba(0, 0, 0, $overlay-alpha);}
	100%{ background: rgba(0, 0, 0, 0);}
}
@keyframes overlayOut{
	0%{ background: rgba(0, 0, 0, $overlay-alpha);}
	100%{ background: rgba(0, 0, 0, 0);}
}
.overlayOut{
	-webkit-animation: overlayOut 0.3s ease-in-out forwards;
	-moz-animation: overlayOut 0.3s ease-in-out forwards;
	animation: overlayOut 0.3s ease-in-out forwards;
}
