
.pagination{
	display:inline-block; *zoom:1; *display:inline;
	padding:0;
	margin:10px 0;
	font-size:0;
	margin-right:1px;
}
.pagination li{
	display:inline-block; *zoom:1; *display:inline;
	vertical-align:top;
	font-size:$font-size-base;
	line-height:$line-height-base;
	border:1px solid $ctrl-border-color;
	position:relative;
	margin-right:-1px;
}
.pagination li a,.pagination li span{
	display: block;
	padding:($pagination-size - 2px - $line-height-base)*.5 ($pagination-size - 2px - $font-size-base*.5)*.5;
	color:$theme-primary-text;
	text-decoration:none;
}
.pagination li:hover{
	background-color:#eee;
}
.pagination li:hover,.pagination li:hover a{
	color:darken($theme-primary,15%);
}
.pagination li.active{
	z-index:$level-item-active;
	background-color:$theme-primary;
	border-color:$theme-primary;
}
.pagination li.active,.pagination li.active a{
	color:#fff;
}
.pagination li.disabled{
	border:0 none;
	padding:1px;
}
.pagination li.disabled a{
	cursor:text;
}
.pagination-gutter li{ margin-right:5px;}
.pagination-gutter{ margin-right:-5px;}
.pagination-lg li{
	a,span{
		padding:($pagination-size-lg - 2px - $line-height-base)*.5 ($pagination-size-lg - 2px - $font-size-base*.5)*.5;
	}
}
.pagination-sm li{
	a,span{
		padding:($pagination-size-sm - 2px - $line-height-base)*.5 ($pagination-size-sm - 2px - $font-size-base*.5)*.5;
	}
}
