@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

// 基础容器
.sidebar {
	position: relative;
	background: $sidebar-bg;
}
.sidebar a, .sidebar a:hover{
	text-decoration: none;
}

.sidebar-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

// 导航项
.sidebar-item {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	*zoom: 1;
}

// 导航图标
.sidebar-icon {
	position: absolute;
	z-index: 2;
	left: ($sidebar-icon-width - $sidebar-icon-size) * .5;
	top: ($sidebar-item-height - $sidebar-icon-size) * .5;
	display: block;
	width: $sidebar-icon-size;
	height: $sidebar-icon-size;
	line-height: $sidebar-icon-size;
	font-size: $sidebar-icon-size;
	text-align: center;
	cursor: pointer;
	pointer-events: none;
}

// 导航链接
.sidebar-link {
	display: block;
	position: relative;
	z-index: 1;
	padding: ($sidebar-item-height - $line-height-base) * .5 $sidebar-link-padding-x 0 $sidebar-icon-width;
	height: $sidebar-item-height;
	line-height: $line-height-base;
	color: $sidebar-color;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	&:hover{
		color: $sidebar-item-hover-color;
		background: $sidebar-item-hover-bg;
	}
	@if $sidebar-link-bold {
		font-weight: bold;
	}
}
// 子菜单
.sidebar-submenu, .sidebar-submenu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-submenu li {
	position: relative;
}
.sidebar-submenu li a{
	display: block;
	padding: ($sidebar-subitem-height - $line-height-base) * .5 $sidebar-link-padding-x;
	padding-left: $sidebar-icon-width - $sidebar-link-padding-x;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	color: $sidebar-subitem-color;
}
@for $i from 2 through $sidebar-max-level {
	$selector: ".sidebar-submenu";
	@for $j from 2 through $i {
		$selector: $selector + " ul";
	}
	#{$selector} li a{
		padding-left: $sidebar-icon-width - $sidebar-link-padding-x + $sidebar-indent * ($i - 1);
	}
}
.sidebar-submenu a:hover{
	color: $sidebar-subitem-hover-color;
	background: $sidebar-subitem-hover-bg;
}
.sidebar-submenu .active a, .sidebar-submenu .active a:hover{
	color: $sidebar-subitem-active-color;
	background: $sidebar-subitem-active-bg;
}

@if $enable-dark {
	.dark {
		.sidebar {
			background: $dark-sidebar-bg;
		}
		.sidebar-link {
			color: $dark-sidebar-color;
			&:hover {
				color: $dark-sidebar-item-hover-color;
				background: $dark-sidebar-item-hover-bg;
			}
		}
		.sidebar-submenu li a {
			color: $dark-sidebar-subitem-color;
		}
		.sidebar-submenu a:hover {
			color: $dark-sidebar-subitem-hover-color;
			background: $dark-sidebar-subitem-hover-bg;
		}
		.sidebar-submenu .active a,
		.sidebar-submenu .active a:hover {
			color: $dark-sidebar-subitem-active-color;
			background: $dark-sidebar-subitem-active-bg;
		}
		.sidebar-collapsed .sidebar-collapsible {
			background: $dark-sidebar-bg;
			border-color: $dark-popover-border-color;
		}
	}
}

.sidebar .collapsed .sidebar-collapsible{
	display: none;
}
.sidebar-indicator {
	float: right;
	@include transform(rotate(180deg));
}
.sidebar .collapsed>a>.sidebar-indicator{
	@include transform(none);
}

.sidebar-collapsed {
	width: $sidebar-icon-width !important;
}
.sidebar-collapsed .sidebar-item{
	width: $sidebar-icon-width;
	height: $sidebar-item-height;
}
.sidebar-collapsed .sidebar-link .sidebar-indicator{
	display: none;
}
.sidebar-collapsed .sidebar-link{
	font-size: 0;
	text-overflow: clip;
	color: transparent;
	padding-left: $sidebar-link-padding-x;
	padding-right: 0;
	width: $sidebar-icon-width;
}
.sidebar-collapsed .sidebar-collapsible{
	position: absolute;
	left: $sidebar-icon-width;
	margin-left: 2px;
	top: 0;
	width: $sidebar-collapsed-width - $sidebar-icon-width;
	background: $sidebar-bg;
	border: $popover-border-width solid $popover-border-color;
}
.sidebar-collapsed .sidebar-submenu .sidebar-collapsible {
	left: 100%;
	top: 0;
}
.sidebar-collapsed .sidebar-submenu li a{
	padding-left: $sidebar-link-padding-x;
}
.sidebar-collapsed .sidebar-submenu .sidebar-indicator{
	transform: rotate(-90deg);
}

@media \0screen\,screen\9 {
	.sidebar-indicator {
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	}
	.collapsed .sidebar-indicator{
		filter: none;
	}
	.sidebar-collapsed .sidebar-submenu .sidebar-indicator{
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.sidebar {
		transition: width $collapse-duration;
	}
	.sidebar .sidebar-indicator{
		transition: transform $collapse-duration;
	}
	@supports (height: calc-size(auto, size)) {
		.sidebar:not(.sidebar-collapsed) .sidebar-collapsible{
			display: block;
			height: calc-size(auto, size);
			overflow-y: hidden;
			transition: height $collapse-duration;
		}
		.sidebar .collapsed>.sidebar-collapsible{
			height: 0;
		}
	}
}
