@use '../variables' as *;

.tag{
	display: inline-block;
	align-items: center;
	*zoom: 1;
	*display: inline;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	border: 1px solid;
	margin: 1px;
	vertical-align: top;
	border-radius: 2px;
}

.tag-default{
	color:#555;
	background-color:#eee;
	border-color:$theme-divider;
}
.tag-primary{
	color:$primary-text;
	background-color: $primary-bg;
	border-color:$primary-border;
}
.tag-success{
	color:$success-text;
	background-color: $success-bg;
	border-color:$success-border;
}
.tag-info{
	color:$info-text;
	background-color: $info-bg;
	border-color:$info-border;
}
.tag-warning{
	color:$warning-text;
	background-color: $warning-bg;
	border-color:$warning-border;
}
.tag-danger{
	color:$danger-text;
	background-color: $danger-bg;
	border-color:$danger-border;
}
$tag-padding-line-height-md: $ctrl-height-md - $ctrl-border-width * 2 - $tags-input-padding-y * 2 - $tag-gap * 2 - $tag-border-width * 2 - $tag-padding-y-md * 2;
$tag-padding-line-height-lg: $ctrl-height-lg - $ctrl-border-width * 2 - $tags-input-padding-y * 2 - $tag-gap * 2 - $tag-border-width * 2 - $tag-padding-y-lg * 2;
$tag-padding-line-height-sm: $ctrl-height-sm - $ctrl-border-width * 2 - $tags-input-padding-y * 2 - $tag-gap * 2 - $tag-border-width * 2 - $tag-padding-y-sm * 2;
.tag{
	// height: $ctrl-height-md - $ctrl-border-width * 2 - $tags-input-padding-y * 2 - $tag-gap * 2;
	line-height: $tag-padding-line-height-md;
	padding: $tag-padding-y-md $tag-padding-x-md;
	font-size: 13px;
}
.tag-lg{
	line-height: $tag-padding-line-height-lg;
	padding: $tag-padding-y-lg $tag-padding-x-lg;
	font-size: 14px;
}

.tag-sm{
	line-height: $tag-padding-line-height-sm;
	padding: $tag-padding-y-sm $tag-padding-x-sm;
	line-height: 18px;
	font-size: 12px;
}
.tag *{
	display: inline-block;
	vertical-align: top;
}
.tag .close{
	padding: 0;
	height: $tag-padding-line-height-md;
	font-size: 13px;
}
.tag-lg .close{
	height: $tag-padding-line-height-lg;
	font-size: 14px;
}
.tag-sm .close{
	height: $tag-padding-line-height-sm;
	font-size: 12px;
}
