@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;


.tree{
	position: relative;
	padding: $tree-padding;
}
.tree ul{ margin:0; padding:0;}
.tree li{
	position:relative;
	margin:0; padding:0;
	padding-left:$tree-indent;
	list-style:none;
	white-space:nowrap;
}
.tree label,.tree a{
	padding-left:5px;
	line-height:26px;
	display:block;
	_zoom:1;
}
.tree .active a, .tree .active a:hover,
.tree .active label, .tree .active label:hover {
	background: $theme-primary;
	color: #fff;
}
.tree .active u label,.tree .active u a,
.tree label,.tree a,
.tree label:hover,.tree a:hover{
	color: $light-text;
}
.tree .active u label:hover,.tree .active u a:hover,
.tree label:hover,.tree a:hover{
	background:$tree-item-hover;
}
.tree a,.tree a:hover{
	text-decoration:none;
}
.tree-icon{
	margin-right:5px;
	line-height:26px;
	font-size:$tree-icon-size;
	display:inline-block;
	vertical-align:middle;
}
.tree-expander{ position:absolute; margin-left:-18px; width:22px; text-align:center; line-height:26px; cursor:pointer; transition:transform 0.2s;
 font-family:FontAwesome; font-style:normal; font-weight:normal; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
*zoom:#{"expression( this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d7;')"};}
.tree-expander:before{ content:"\f0d7";}
.tree input{ vertical-align:middle; margin:-2px 5px 0 -1px; line-height:26px;}
.tree-collapsed ul{ display:none;}
@media (min-width:0){
	.tree-collapsed .tree-expander{
		@include transform(-90deg);
	}
}
@media \0screen\,screen\9 {
	.tree-collapsed .tree-expander{ filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
}
@if $enable-dark {
	.dark {
		.tree label,.tree a,
		.tree label:hover,.tree a:hover{
			color: $dark-text;
		}
		.tree label:hover,.tree a:hover{ background:#34414c;}
		.tree-expander{ color:#fff;}
	}
}
@if $enable-transition {
	@supports (height: calc-size(auto, size)) {
		.tree ul{
			display: block;
			min-width: fit-content;
			height: calc-size(auto, size);
			overflow: hidden;
			transition: height 0s, display 0s allow-discrete;
		}
		.tree-collapsed ul{
			height: 0;
			display: none;
		}
		@starting-style {
			.tree ul{
				height: 0;
			}
		}
		.tree-expander:focus ~ ul{
			transition-duration: $collapse-duration;
		}
	}
}
