@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.tree{
	position: relative;
	padding: $tree-padding;
}
.tree ul{ margin:0; padding:0;}
.tree li{
	position:relative;
	margin:0; padding:0;
	padding-left:$tree-indent;
	list-style:none;
	white-space:nowrap;
}
.tree label,.tree a{
	padding-left:5px;
	line-height:$tree-item-height;
	display:block;
	_zoom:1;
}
.tree .active a, .tree .active a:hover,
.tree .active label, .tree .active label:hover {
	background: $light-primary;
	color: #fff;
}
.tree .active u label,.tree .active u a,
.tree label,.tree a,
.tree label:hover,.tree a:hover{
	color: $light-body-text;
}
.tree .active u label:hover,.tree .active u a:hover,
.tree label:hover,.tree a:hover{
	background:$tree-item-hover;
}
.tree a,.tree a:hover{
	text-decoration:none;
}
.tree-icon{
	margin-right:5px;
	line-height:$tree-item-height;
	font-size:$tree-icon-size;
	display:inline-block;
	vertical-align:middle;
}
.tree-toggler{
	position:absolute;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 4px;
	height: 8px;
	border: 4px solid transparent;
  	_border-style: dotted;
	border-right: 0 none;
	border-left: 4px solid $light-body-text;
	color: $light-body-text;
	left: $tree-indent * .5 - 2px;
	*left: $tree-indent * .5 - 2px - $tree-indent;
    top: $tree-item-height * .5 - 4px;
	cursor:pointer;
	&:after {
		content: " ";
		width: 16px;
		height: 16px;
		position: absolute;
		left: -10px;
		top: -8px;
	}
}
@media (min-width:0){
	.tree-toggler{ @include transform(rotate(90deg));}
	.collapsed>.tree-toggler{ @include transform(rotate(0deg));}
}
@media \0screen\,screen\9 {
	.tree-toggler{ filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
	.collapsed .tree-toggler{ filter:none;}
}
.tree input{ vertical-align:middle; margin:-2px 5px 0 -1px; line-height:$tree-item-height;}
.tree .collapsed ul{ display:none;}

@if $enable-dark {
	.dark {
		.tree label,.tree a,
		.tree label:hover,.tree a:hover{
			color: $dark-body-text;
		}
		.tree label:hover,.tree a:hover{ background:#34414c;}
		.tree .active a, .tree .active a:hover,
		.tree .active label, .tree .active label:hover { background: $dark-primary; color: #fff;}
		.tree-toggler{ border-left-color: $dark-body-text; color: $dark-body-text;}
	}
}
@media (prefers-reduced-motion: no-preference) {
	@supports (height: calc-size(auto, size)) {
		.tree-toggler{
			transition: transform $collapse-duration;
		}
		.tree ul{
			display: block;
			min-width: fit-content;
			height: calc-size(auto, size);
			overflow: hidden;
			transition: height 0s, display 0s allow-discrete;
		}
		.tree .collapsed ul{
			height: 0;
			display: none;
		}
		@starting-style {
			.tree ul{
				height: 0;
			}
		}
		.tree-toggler:focus ~ ul{
			transition-duration: $collapse-duration;
		}
	}
}
