
.thumbnail{ display:block; padding:4px; margin:$margin-base 0; background-color:#fff; border:1px solid $theme-divider;}
.thumbnail img,.thumbnail img{ margin-right:auto; margin-left:auto;}
a.thumbnail:hover{ border-color:$theme-primary;}
.thumbnail .caption{ padding:9px; color:$theme-primary-text;}