<!--BORDERBOX-->
<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit"/>
	<title>轮播图 - 组件 - Ting UI</title>
	<link href="../ting/shiki.css" rel="stylesheet"/>
	<link href="../ting/ting.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="../ting/font-awesome.css"/>
	<script src="../ting/html5.js"></script>
	<script src="../ting/jquery.js"></script>
	<script src="../ting/ting.js"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="navbar navbar-flush">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle fa icon-lg">&#xf0c9;</button>
						<a href="../index.html" class="navbar-brand"><img height="37" src="../images/logo.png"/><span class="line-middle">Ting Web UI</span></a>
					</div>
					<div class="navbar-responsive-dropdown">
						<ul class="navbar-nav">
							<li><a href="../getting-started/index.html">起步</a></li><li><a href="../layout/index.html">布局</a></li><li><a href="../content/index.html">页面内容</a></li><li><a href="../form/index.html">表单</a></li><li><a href="../helpers/index.html">助手</a></li><li class="active"><a href="../components/index.html">组件</a></li><li><a href="../utilities/index.html">工具类</a></li>
						</ul>
						<ul class="navbar-nav navbar-right">
							<li><a class="px-2" href="https://github.com/linsk1998/ting/" target="_blank"><i class="icon-fw icon-lg fa">&#xf09b;</i></a></li>
							
						</ul>
						<script>initDarkLi()</script>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
					<h1 class="h1">Ting Web UI</h1>
					<p>简洁、直观、强悍、跨浏览器的前端开发框架，让web开发更迅速、简单。</p>
				</div>
			</div>
		</header>
		<div class="container">
<h1 class="page-header" id="轮播图">轮播图</h1>
<p>轮播图用于循环展示一系列内容，支持图片轮播、指示器导航和前后切换。</p>
<h2 class="page-header" id="基本用法">基本用法</h2>
<p><code>.carousel</code> 容器内包含图片、文字说明（<code>.carousel-caption</code>）、前后控制按钮（<code>.carousel-control-prev</code> / <code>.carousel-control-next</code>）和底部指示器（<code>.carousel-indicators</code>）。</p>

<div class="tabs" role="tabbable">
  <ul class="nav nav-indicator">
    <li class="nav-item active"><a class="nav-link" href="javascript:void(0)">演示</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">代码</a></li>
  </ul>
  <div class="tabs-content">
    <div class="tabs-pane ting-example active"><div class="carousel" role="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img width="100%" src="../images/functions.jpg"/>
      <div class="carousel-caption">
        <h3>金坷垃</h3>
        <p>肥料掺了金坷垃，一袋能顶两袋撒。来自美国的金坷垃是美国肥料研究中心CNT的最新科技成果。</p>
      </div>
    </div>
    <div class="carousel-item">
      <img width="100%" src="../images/github.jpg"/>
      <div class="carousel-caption">
        <h3>金氮丹</h3>
        <p>金氮丹是来自大洋彼岸的美国品牌，含有β乳胶剂,与土壤合为一体，下雨不流失，日晒不挥发，从而使肥料的利用率大幅增加，是全球唯一不怕日晒雨淋的肥料，让世界农民刮目相看。</p>
      </div>
    </div>
    <div class="carousel-item">
      <img width="100%" src="../images/devices.jpg"/>
      <div class="carousel-caption">
        <h3>凭良心</h3>
        <p>本品是国际最安全环保型的广谱专用杀虫剂，采用国际领先生产设备。</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev fa" href="javascript:;">&#xf104;</a>
  <a class="carousel-control-next fa" href="javascript:;">&#xf105;</a>
  <ol class="carousel-indicators">
    <li class="active fa">&#xf111;</li>
    <li class="fa">&#xf111;</li>
    <li class="fa">&#xf111;</li>
  </ol>
</div></div>
    <div class="tabs-pane"><pre class="code shiki m-0"><span class="line"><span class="">&lt;</span><span class="">div</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel&quot;</span><span class=""> </span><span class="">role</span><span class="">=</span><span class="">&quot;carousel&quot;</span><span class="">&gt;</span></span>
<span class="line"><span class="">  &lt;</span><span class="">div</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel-inner&quot;</span><span class="">&gt;</span></span>
<span class="line"><span class="">    &lt;</span><span class="">div</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel-item active&quot;</span><span class="">&gt;</span></span>
<span class="line"><span class="">      &lt;</span><span class="">img</span><span class=""> </span><span class="">width</span><span class="">=</span><span class="">&quot;100%&quot;</span><span class=""> </span><span class="">src</span><span class="">=</span><span class="">&quot;../images/functions.jpg&quot;</span><span class="">/&gt;</span></span>
<span class="line"><span class="">      &lt;</span><span class="">div</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel-caption&quot;</span><span class="">&gt;</span></span>
<span class="line"><span class="">        &lt;</span><span class="">h3</span><span class="">&gt;金坷垃&lt;/</span><span class="">h3</span><span class="">&gt;</span></span>
<span class="line"><span class="">        &lt;</span><span class="">p</span><span class="">&gt;肥料掺了金坷垃，一袋能顶两袋撒。来自美国的金坷垃是美国肥料研究中心CNT的最新科技成果。&lt;/</span><span class="">p</span><span class="">&gt;</span></span>
<span class="line"><span class="">      &lt;/</span><span class="">div</span><span class="">&gt;</span></span>
<span class="line"><span class="">    &lt;/</span><span class="">div</span><span class="">&gt;</span></span>
<span class="line"><span class="">    &lt;</span><span class="">div</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel-item&quot;</span><span class="">&gt;</span></span>
<span class="line"><span class="">      &lt;</span><span class="">img</span><span class=""> </span><span class="">width</span><span class="">=</span><span class="">&quot;100%&quot;</span><span class=""> </span><span class="">src</span><span class="">=</span><span class="">&quot;../images/github.jpg&quot;</span><span class="">/&gt;</span></span>
<span class="line"><span class="">      &lt;</span><span class="">div</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel-caption&quot;</span><span class="">&gt;</span></span>
<span class="line"><span class="">        &lt;</span><span class="">h3</span><span class="">&gt;金氮丹&lt;/</span><span class="">h3</span><span class="">&gt;</span></span>
<span class="line"><span class="">        &lt;</span><span class="">p</span><span class="">&gt;金氮丹是来自大洋彼岸的美国品牌，含有β乳胶剂,与土壤合为一体，下雨不流失，日晒不挥发，从而使肥料的利用率大幅增加，是全球唯一不怕日晒雨淋的肥料，让世界农民刮目相看。&lt;/</span><span class="">p</span><span class="">&gt;</span></span>
<span class="line"><span class="">      &lt;/</span><span class="">div</span><span class="">&gt;</span></span>
<span class="line"><span class="">    &lt;/</span><span class="">div</span><span class="">&gt;</span></span>
<span class="line"><span class="">    &lt;</span><span class="">div</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel-item&quot;</span><span class="">&gt;</span></span>
<span class="line"><span class="">      &lt;</span><span class="">img</span><span class=""> </span><span class="">width</span><span class="">=</span><span class="">&quot;100%&quot;</span><span class=""> </span><span class="">src</span><span class="">=</span><span class="">&quot;../images/devices.jpg&quot;</span><span class="">/&gt;</span></span>
<span class="line"><span class="">      &lt;</span><span class="">div</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel-caption&quot;</span><span class="">&gt;</span></span>
<span class="line"><span class="">        &lt;</span><span class="">h3</span><span class="">&gt;凭良心&lt;/</span><span class="">h3</span><span class="">&gt;</span></span>
<span class="line"><span class="">        &lt;</span><span class="">p</span><span class="">&gt;本品是国际最安全环保型的广谱专用杀虫剂，采用国际领先生产设备。&lt;/</span><span class="">p</span><span class="">&gt;</span></span>
<span class="line"><span class="">      &lt;/</span><span class="">div</span><span class="">&gt;</span></span>
<span class="line"><span class="">    &lt;/</span><span class="">div</span><span class="">&gt;</span></span>
<span class="line"><span class="">  &lt;/</span><span class="">div</span><span class="">&gt;</span></span>
<span class="line"><span class="">  &lt;</span><span class="">a</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel-control-prev fa&quot;</span><span class=""> </span><span class="">href</span><span class="">=</span><span class="">&quot;javascript:;&quot;</span><span class="">&gt;</span><span class="">&amp;#xf104;</span><span class="">&lt;/</span><span class="">a</span><span class="">&gt;</span></span>
<span class="line"><span class="">  &lt;</span><span class="">a</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel-control-next fa&quot;</span><span class=""> </span><span class="">href</span><span class="">=</span><span class="">&quot;javascript:;&quot;</span><span class="">&gt;</span><span class="">&amp;#xf105;</span><span class="">&lt;/</span><span class="">a</span><span class="">&gt;</span></span>
<span class="line"><span class="">  &lt;</span><span class="">ol</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;carousel-indicators&quot;</span><span class="">&gt;</span></span>
<span class="line"><span class="">    &lt;</span><span class="">li</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;active fa&quot;</span><span class="">&gt;</span><span class="">&amp;#xf111;</span><span class="">&lt;/</span><span class="">li</span><span class="">&gt;</span></span>
<span class="line"><span class="">    &lt;</span><span class="">li</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;fa&quot;</span><span class="">&gt;</span><span class="">&amp;#xf111;</span><span class="">&lt;/</span><span class="">li</span><span class="">&gt;</span></span>
<span class="line"><span class="">    &lt;</span><span class="">li</span><span class=""> </span><span class="">class</span><span class="">=</span><span class="">&quot;fa&quot;</span><span class="">&gt;</span><span class="">&amp;#xf111;</span><span class="">&lt;/</span><span class="">li</span><span class="">&gt;</span></span>
<span class="line"><span class="">  &lt;/</span><span class="">ol</span><span class="">&gt;</span></span>
<span class="line"><span class="">&lt;/</span><span class="">div</span><span class="">&gt;</span></span>
</pre></div>
  </div>
</div>
		</div>
		<footer class="footer">
            <p>本项目是一个全局公用CSS库.</p>
            <p>源码基于 <a rel="license" href="https://github.com/linsk1998/ting/blob/master/LICENSE" target="_blank">MIT</a>开源协议。</p>
        </footer>
	</body>
</html>