<!--BORDERBOX-->
<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit"/>
	<title>可选列表 - 组件 - Ting UI</title>
	<link href="../ting/shiki.css" rel="stylesheet"/>
	<link href="../ting/ting.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="../ting/font-awesome.css"/>
	<script src="../ting/html5.js"></script>
	<script src="../ting/jquery.js"></script>
	<script src="../ting/ting.js"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="navbar navbar-flush">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle fa icon-lg">&#xf0c9;</button>
						<a href="../index.html" class="navbar-brand"><img height="37" src="../images/logo.png"/><span class="line-middle">Ting Web UI</span></a>
					</div>
					<div class="navbar-responsive-dropdown">
						<ul class="navbar-nav">
							<li><a href="../getting-started/index.html">起步</a></li><li><a href="../layout/index.html">布局</a></li><li><a href="../content/index.html">页面内容</a></li><li><a href="../form/index.html">表单</a></li><li><a href="../helpers/index.html">助手</a></li><li class="active"><a href="../components/index.html">组件</a></li><li><a href="../utilities/index.html">工具类</a></li>
						</ul>
						<ul class="navbar-nav navbar-right">
							<li><a class="px-2" href="https://github.com/linsk1998/ting/" target="_blank"><i class="icon-fw icon-lg fa">&#xf09b;</i></a></li>
							
						</ul>
						<script>initDarkLi()</script>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
					<h1 class="h1">Ting Web UI</h1>
					<p>简洁、直观、强悍、跨浏览器的前端开发框架，让web开发更迅速、简单。</p>
				</div>
			</div>
		</header>
		<div class="container">
<h1 class="page-header" id="可选列表">可选列表</h1>
<p>可选列表（<code>.select-list</code>）是一种带复选框、拖动手柄和操作工具的可选择列表项容器。</p>
<h2 class="page-header" id="基本用法">基本用法</h2>
<p>每个 <code>&lt;li&gt;</code> 内包含操作工具（<code>.select-list-tools</code>，悬停显示）、拖动手柄（<code>.select-list-drag</code>）、复选框和标签文字。</p>

<div class="tabs" role="tabbable">
  <ul class="nav nav-indicator">
    <li class="nav-item active"><a class="nav-link" href="javascript:void(0)">演示</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">代码</a></li>
  </ul>
  <div class="tabs-content">
    <div class="tabs-pane ting-example active"><div class="row row-gx-4 mb-4">
  <div class="col-md-3 col-gx-4">
    <ul class="select-list">
      <li>
        <div class="select-list-tools"><a href="#" class="fa">&#xf014;</a></div>
        <i class="select-list-drag fa">&#xf142; &#xf142;</i>
        <input type="checkbox" value=""/>
        <span class="line-middle">环境变量设</span>
      </li>
      <li>
        <div class="select-list-tools"><a href="#" class="fa">&#xf014;</a></div>
        <i class="select-list-drag fa">&#xf142; &#xf142;</i>
        <input type="checkbox" value=""/>
        <span class="line-middle">环境变量设</span>
      </li>
      <li>
        <div class="select-list-tools"><a href="#" class="fa">&#xf014;</a></div>
        <i class="select-list-drag fa">&#xf142; &#xf142;</i>
        <input type="checkbox" value=""/>
        <span class="line-middle">环境变量设</span>
      </li>
      <li>
        <div class="select-list-tools"><a href="#" class="fa">&#xf014;</a></div>
        <i class="select-list-drag fa">&#xf142; &#xf142;</i>
        <input type="checkbox" value=""/>
        <span class="line-middle">环境变量设</span>
      </li>
    </ul>
  </div>
</div></div>
    <div class="tabs-pane"><pre class="code shiki m-0"><span class="shiki-line">&lt;<span class="shiki-entity-name-tag">div</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">row row-gx-4 mb-4</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;</span>
<span class="shiki-line">  &lt;<span class="shiki-entity-name-tag">div</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">col-md-3 col-gx-4</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;</span>
<span class="shiki-line">    &lt;<span class="shiki-entity-name-tag">ul</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">select-list</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;</span>
<span class="shiki-line">      &lt;<span class="shiki-entity-name-tag">li</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">div</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">select-list-tools</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;&lt;<span class="shiki-entity-name-tag">a</span> <span class="shiki-entity">href</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">#</span><span class="shiki-punctuation-definition-string">&quot;</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">fa</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;<span class="shiki-constant">&amp;#xf014;</span>&lt;/<span class="shiki-entity-name-tag">a</span>&gt;&lt;/<span class="shiki-entity-name-tag">div</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">i</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">select-list-drag fa</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;<span class="shiki-constant">&amp;#xf142;</span> <span class="shiki-constant">&amp;#xf142;</span>&lt;/<span class="shiki-entity-name-tag">i</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">input</span> <span class="shiki-entity">type</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">checkbox</span><span class="shiki-punctuation-definition-string">&quot;</span> <span class="shiki-entity">value</span>=<span class="shiki-punctuation-definition-string">&quot;&quot;</span>/&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">span</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">line-middle</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;环境变量设&lt;/<span class="shiki-entity-name-tag">span</span>&gt;</span>
<span class="shiki-line">      &lt;/<span class="shiki-entity-name-tag">li</span>&gt;</span>
<span class="shiki-line">      &lt;<span class="shiki-entity-name-tag">li</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">div</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">select-list-tools</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;&lt;<span class="shiki-entity-name-tag">a</span> <span class="shiki-entity">href</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">#</span><span class="shiki-punctuation-definition-string">&quot;</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">fa</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;<span class="shiki-constant">&amp;#xf014;</span>&lt;/<span class="shiki-entity-name-tag">a</span>&gt;&lt;/<span class="shiki-entity-name-tag">div</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">i</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">select-list-drag fa</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;<span class="shiki-constant">&amp;#xf142;</span> <span class="shiki-constant">&amp;#xf142;</span>&lt;/<span class="shiki-entity-name-tag">i</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">input</span> <span class="shiki-entity">type</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">checkbox</span><span class="shiki-punctuation-definition-string">&quot;</span> <span class="shiki-entity">value</span>=<span class="shiki-punctuation-definition-string">&quot;&quot;</span>/&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">span</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">line-middle</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;环境变量设&lt;/<span class="shiki-entity-name-tag">span</span>&gt;</span>
<span class="shiki-line">      &lt;/<span class="shiki-entity-name-tag">li</span>&gt;</span>
<span class="shiki-line">      &lt;<span class="shiki-entity-name-tag">li</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">div</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">select-list-tools</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;&lt;<span class="shiki-entity-name-tag">a</span> <span class="shiki-entity">href</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">#</span><span class="shiki-punctuation-definition-string">&quot;</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">fa</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;<span class="shiki-constant">&amp;#xf014;</span>&lt;/<span class="shiki-entity-name-tag">a</span>&gt;&lt;/<span class="shiki-entity-name-tag">div</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">i</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">select-list-drag fa</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;<span class="shiki-constant">&amp;#xf142;</span> <span class="shiki-constant">&amp;#xf142;</span>&lt;/<span class="shiki-entity-name-tag">i</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">input</span> <span class="shiki-entity">type</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">checkbox</span><span class="shiki-punctuation-definition-string">&quot;</span> <span class="shiki-entity">value</span>=<span class="shiki-punctuation-definition-string">&quot;&quot;</span>/&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">span</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">line-middle</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;环境变量设&lt;/<span class="shiki-entity-name-tag">span</span>&gt;</span>
<span class="shiki-line">      &lt;/<span class="shiki-entity-name-tag">li</span>&gt;</span>
<span class="shiki-line">      &lt;<span class="shiki-entity-name-tag">li</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">div</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">select-list-tools</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;&lt;<span class="shiki-entity-name-tag">a</span> <span class="shiki-entity">href</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">#</span><span class="shiki-punctuation-definition-string">&quot;</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">fa</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;<span class="shiki-constant">&amp;#xf014;</span>&lt;/<span class="shiki-entity-name-tag">a</span>&gt;&lt;/<span class="shiki-entity-name-tag">div</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">i</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">select-list-drag fa</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;<span class="shiki-constant">&amp;#xf142;</span> <span class="shiki-constant">&amp;#xf142;</span>&lt;/<span class="shiki-entity-name-tag">i</span>&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">input</span> <span class="shiki-entity">type</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">checkbox</span><span class="shiki-punctuation-definition-string">&quot;</span> <span class="shiki-entity">value</span>=<span class="shiki-punctuation-definition-string">&quot;&quot;</span>/&gt;</span>
<span class="shiki-line">        &lt;<span class="shiki-entity-name-tag">span</span> <span class="shiki-entity">class</span>=<span class="shiki-punctuation-definition-string">&quot;</span><span class="shiki-string">line-middle</span><span class="shiki-punctuation-definition-string">&quot;</span>&gt;环境变量设&lt;/<span class="shiki-entity-name-tag">span</span>&gt;</span>
<span class="shiki-line">      &lt;/<span class="shiki-entity-name-tag">li</span>&gt;</span>
<span class="shiki-line">    &lt;/<span class="shiki-entity-name-tag">ul</span>&gt;</span>
<span class="shiki-line">  &lt;/<span class="shiki-entity-name-tag">div</span>&gt;</span>
<span class="shiki-line">&lt;/<span class="shiki-entity-name-tag">div</span>&gt;</span>
</pre></div>
  </div>
</div>
		</div>
		<footer class="footer">
            <p>本项目是一个全局公用CSS库.</p>
            <p>源码基于 <a rel="license" href="https://github.com/linsk1998/ting/blob/master/LICENSE" target="_blank">MIT</a>开源协议。</p>
        </footer>
	</body>
</html>