/** reset */
a {
  color: #009688;
}

a:hover {
  color: rgb(0, 73.5, 66.64);
}

/** button */
.btn-primary {
  background-color: #009688;
  border-color: rgb(0, 124.5, 112.88);
}
.btn-primary:hover {
  background-color: rgb(0, 99, 89.76);
  border-color: rgb(0, 63.3, 57.392);
}

.btn-outline, .btn-outline-primary {
  color: #009688;
  border-color: #009688;
}
.btn-outline:hover, .btn-outline-primary:hover {
  background-color: #009688;
  border-color: #009688;
}
html body .btn-outline:focus, html body .btn-outline-primary:focus {
  border-color: rgb(0, 73.5, 66.64);
}

/** badge */
.panel-primary .panel-heading .badge {
  color: #009688;
}

.btn-primary:hover .badge {
  color: rgb(0, 99, 89.76);
}

/** callout */
.callout-primary {
  border-left-color: #009688;
}

/** dialog */
.dialog-primary .dialog-header {
  background-color: #009688;
  border-color: #009688;
}

/** label */
.label-primary {
  background-color: #009688;
}

/** list-group */
a.list-group-item:hover, .list-group-item a:hover {
  color: #009688;
}

.list-group .active {
  background-color: #009688;
  border-color: #009688;
}

.list-group .active .list-group-item-text {
  color: rgb(150, 255, 245.2);
}

/** msgbox */
.msgbox {
  border-top-color: #009688;
}

/** nav */
.nav-pills .nav-link:hover {
  color: #009688;
}

.nav-pills .active .nav-link, .nav-pills .active .nav-link:hover,
.nav-pills a.active, .nav-pills a.active:hover {
  background-color: #009688;
}

.nav-pivot .nav-link:hover {
  color: #009688;
  border-bottom-color: #009688;
}

.nav-pivot .active .nav-link, .nav-pivot .active .nav-link:hover,
.nav-pivot a.active, .nav-pivot a.active:hover {
  color: rgb(0, 99, 89.76);
  border-bottom-color: rgb(0, 99, 89.76);
}

.nav-tabs-left .nav-link:hover,
.nav-tabs-right .nav-link:hover,
.nav-tabs .nav-link:hover {
  color: #009688;
}

/** msgbox */
.msgbox {
  border-top-color: #009688;
}

/** pagination */
.pagination li:hover, .pagination li:hover a {
  color: rgb(0, 73.5, 66.64);
}

.pagination li.active {
  background-color: #009688;
  border-color: #009688;
}

/** panel */
.panel-primary {
  border-color: #009688;
}

.panel-primary .panel-heading {
  color: #fff;
  background-color: #009688;
  border-color: #009688;
}

/** progress-bar */
.progress-bar {
  background-color: #009688;
}

/** win */
.win {
  border: rgb(20.1, 180.9, 165.892);
}

.win-header {
  background: rgb(20.1, 180.9, 165.892);
  border-bottom-color: rgb(20.1, 180.9, 165.892);
}

.win-btn-group .icon:hover {
  background: rgb(0, 124.5, 112.88);
}

.win-active {
  border-color: #009688;
}
.win-active .win-header {
  background: #009688;
  border-color: #009688;
}

.win-disabled {
  border-color: rgb(127.5, 202.5, 195.5);
}

/** link */
.link-primary {
  color: #009688;
}

.link-primary:hover {
  color: rgb(0, 73.5, 66.64);
}

.link-secondary:hover {
  color: #009688;
}

/** list */
.list .list-item.active {
  background-color: #009688;
  border-color: #009688;
}

.list a:hover {
  color: #009688;
}

/** page-header */
.page-header-dot {
  border-left-color: #009688;
}

/** table */
.table caption {
  background-color: #009688;
}

.table-primary {
  background-color: #f0f1f9;
}

.table-hover tr:hover.table-primary, .table-hover tr:hover .table-primary {
  background-color: rgb(225.4285714286, 227.4, 243.1714285714);
}

.table-hover .table-primary:hover {
  background-color: rgb(225.4285714286, 227.4, 243.1714285714);
}

.table-odd-primary {
  background-color: rgb(236.3571428571, 237.6, 247.5428571429);
}

.table-odd-primary-hover {
  background-color: rgb(221.7857142857, 224, 241.7142857143);
}

/** btn-toggle */
.btn-toggle-checked {
  border-color: rgb(0, 124.5, 112.88);
}
.btn-toggle-checked:hover {
  border-color: rgb(0, 63.3, 57.392);
}

html body .btn-toggle-checked:focus-within {
  border-color: rgb(0, 63.3, 57.392);
}

/**color*/
.text-primary {
  color: #009688 !important;
}

a.text-primary, .text-primary a {
  color: rgb(0, 99, 89.76) !important;
}

a.text-primary:hover, .text-primary a:hover {
  color: rgb(0, 73.5, 66.64) !important;
}

.bg-primary {
  color: #fff;
  background-color: #009688 !important;
}

a.bg-primary:hover {
  color: #fff;
  background-color: rgb(0, 99, 89.76) !important;
}

.border-primary {
  border-color: #009688 !important;
}
