
.alert{ padding:8px 16px; margin-bottom:8px; border:1px solid transparent;}
.alert h4{ margin-top:0; color:inherit;}
.alert .alert-link{ font-weight:bold;}
.alert  p,.alert  ul{ margin-bottom:0;}
.alert  p{ margin-top:5px;}
.alert-dismissable,.alert-dismissible{ padding-left:35px; position:relative;}
.alert-dismissable .close,.alert-dismissible .close{ position:absolute; top:50%; _top:expression(this.parentNode.offsetHeight/2-2); left:10px; _left:-25px; line-height:20px; margin-top:-10px;}
.alert-success{ color:<%=$success.text%>; background-color:<%=$success.bg%>; border-color:<%=$success.border%>;}
.alert-success hr{ border-top-color:<%=$success.border.darken(0.05)%>;}
.alert-success .alert-link{ color:<%=$success.text.darken(0.1)%>;}
.alert-success .alert-link:hover{ color:<%=$success.text.darken(0.2)%>;}
.alert-info{ color:<%=$info.text%>; background-color:<%=$info.bg%>; border-color:<%=$info.border%>;}
.alert-info hr{ border-top-color:<%=$info.border.darken(0.05)%>;}
.alert-info .alert-link{ color:<%=$info.text.darken(0.1)%>;}
.alert-info .alert-link:hover{ color:<%=$info.text.darken(0.2)%>;}
.alert-warning{ color:<%=$warning.text%>; background-color:<%=$warning.bg%>; border-color:<%=$warning.border%>;}
.alert-warning hr{ border-top-color:<%=$warning.border.darken(0.05)%>;}
.alert-warning .alert-link{ color:<%=$warning.text.darken(0.1)%>;}
.alert-warning .alert-link:hover{ color:<%=$warning.text.darken(0.2)%>;}
.alert-danger{ color:<%=$danger.text%>; background-color:<%=$danger.bg%>; border-color:<%=$danger.border%>;}
.alert-danger hr{ border-top-color:<%=$danger.border.darken(0.05)%>;}
.alert-danger .alert-link{ color:<%=$danger.text.darken(0.1)%>;}
.alert-danger .alert-link:hover{ color:<%=$danger.text.darken(0.2)%>;}