
.btn{ vertical-align:middle; *vertical-align:top; margin-bottom:0; font-size:14px; font-weight:normal; text-align:center; white-space:nowrap; cursor:pointer; border:1px solid;  padding-left:12px; padding-right:12px;
-ms-touch-action:manipulation; touch-action:manipulation;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
transition:border-color,background,box-shadow .4s;}
.btn:hover{ text-decoration:none;}
input.btn,button.btn{ outline:none; height:34px; margin-left:0; margin-right:0; *padding-left:1px; *padding-right:1px;}
a.btn{ display:inline-block; *display:inline; *zoom:1; line-height:<%=(34-2)%>px; height:<%=size(34,2)%>px;}

.btn-outline{ color:<%=theme['primary']%>; background:none; border-color:<%=theme['primary']%>;}
.btn-outline:hover{ color:#fff; background-color:<%=theme['primary']%>; border-color:<%=theme['primary']%>;}
.btn-default{ color:#333; background-color:#fff; border-color:#ccc;}
.btn-default:hover{ color:#333; border-color:#aaa;}
.btn-primary{ color:#fff; background-color:<%=theme['primary']%>; border-color:<%=darken(theme['primary'], 0.05)%>;}
.btn-primary:hover{ color:#fff; background-color:<%=darken(theme['primary'], 0.1)%>; border-color:<%=darken(theme['primary'], 0.17)%>;}
.btn-success{ color:#fff; background-color:<%=$success%>; border-color:<%=darken($success, 0.05)%>;}
.btn-success:hover{ color:#fff; background-color:<%=darken($success,0.1)%>; border-color:<%=darken($success, 0.17)%>;}
.btn-info{ color:#fff; background-color:<%=$info%>; border-color:<%=darken($info, 0.05)%>;}
.btn-info:hover{ color:#fff; background-color:<%=darken($info,0.1)%>; border-color:<%=darken($info, 0.17)%>;}
.btn-warning{ color:#fff; background-color:<%=$warning%>; border-color:<%=darken($warning, 0.05)%>;}
.btn-warning:hover{ color:#fff; background-color:<%=darken($warning,0.1)%>; border-color:<%=darken($warning, 0.17)%>;}
.btn-danger{ color:#fff; background-color:<%=$danger%>; border-color:<%=darken($danger, 0.05)%>;}
.btn-danger:hover{ color:#fff; background-color:<%=darken($danger,0.1)%>; border-color:<%=darken($danger, 0.17)%>;}
.btn-inverse{ color:#fff; background-color:#444; border-color:#222;}
.btn-inverse:hover{ color:#fff; background-color:#333; border-color:#222;}


html>body .btn[disabled],html>body fieldset[disabled] .btn{ cursor:not-allowed; color:#a0a0a0; text-shadow:1px 1px #fff;}
html input.btn:focus,html button.btn:focus{ border-color:#000;}
html .btn-disabled,html .btn-disabled:hover,html input.btn-disabled:focus,html button.btn-disabled:focus{ background-color:#ddd; border-color:<%=darken('#dddddd', 0.05)%>; color:#fff;}

.btn-lg{ font-size:16px; padding-left:16px; padding-right:16px;}
div.btn-lg,a.btn-lg{ line-height:<%=(45-2)%>px; height:<%=size(45,2)%>px;}
input.btn-lg,button.btn-lg{ height:45px; *padding-left:5px; *padding-right:5px;}
.btn-sm{ font-size:12px; padding-left:10px; padding-right:10px;}
div.btn-sm,a.btn-sm{ line-height:<%=(30-2)%>px; height:<%=size(30,2)%>px;}
input.btn-sm,button.btn-sm{ height:30px; *padding-left:2px; *padding-right:2px;}
.btn-xs{ font-size:12px; padding-left:5px; padding-right:5px;}
div.btn-xs,a.btn-xs{ line-height:<%=(22-2)%>px; height:<%=size(22,2)%>px;}
input.btn-xs,button.btn-xs{ height:22px; *padding-left:0; *padding-right:0;}
div.btn-block,a.btn-block{ display:block;}
input.btn-block,button.btn-block{ width:100%;}
@-moz-document url-prefix(){
	input.btn,button.btn{ padding-left:9px; padding-right:9px;} 
	input.btn-lg,button.btn-lg{ padding-left:13px; padding-right:13px;}
	input.btn-sm,button.btn-sm{ padding-left:7px; padding-right:7px;}
	input.btn-xs,button.btn-xs{ padding-left:2px; padding-right:2px;}
}
.btn-toolbar{ margin-left:-5px; font-size:0; margin-bottom:10px;}
.btn-toolbar .btn,.btn-toolbar .btn-group{ margin-left:5px; margin-right:0;}
.btn-group{ display:inline-block; vertical-align:middle; *display:inline; *zoom:1; font-size:0;}
.btn-group > .btn:not(:first-child):not(:last-child){ -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
.btn-group .btn{ float:left; margin-left:-1px; margin-right:0; position:relative;}
.btn-group .btn:focus{ z-index:2;}
.btn-group .btn:hover{ z-index:3;}
.btn-group .disabled{ z-index:4;}
.btn-group > .btn:first-child:not(:last-child){ -moz-border-radius-topright:0; -moz-border-radius-bottomright:0;
-webkit-border-top-right-radius:0; -webkit-border-bottom-right-radius:0;
border-top-right-radius:0; border-bottom-right-radius:0;}
.btn-group > .btn:last-child:not(:first-child){ -moz-border-radius-topleft:0; -moz-border-radius-bottomleft:0;
-webkit-border-top-left-radius:0; -webkit-border-bottom-left-radius:0;
border-top-left-radius:0; border-bottom-left-radius:0;}


.caret{ font-family:FontAwesome; font-style:normal; font-weight:normal; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
*zoom:expression( this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d7;');}
.caret:before{ content:"\f0d7";}

.close{ font-weight:bold; color:#000; text-shadow:0 1px 0 #fff; opacity:.5; font-size:20px;}
.close:hover{ color:#000; text-decoration:none; cursor:pointer; opacity:.8;}
@media \0screen\,screen\9{
	.close{ filter:alpha(opacity=50);}
	.close:hover{ filter:alpha(opacity=80);}
}
button.close{ -webkit-appearance:none; padding:0; cursor:pointer; background:transparent; border:0;}