
.carousel{ position:relative;}
.carousel-indicators{ list-style:none; position:absolute; top:10px; right:10px;}
.carousel-indicators li{ display:inline; float:left; margin-left:0.5em; color:#fff; cursor:pointer; opacity:0.5;}
.carousel-indicators li.active{ opacity:0.9;}
.carousel-inner{ position:relative; font-size:0; overflow:hidden; width:100%; white-space:nowrap;}
.carousel-inner .item{ position:relative; width:100%; display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.carousel-inner .item>img{-o-object-fit:cover;object-fit:cover;}
.carousel-control .left,.carousel-control .right{ margin-top:-23px; position:absolute; top:50%;
display:block; width:<%=size(46,6)%>px; line-height:40px; font-size:40px; text-align:center;
background:#222; border:3px solid #fff; color:#fff; opacity:0.5;
-webkit-border-radius:50%;-moz-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.carousel-control .left:hover,.carousel-control .right:hover{ text-decoration:none;}
.carousel-control .left{ left:10px;}
.carousel-control .right{ right:10px;}
.carousel-caption{ white-space:normal; font-size:<%=fontSizeBase%>; left:0; bottom:0; position:absolute; width:100%; color:#FFFFFF; background:rgba(0,0,0,0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.carousel-caption h3,.carousel-caption h4,.carousel-caption p{ margin-left:10px; margin-right:10px;}
@media \0screen\,screen\9{
	.carousel-indicators li{ filter:alpha(opacity=50);}
	.carousel-indicators li.active{ filter:alpha(opacity=90);}
	.carousel-control .left,.carousel-control .right{ filter:alpha(opacity=50);}
	.carousel-control .left:hover,.carousel-control .right:hover{ filter:alpha(opacity=90);}
}
.carousel-control .left:hover,.carousel-control .right:hover{ opacity:0.9; filter:alpha(opacity=90); color:#fff;}
@media (max-width:480px){
	.carousel-caption{ font-size:12px; word-wrap:normal;white-space:nowrap; text-overflow:ellipsis;overflow:hidden;}
	.carousel-caption h3,.carousel-caption h4,.carousel-caption p{ margin:10px;}
}