
.label{ display:inline-block; padding:.25em .6em .25em; font-size:75%; font-weight:bold; color:#fff; text-align:center; white-space:nowrap; vertical-align:baseline;
-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:.25em;}
.label-default{ background-color:#777;}
.label-default[href]:hover,.label-default[href]:focus{ background-color:#5e5e5e;}
.label-primary{ background-color:<%=theme['primary']%>;}
.label-primary[href]:hover,.label-primary[href]:focus{ background-color:<%=darken(theme['primary'],0.1)%>;}
.label-success{ background-color:<%=$success%>;}
.label-success[href]:hover,.label-success[href]:focus{ background-color:<%=$success.darken(0.1)%>;}
.label-info{ background-color:<%=$info%>;}
.label-info[href]:hover,.label-info[href]:focus{ background-color:<%=$info.darken(0.1)%>;}
.label-warning{ background-color:<%=$warning%>;}
.label-warning[href]:hover,.label-warning[href]:focus{ background-color:<%=$warning.darken(0.1)%>;}
.label-danger{ background-color:<%=$danger%>;}
.label-danger[href]:hover,.label-danger[href]:focus{ background-color:<%=$danger.darken(0.1)%>;}

.badge{ display:inline-block; padding:2px 4px; font-size:12px; font-weight:bold; line-height:14px; color:#fff; text-align:center; white-space:nowrap; vertical-align:middle; background-color:#b00; -webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px; min-width:<%=size(18,8)%>px; _width:<%=size(18,8)%>px;}
.badge:empty{ display:none;}