
.media{ margin-top:15px; *zoom:1;}
.media:after{ clear:both; display:table; content:"";}
.media-body{ overflow:hidden;}
.media-object{ display:block; object-fit:contain; -o-object-fit:contain;}
.media-object.img-thumbnail{ max-width:none;}
.media-right,.media .pull-right{ padding-left:10px; float:right;}
.media-left,.media  .pull-left{ padding-right:10px; float:left;}
.media-heading{ margin-top:0; margin-bottom:5px;}
.media-list{ padding-left:0; list-style:none;}