
.navbar{ height:<%=size(50,1)%>px; border-bottom:1px solid #ddd;}
.navbar-brand{ float:left; height:100%; line-height:49px; font-size:18px; display:inline-block; margin-right:16px; white-space:nowrap;}
.navbar-brand a,a.navbar-brand{ text-decoration:none; color:<%=theme['primary_text']%>}
.navbar-brand img,img.navbar-brand{ max-height:50px; vertical-align:middle; margin-right:10px;}
.navbar-toggle{ display:none; float:right; padding-left:10px; padding-right:10px; height:34px; margin-top:8px; margin-left:15px; border:1px solid #ddd; background:#fff;}
.navbar-toggle:hover{ background:#eee;}
.navbar-toggle:focus{ outline:0;}
.navbar-right{ float:right;}
.navbar-left{ float:left;}
.navbar-nav{ margin:0;}
.navbar-nav li{ line-height:30px; list-style:none; float:left; position:relative;}
.navbar-nav li a{ color:#444; display:inline-block; padding:10px 15px;}
.navbar-nav li a:hover{ color:#333; text-decoration:none;}
.navbar-nav li.active a{ background:#e7e7e7; color:#555;}
.navbar-nav li.open{ background:#e7e7e7;}
.navbar-fixed-top{ position:fixed; z-index:1030; right:0; left:0;}
.navbar-form .form-group{ display:inline-block; margin-bottom:0; vertical-align:middle;}
.navbar-form .input-group{ width:auto; *width:180px;}
.navbar-form .form-control{ display:inline-block; vertical-align:middle;}
.navbar-form{ padding:0 15px; margin-top:8px;}
.navbar-right .fa{ margin-right:5px; margin-left:5px;}
.navbar-nav .dropdown-menu{ top:50px; left:0; _width:200px;}
.navbar-right .dropdown-menu{ right:0; left:auto;}
@media screen and (max-width:970px){
	.navbar-toggle{ display:block;}
	.navbar-collapse.collapse{ display:none;}
	.navbar-collapse{ clear:both; background:#FFF; border:1px solid #ddd;}
	.navbar-nav .dropdown-menu{ top:auto;}
	.navbar-right,.navbar  .navbar-form{ float:none; border-top:1px solid #ddd;}
	.navbar-nav li{ float:none;}
	.navbar-nav li a{ display:block; line-height:20px;}
	.navbar .dropdown-menu{ position:relative; margin:0 3px;}
	.navbar  .navbar-form{ padding:8px; width:auto;}
	.navbar  .navbar-form .input-group{ width:100%;}
}