
.pagination{ display:inline-block; *zoom:1; *display:inline; padding-left:0; margin:10px 0; font-size:0;
-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.pagination li{ display:inline-block; *zoom:1; *display:inline; font-size:14px; line-height:34px; height:34px; background-color:#fff; border:1px solid #ccc; position:relative; margin-left:-1px;}
.pagination li a,.pagination li span{ padding:0 12px; color:<%=theme['primary']%>; text-decoration:none;}
.pagination > li:first-child,.pagination > li:first-child{ margin-left:0;
border-top-left-radius:4px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;
border-bottom-left-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px;}
.pagination > li:last-child,.pagination > li:last-child{
border-top-right-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;
border-bottom-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px;}
.pagination li:hover{ background-color:#eee;}
.pagination li a:hover,.pagination li span:hover{ color:<%=darken(theme['primary'],0.15)%>;}
.pagination li.active{ z-index:2; cursor:default; background-color:<%=theme['primary']%>; border-color:<%=theme['primary']%>;}
.pagination li.active a{ color:#fff;}
.pagination li.disabled{ background-color:#fff;}
.pagination li.disabled a{ color:#777; cursor:text;}
.pagination-lg li{ font-size:18px; line-height:42px; height:42px;}
.pagination-lg li a{ padding:0 16px;}
.pagination-lg li:first-child{
border-top-left-radius:6px;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;
border-bottom-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;}
.pagination-lg li:last-child{
border-top-right-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;
border-bottom-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;}
.pagination-sm li{ font-size:12px; line-height:27px; height:27px;}
.pagination-sm li a{ padding:0 10px;}
.pagination-sm li:first-child{
border-top-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;
border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;}
.pagination-sm li:last-child{
border-top-right-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;
border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;}
.pagination-xs li{ font-size:12px; line-height:20px; height:20px;}
.pagination-xs li a{ padding:0 6px;}
.pagination-xs li:first-child{
border-top-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;
border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;}
.pagination-xs li:last-child{
border-top-right-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;
border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;}
.pager{ margin:10px 0; text-align:center; list-style:none;}
.pager li{ display:inline-block; *zoom:1; *display:inline; line-height:30px; height:30px; background-color:#fff; border:1px solid #ccc;
 border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;}
.pager li a,.pager li span{ padding:0 14px;}
.pager li:hover{ background-color:#eee;}
.pager li a:hover{ text-decoration:none;}
.pager .next{ float:right;}
.pager .previous{ float:left;}
.pager:after{visibility:hidden; display:block; font-size:0; content:"."; clear:both; height:0;} 
.pager{*zoom:1;}