/* CSS Document */
@media (min-width:1366px){
	@-webkit-viewport{ width:1366px;}
	@-moz-viewport{ width:1366px;}
	@-ms-viewport{ width:1366px;}
	@-o-viewport{ width:1366px;}
	@viewport{ width:1366px;}
}
<% if(quirk){%>*,*:before,*:after{ -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}<% }%>
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,details,summary{display:block;}
audio,canvas,video{ display:inline-block;}
template{ display:none;}
abbr[title]{ cursor:help; border-bottom:1px dotted #999;}
svg:not(:root){ overflow:hidden;}
figure{ margin:1em 40px;}

html{ min-font-size:0 !important; -webkit-min-font-size:0 !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body{ font-size:14px; line-height:1.42857143; font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","Microsoft JhengHei","WenQuanYi Micro Hei",sans-serif; *font-family:"Microsoft YaHei UI","Microsoft YaHei","Microsoft JhengHei","WenQuanYi Micro Hei",sans-serif;}

body,dd,dl{margin:0; padding:0;}
html,body,img{border:0;}
p{ margin:0 0 10px;}
cite,em,address{font-style:normal;}
ul,ol{ padding:0; margin:0 0 10px 25px;}
ol ol, ol ul, ul ol, ul ul {margin-bottom: 0;}
hr{ height:0; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
mark{color:#000;background:#ff0;}
img{ -ms-interpolation-mode: bicubic;}
code,kbd,pre,samp{ font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace; font-size:1em;
-moz-tab-size:4; -o-tab-size:4; tab-size:4; -webkit-hyphens:none; -moz-hyphens:none; -ms-hyphens:none; hyphens:none;}
pre{ white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;overflow:auto;}
code{ direction:ltr; text-align:left; white-space:pre; line-height:1.5;}
kbd{ padding:2px 4px; font-size:90%; color:#fff; background-color:#333; border-radius:3px; margin-left:4px; margin-right:4px;
-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.25); box-shadow:inset 0 -1px 0 rgba(0,0,0,.25);}

a{ color:<%=$linkColor%>; text-decoration:none;}
a:hover{ color:<%=$linkColorHover%>; text-decoration:underline;}
pre{ background:#f4f0f9; padding:10px; padding-left:30px; border-left:5px solid #55bb8a; font-size:13px;}
p code{ background:#f9f2f4; padding:2px 4px; font-size:90%; border-radius:4px; color:#d14; border:1px solid #e1e1e8; _display:inline-block;}
h1,h2,h3,h4,h5,h6{ font-weight:500; line-height:1.1;}
h1,.h1,h2,.h2,h3,.h3{ margin-top:20px; margin-bottom:10px;}
h4,.h4,h5,.h5,h6,.h6{ margin-top:10px; margin-bottom:10px;}
h1,.h1{ font-size:36px;}
h2,.h2{ font-size:30px;}
h3,.h3{ font-size:24px;}
h4,.h4{ font-size:18px;}
h5,.h5{ font-size:14px;}
h6,.h6{ font-size:12px;}
@media (max-width:640px){
	h1,.h1{ font-size:30px;}
	h2,.h2{ font-size:24px;}
	h3,.h3{ font-size:20px;}
	h4,.h4{ font-size:17px;}
	h5,.h5{ font-size:14px;}
	h6,.h6{ font-size:12px;}
}
h1 small,h2 small,h3 small{ font-weight:normal; font-size:65%;}
h4 small,h5 small,h6 small{ font-weight:normal; font-size:75%;}
blockquote{ background:#f9f9f9; border-left:10px solid #ccc; margin:1.5em 10px; padding:.5em 10px;}
blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child{ margin-bottom:0;}
blockquote footer,blockquote small,blockquote .small{ display:block; font-size:80%; color:#777;}
dl{ margin-top:0; margin-bottom:20px;}
dt{ font-weight:bold;}

.page-header{ padding-bottom:9px; border-bottom:1px solid #eee;}
.list-unstyled{ padding-left:0; list-style:none;}
.list-inline{ padding-left:0; margin-left:-5px; list-style:none;}
.list-inline li{ display:inline-block; *zoom:1; *display:inline; padding-right:5px; padding-left:5px;}
@media all and (min-width:0px){
	.list-inline{ font-size:0;}
	.list-inline li{ font-size:1rem;}
}
.dl-horizontal dt{ float:left; width:160px; clear:left; text-align:right; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.dl-horizontal dd{ margin-left:180px;}
@media (max-width:640px){
	.dl-horizontal dt{ float:none; width:auto; text-align:inherit;}
	.dl-horizontal dd{ margin-left:0;}
}
.img-responsive{ display:block; max-width:100%; height:auto;}
.text-truncate{ _width:100%; word-wrap:normal; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.text-break{ word-wrap:break-word; -webkit-hyphens:auto; -ms-hyphens:auto; -moz-hyphens:auto; hyphens:auto;}
.text-nowrap{ white-space:nowrap;}
<%
for(var i=2;i<10;i++){%>
.line-clamp-<%=i%>{ text-overflow:ellipsis; -webkit-line-clamp:<%=i%>; overflow:hidden; max-height:<%=1.42857143*i%>em; display:-webkit-box; -webkit-box-orient:vertical;}<%
}%>

@font-face{ font-family:FontAwesome; -webkit-text-size-adjust:none;
src:url('<%=fontAwesome%>/fontawesome-webfont.eot'); src:url('<%=fontAwesome%>/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('<%=fontAwesome%>/fontawesome-webfont.woff') format('woff'), url('<%=fontAwesome%>/fontawesome-webfont.ttf') format('truetype'), url('<%=fontAwesome%>/fontawesome-webfont.svg#fontawesomeregular') format('svg');
font-weight:normal; font-style:normal;}
.fa{ display:inline-block; font-family:FontAwesome; font-style:normal; font-weight:normal; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.fa-lg{font-size:1.33333333em;}
.fa-2x{font-size:2em}
.fa-3x{font-size:3em}
.fa-4x{font-size:4em}
.fa-5x{font-size:5em}
.fa-fw{width:1.28571429em;text-align:center;}
.fa-pull-left{ float:left; margin-right:.3em; line-height:1;}
.fa-spin{-webkit-animation:fa-spin 2s infinite linear;-moz-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear;}
.fa-pulse{ display:inline-block; -webkit-animation:fa-spin 1s infinite steps(8);-moz-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8);}
@-webkit-keyframes fa-spin{ 0%{-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg)} 100%{-moz-transform:rotate(359deg);-webkit-transform:rotate(359deg)}}
@-moz-keyframes fa-spin{ 0%{-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg)} 100%{-moz-transform:rotate(359deg);-webkit-transform:rotate(359deg)}}
@keyframes fa-spin{ 0%{transform:rotate(0deg);} 100%{transform:rotate(359deg);}}
.fa-rotate-90{ -webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.fa-rotate-180{ -webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.fa-rotate-270{ -webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg);}
.fa-flip-horizontal{ -webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-ms-transform:scale(-1,1);-o-transform:scale(-1,1);transform:scale(-1,1);}
.fa-flip-vertical{ -webkit-transform:scale(1,-1);-moz-transform:scale(1,-1);-ms-transform:scale(1,-1);-o-transform:scale(1,-1);transform:scale(1,-1);}
@media \0screen\,screen\9{
	.fa-rotate-90{ filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
	.fa-rotate-180{ filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
	.fa-rotate-270{ filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
	.fa-flip-horizontal{ filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1);}
	.fa-flip-vertical{ filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2,mirror=1);}
}
.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}
.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}
.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}
.fa-inverse{color:#fff}

.container{ width:<%=size(970,30)%>px; position:relative; *zoom:1; margin-right:auto; margin-left:auto;}
<% if(quirk){%>
body{ text-align:center;}
.container,.container-fluid{ text-align:left;}
.container input,.container-fluid input{ *position:relative;}
<% }%>
div.container{ padding-right:15px; padding-left:15px;}
div.container:before,div.container:after{ display: table; content: "";}
div.container:after{ clear:both;}

div.container-fluid { width:auto; padding-right:20px; padding-left:20px; *zoom:1; position:relative;}
div.container-fluid:before,
div.container-fluid:after { display:table; line-height:0; content:"";}
div.container-fluid:after { clear: both;}

.vertical-align{ *overflow:hidden;}
.vertical-align:before{ width:0; content:''; display:inline-block; height:100%; vertical-align:middle;}
.align-top{ vertical-align:middle; display:inline-block;}
.align-middle{ vertical-align:middle; display:inline-block;}
.vertical-align .align-middle{ *position:relative; *zoom:1; *display:inline; *top:expression(Math.max(Math.round(this.parentNode.clientHeight/2-this.offsetHeight/2),0)+'px');}
.align-bottom{ vertical-align:bottom; display:inline-block;}
.vertical-align .align-bottom{ *position:relative; *zoom:1; *display:inline; *top:expression(Math.max(this.parentNode.clientHeight-this.offsetHeight,0)+'px');}


.table{ width:100%; max-width:100%; margin-bottom:20px; border-collapse:collapse; border-spacing:0;}
.table  td,.table  th{ padding:8px; line-height:1.42857143; vertical-align:top; border-top:1px solid #ddd;}
.table th { vertical-align:bottom; border-bottom:2px solid #ddd;}
.table tr:first-child td,.table tr:first-child th { border-top:0;}
.table > tbody + tbody { border-top:2px solid #ddd;}
.table-condensed td,.table-condensed th{ padding:5px;}
.table-bordered,.table-bordered td,.table-bordered th{ border:1px solid #ddd;}
.table-striped tr:nth-of-type(odd) { background-color: #f9f9f9;}
.table-hover tr:hover{ background-color:#f5f5f5;}

.table td.active,.table th.active,.table .active td,.table .active th{ background-color:#f5f5f5;}
.table-hover td.active:hover,.table-hover th.active:hover,.table-hover .active:hover td,.table-hover .active:hover th{ background-color:#e8e8e8;}
.table td.success,.table th.success,.table .success td,.table .success th{ background-color:#dff0d8;}
.table-hover td.success:hover,.table-hover th.success:hover,.table-hover .success:hover td,.table-hover .success:hover th{ background-color:#d0e9c6;}
.table td.info,.table th.info,.table .info td,.table .info th{ background-color:#d9edf7;}
.table-hover td.info:hover,.table-hover th.info:hover,.table-hover .info:hover td,.table-hover .info:hover th{ background-color:#c4e3f3;}
.table td.warning,.table th.warning,.table .warning td,.table .warning th{ background-color:#fcf8e3;}
.table-hover td.warning:hover,.table-hover th.warning:hover,.table-hover .warning:hover td,.table-hover .warning:hover th{ background-color:#faf2cc;}
.table td.danger,.table th.danger,.table .danger td,.table .danger th{ background-color:#f2dede;}
.table-hover td.danger:hover,.table-hover th.danger:hover,.table-hover .danger:hover td,.table-hover .danger:hover th{ background-color:#ebcccc;}

.table-responsive{ overflow-x:auto;}


table.container{ table-layout:fixed;<% if(quirk){%> *display:inline-block;<% }%>}
table.container-fluid{ table-layout:fixed; width:100%;<% if(quirk){%> *display:inline-block;<% }%>}
.row,.row-separate{ *zoom:1; *margin-right:-1%;}
.row:before,.row:after,.row-separate:before,.row-separate:after{ display:table; content:"";}
.row:after,.row-separate:after{ clear:both;}
.row-separate{ margin-left:-<%=1/47*100%>%;}

.col-avg-5,.col-avg-7,.col-avg-8,.col-avg-9,
.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12,
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12
{ display:inline-block; _display:inline; float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;
<% if(!quirk){%>*padding-left:0 !important; *padding-right:0 !important; *border-left-width:0 !important; *border-right-width:0 !important;<% }%>}

.row-separate .col-avg-5,.row-separate .col-avg-7,.row-separate .col-avg-8,.row-separate .col-avg-9,
.row-separate .span1,.row-separate .span2,.row-separate .span3,.row-separate .span4,.row-separate .span5,.row-separate .span6,
.row-separate .span7,.row-separate .span8,.row-separate .span9,.row-separate .span10,.row-separate .span11,.row-separate .span12,
.row-separate .col-md-1,.row-separate .col-md-2,.row-separate .col-md-3,.row-separate .col-md-4,.row-separate .col-md-5,.row-separate .col-md-6,
.row-separate .col-md-7,.row-separate .col-md-8,.row-separate .col-md-9,.row-separate .col-md-10,.row-separate .col-md-11,.row-separate .col-md-12
{ _margin-left:<%=1/48*100%>%;}
.row .span1,.row .span2,.row .span3,.row .span4,.row .span5,.row .span6,
.row .span7,.row .span8,.row .span9,.row .span10,.row .span11,.row .span12,
.row .col-md-1,.row .col-md-2,.row .col-md-3,.row .col-md-4,.row .col-md-5,.row .col-md-6,
.row .col-md-7,.row .col-md-8,.row .col-md-9,.row .col-md-10,.row .col-md-11,.row .col-md-12
{ _margin-left:0;}
.row-separate>[class*="col-"]{ margin-left:<%=1/48*100%>%;}
.row-separate>[class*="span"]{ margin-left:<%=1/48*100%>%;}
.row>[class*="col-"]{ margin-left:0;}
.row>[class*="span"]{ margin-left:0;}
<%
for(var i=1;i<=12;i++){%>
.row-separate .span<%=i%>{ width:<%=((3*i+i-1)/48*100*100/101)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row-separate .offset<%=i%>{ margin-left:<%=quirk?((4*i+1)/48*100*100/101):((4*i+1)/47*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row .span<%=i%>{ width:<%=(i/12*100*100/101)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row .offset<%=i%>{ margin-left:<%=(i/12*100*100/101)%>%;}<%
}

for(var i=1;i<=12;i++){%>
.row-separate .col-md-<%=i%>{ width:<%=((3*i+i-1)/48*100*100/101)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row-separate .col-md-offset-<%=i%>{ margin-left:<%=quirk?((4*i+1)/48*100*100/101):((4*i+1)/47*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row .col-md-<%=i%>{ width:<%=(i/12*100*100/101)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row .col-md-offset-<%=i%>{ margin-left:<%=(i/12*100*100/101)%>%;}<%
}
%>
.row-separate .col-avg-5{ width:<%=((1-5/48)/5*100*100/101)%>%;}
.row-separate .col-avg-7{ width:<%=((1-7/48)/7*100*100/101)%>%;}
.row-separate .col-avg-8{ width:<%=((1-8/48)/8*100*100/101)%>%;}
.row-separate .col-avg-9{ width:<%=((1-9/48)/9*100*100/101)%>%;}
.row .col-avg-5{ width:<%=(1/5*100*100/101)%>%;}
.row .col-avg-7{ width:<%=(1/7*100*100/101)%>%;}
.row .col-avg-8{ width:<%=(1/8*100*100/101)%>%;}
.row .col-avg-9{ width:<%=(1/9*100*100/101)%>%;}
<%
for(var i=1;i<=12;i++){%>
.row-separate>.span<%=i%>{ width:<%=((3*i+i-1)/48*100)%>%; *width:<%=((3*i+i-1)/48*100*100/101)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row-separate>.offset<%=i%>{ margin-left:<%=((4*i+1)/48*100)%>%; *margin-left:<%=((4*i+1)/48*100*100/101)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row>.span<%=i%>{ width:<%=(i/12*100)%>%; *width:<%=(i/12*100*100/101)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row>.offset<%=i%>{ margin-left:<%=(i/12*100)%>%; *margin-left:<%=(i/12*100*100/101)%>%;}<%
}

for(var i=1;i<=12;i++){%>
.row-separate>.col-md-<%=i%>{ width:<%=((3*i+i-1)/48*100)%>%; *width:<%=((3*i+i-1)/48*100*100/101)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row-separate>.col-md-offset-<%=i%>{ margin-left:<%=((4*i+1)/48*100)%>%; *margin-left:<%=((4*i+1)/48*100*100/101)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row>.col-md-<%=i%>{ width:<%=(i/12*100)%>%; *width:<%=(i/12*100*100/101)%>%;}<%
}
for(var i=1;i<=12;i++){%>
.row>.col-md-offset-<%=i%>{ margin-left:<%=(i/12*100)%>%; *margin-left:<%=(i/12*100*100/101)%>%;}<%
}
%>
.row-separate>.col-avg-5{ width:<%=((1-5/48)/5*100)%>%; *width:<%=((1-5/48)/5*100*100/101)%>%;}
.row-separate>.col-avg-7{ width:<%=((1-7/48)/7*100)%>%; *width:<%=((1-7/48)/7*100*100/101)%>%;}
.row-separate>.col-avg-8{ width:<%=((1-8/48)/8*100)%>%; *width:<%=((1-8/48)/8*100*100/101)%>%;}
.row-separate>.col-avg-9{ width:<%=((1-9/48)/9*100)%>%; *width:<%=((1-9/48)/9*100*100/101)%>%;}
.row>.col-avg-5{ width:<%=(1/5*100)%>%; *width:<%=(1/5*100*100/101)%>%;}
.row>.col-avg-7{ width:<%=(1/7*100)%>%; *width:<%=(1/7*100*100/101)%>%;}
.row>.col-avg-8{ width:<%=(1/8*100)%>%; *width:<%=(1/8*100*100/101)%>%;}
.row>.col-avg-9{ width:<%=(1/9*100)%>%; *width:<%=(1/9*100*100/101)%>%;}

@media (min-width:1230px){
	.container{ width:<%=size(1200,30)%>px;}
<%
for(var i=1;i<=12;i++){%>
	.row-separate>.col-lg-<%=i%>{ width:<%=((3*i+i-1)/48*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row-separate>.col-lg-offset-<%=i%>{ margin-left:<%=((4*i+1)/48*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row>.col-lg-<%=i%>{ width:<%=(i/12*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row>.col-lg-offset-<%=i%>{ margin-left:<%=(i/12*100)%>%;}<%
}
%>
}
@media (min-width:721px) and (max-width:970px){
	@-webkit-viewport{ width:720px;}
	@-moz-viewport{ width:720px;}
	@-ms-viewport{ width:720px;}
	@-o-viewport{ width:720px;}
	@viewport{ width:720px;}
}
@media (min-width:641px) and (max-width:970px){
	.container{ width:<%=size(640,30)%>px;}
<%
for(var i=1;i<=12;i++){%>
	.row-separate>.col-xs-<%=i%>{ width:<%=((3*i+i-1)/48*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row-separate>.col-xs-offset-<%=i%>{ margin-left:<%=((4*i+1)/48*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row>.col-xs-<%=i%>{ width:<%=(i/12*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row>.col-xs-offset-<%=i%>{ margin-left:<%=(i/12*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row-separate>.col-sm-<%=i%>{ width:<%=((3*i+i-1)/48*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row-separate>.col-sm-offset-<%=i%>{ margin-left:<%=((4*i+1)/48*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row>.col-sm-<%=i%>{ width:<%=(i/12*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row>.col-sm-offset-<%=i%>{ margin-left:<%=(i/12*100)%>%;}<%
}
%>
}
@media (min-width:481px) and (max-width:640px){
	@-webkit-viewport{ width:480px;}
	@-moz-viewport{ width:480px;}
	@-ms-viewport{ width:480px;}
	@-o-viewport{ width:480px;}
	@viewport{ width:480px;}
}
@media (max-width:640px){
	.container{ width:auto;}
	table.container{ width:100%;}
	
	.table-responsive{ width:100%; margin-bottom:15px; overflow-y:hidden; -ms-overflow-style:-ms-autohiding-scrollbar; border:1px solid #ddd;
	box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	.table-responsive > .table { margin-bottom:0;}
	.table-responsive td,.table-responsive  th{ white-space:nowrap;}
	.table-responsive .table-bordered { border:0;}
	.table-responsive tr > th:first-child,.table-responsive   tr > td:first-child{ border-left:0;}
	.table-responsive tr > th:first-child,.table-responsive   tr > td:last-child{ border-right:0;}
	.table-responsive tr:last-child > th,.table-responsive  tr:last-child > td{ border-bottom:0;}
	
	.row>.col-lg-1,.row>.col-lg-2,.row>.col-lg-3,.row>.col-lg-4,.row>.col-lg-5,.row>.col-lg-6,
	.row>.col-lg-7,.row>.col-lg-8,.row>.col-lg-9,.row>.col-lg-10,.row>.col-lg-11,.row>.col-lg-12,
	.row>.col-md-1,.row>.col-md-2,.row>.col-md-3,.row>.col-md-4,.row>.col-md-5,.row>.col-md-6,
	.row>.col-md-7,.row>.col-md-8,.row>.col-md-9,.row>.col-md-10,.row>.col-md-11,.row>.col-md-12
	{ width:100%; margin-left:0;}
	.row-separate>.col-lg-1,.row-separate>.col-lg-2,.row-separate>.col-lg-3,.row-separate>.col-lg-4,.row-separate>.col-lg-5,.row-separate>.col-lg-6,
	.row-separate>.col-lg-7,.row-separate>.col-lg-8,.row-separate>.col-lg-9,.row-separate>.col-lg-10,.row-separate>.col-lg-11,.row-separate>.col-lg-12,
	.row-separate>.col-md-1,.row-separate>.col-md-2,.row-separate>.col-md-3,.row-separate>.col-md-4,.row-separate>.col-md-5,.row-separate>.col-md-6,
	.row-separate>.col-md-7,.row-separate>.col-md-8,.row-separate>.col-md-9,.row-separate>.col-md-10,.row-separate>.col-md-11,.row-separate>.col-md-12
	{ width:100%; margin-left:<%=(1/48*100)%>%;}
	
<%
for(var i=1;i<=12;i++){%>
	.row-separate>.col-sm-<%=i%>{ width:<%=((3*i+i-1)/48*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row-separate>.col-sm-offset-<%=i%>{ margin-left:<%=((4*i+1)/48*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row>.col-sm-<%=i%>{ width:<%=(i/12*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row>.col-sm-offset-<%=i%>{ margin-left:<%=(i/12*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row-separate>.col-xs-<%=i%>{ width:<%=((3*i+i-1)/48*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row-separate>.col-xs-offset-<%=i%>{ margin-left:<%=((4*i+1)/48*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row>.col-xs-<%=i%>{ width:<%=(i/12*100)%>%;}<%
}
for(var i=1;i<=12;i++){%>
	.row>.col-xs-offset-<%=i%>{ margin-left:<%=(i/12*100)%>%;}<%
}
%>
}

.btn{ vertical-align:middle; *vertical-align:top; margin-bottom:0; font-size:14px; font-weight:normal; text-align:center; white-space:nowrap; cursor:pointer; border:1px solid;  padding-left:12px; padding-right:12px;
-ms-touch-action:manipulation; touch-action:manipulation;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
transition:border-color,background .4s;}
.btn:hover{ text-decoration:none;}
input.btn,button.btn{ outline:none; height:34px; *padding-left:1px; *padding-right:1px;}
div.btn,a.btn{ display:inline-block; *display:inline; *zoom:1; line-height:<%=(34-2)%>px; height:<%=size(34,2)%>px;}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{ cursor:not-allowed;}
a.btn.disabled,fieldset[disabled] a.btn{ pointer-events:none;}
a.disabled,div.disabled,input.disabled,button.disabled{ _filter:alpha(opacity=65); _cursor:text;}

.btn-outline{ color:<%=theme['primary']%>; background:none; border-color:<%=theme['primary']%>;}
.btn-outline:hover,input.btn-outline:focus,button.btn-outline:focus { color:#fff; background-color:<%=theme['primary']%>; border-color:<%=theme['primary']%>;}
.btn-default{ color:#333; background-color:#fff; border-color:#ccc;}
.btn-default:hover,input.btn-default:focus,button.btn-default:focus{ color:#333; border-color:#aaa;}
html>body .disabled.btn-default,html>body .disabled.btn-outline{ background-color:#fff; border-color:#dedede; color:#7b7b7b;}
.btn-primary{ color:#fff; background-color:<%=theme['primary']%>; border-color:<%=darken(theme['primary'], 0.05)%>;}
.btn-primary:hover,input.btn-primary:focus,button.btn-primary:focus{ color:#fff; background-color:<%=darken(theme['primary'], 0.1)%>; border-color:<%=darken(theme['primary'], 0.17)%>;}
html>body .disabled.btn-primary{ color:#fff; background-color:<%=mix(theme['primary'],'#FFFFFF')%>; border-color:<%=mix(darken(theme['primary'], 0.05),'#FFFFFF')%>;}
.btn-success{ color:#fff; background-color:<%=$success%>; border-color:<%=darken($success, 0.05)%>;}
.btn-success:hover,input.btn-success:focus,button.btn-success:focus{ color:#fff; background-color:<%=darken($success,0.1)%>; border-color:<%=darken($success, 0.17)%>;}
html>body .disabled.btn-success{ color:#fff; background-color:<%=mix($success,'#FFFFFF')%>; border-color:<%=mix(darken($success, 0.05),'#FFFFFF')%>;}
.btn-info{ color:#fff; background-color:<%=$info%>; border-color:<%=darken($info, 0.05)%>;}
.btn-info:hover,input.btn-info:focus,button.btn-info:focus{ color:#fff; background-color:<%=darken($info,0.1)%>; border-color:<%=darken($info, 0.17)%>;}
html>body .disabled.btn-info{ color:#fff; background-color:<%=mix($info,'#FFFFFF')%>; border-color:<%=mix(darken($info, 0.05),'#FFFFFF')%>;}
.btn-warning{ color:#fff; background-color:<%=$warning%>; border-color:<%=darken($warning, 0.05)%>;}
.btn-warning:hover,input.btn-warning:focus,button.btn-warning:focus{ color:#fff; background-color:<%=darken($warning,0.1)%>; border-color:<%=darken($warning, 0.17)%>;}
html>body .disabled.btn-warning{ color:#fff; background-color:<%=mix($warning,'#FFFFFF')%>; border-color:<%=mix(darken($warning, 0.05),'#FFFFFF')%>;}
.btn-danger{ color:#fff; background-color:<%=$danger%>; border-color:<%=darken($danger, 0.05)%>;}
.btn-danger:hover,input.btn-danger:focus,button.btn-danger:focus{ color:#fff; background-color:<%=darken($danger,0.1)%>; border-color:<%=darken($danger, 0.17)%>;}
html>body .disabled.btn-danger{ color:#fff; background-color:<%=mix($danger,'#FFFFFF')%>; border-color:<%=mix(darken($danger, 0.05),'#FFFFFF')%>;}
.btn-inverse{ color:#fff; background-color:#444; border-color:#222;}
.btn-inverse:hover,input.btn-inverse:focus,div.btn-inverse:focus{ color:#fff; background-color:#333; border-color:#222;}
html>body .disabled.btn-inverse{ color:#fff; background-color:#a1a1a1; border-color:#909090;}

.btn-lg{ font-size:16px; padding-left:16px; padding-right:16px;}
div.btn-lg,a.btn-lg{ line-height:<%=(45-2)%>px; height:<%=size(45,2)%>px;}
input.btn-lg,button.btn-lg{ height:45px; *padding-left:5px; *padding-right:5px;}
.btn-sm{ font-size:12px; padding-left:10px; padding-right:10px;}
div.btn-sm,a.btn-sm{ line-height:<%=(30-2)%>px; height:<%=size(30,2)%>px;}
input.btn-sm,button.btn-sm{ height:30px; *padding-left:2px; *padding-right:2px;}
.btn-xs{ font-size:12px; padding-left:5px; padding-right:5px;}
div.btn-xs,a.btn-xs{ line-height:<%=(22-2)%>px; height:<%=size(22,2)%>px;}
input.btn-xs,button.btn-xs{ height:22px; *padding-left:0; *padding-right:0;}
div.btn-block,a.btn-block{ display:block;}
input.btn-block,button.btn-block{ width:100%;}
@-moz-document url-prefix(){
	input.btn,button.btn{ padding-left:9px; padding-right:9px;} 
	input.btn-lg,button.btn-lg{ padding-left:13px; padding-right:13px;}
	input.btn-sm,button.btn-sm{ padding-left:7px; padding-right:7px;}
	input.btn-xs,button.btn-xs{ padding-left:2px; padding-right:2px;}
}
.btn-toolbar{ margin-left:-5px; font-size:0;}
.btn-toolbar .btn,.btn-toolbar .btn-group{ margin-left:5px; margin-right:0;}
.btn-group{ display:inline-block; vertical-align:middle; *display:inline; *zoom:1; font-size:0;}
.btn-group > .btn:not(:first-child):not(:last-child){ -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
.btn-group .btn{ float:left; margin-left:-1px; margin-right:0; position:relative;}
.btn-group .btn:focus{ z-index:2;}
.btn-group .btn:hover{ z-index:3;}
.btn-group .disabled{ z-index:4;}
.btn-group > .btn:first-child:not(:last-child){ -moz-border-radius-topright:0; -moz-border-radius-bottomright:0;
-webkit-border-top-right-radius:0; -webkit-border-bottom-right-radius:0;
border-top-right-radius:0; border-bottom-right-radius:0;}
.btn-group > .btn:last-child:not(:first-child){ -moz-border-radius-topleft:0; -moz-border-radius-bottomleft:0;
-webkit-border-top-left-radius:0; -webkit-border-bottom-left-radius:0;
border-top-left-radius:0; border-bottom-left-radius:0;}

.form label{ display:inline-block; max-width:100%; margin-bottom:5px; font-weight:bold;}
.form-group{ margin-bottom:15px;}
.form-control{ display:block; width:100%; font-size:14px; color:#555; height:32px; padding:0 12px; <% if(!quirk){%> *padding:0;<%}%>
 -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;
background-color:#fff; background-image:none; border:1px solid #ccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);}
.form-control:focus { border-color:#66afe9; outline:0;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(102, 175, 233, .3);
box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(102, 175, 233, .3);}
@media \0screen\,screen\9 {
	.form-control{ line-height:30px; *line-height:26px; *height:28px;}
}
.form-control::-moz-placeholder{ color:#999; opacity:1;}
.form-control::-webkit-input-placeholder,
.form-control:-ms-input-placeholder{ color:#999;}
.form-control::-ms-expand{ border:0; background-color:transparent;}
.form input[type=file]{ display:block;}
.help-block{ display:block; margin-top:5px; margin-bottom:10px; color:<%=theme['secondary_text']%>; }
.radio,.checkbox{ position:relative; display:block; margin-top:10px; margin-bottom:10px;}
.radio label,.checkbox label{ font-weight:normal;}
.radio input,.checkbox input{ vertical-align:middle; margin:3px 3px 4px;}
.form-group .radio,.form-group .checkbox{ margin:0;}

.nav{ margin:0;}
table.nav{ border-collapse:collapse; width:100%; table-layout:fixed;}
table.nav td,table.nav th{ text-align:center; padding:0;}
ul.nav{ list-style:none; font-size:0;}
ul.nav li{ display:inline-block; *zoom:1; *display:inline; margin-right:2px;}
.nav td,.nav th,.nav li{ vertical-align:bottom; line-height:14px; font-size:14px; position:relative;}
ul.nav a{ display:block; padding:10px 15px;}
table.nav a{ display:block; padding-top:10px; padding-bottom:10px;}
.nav * a:hover{ text-decoration:none;}
.nav .active a{ cursor:default;}
.nav .disabled a{ color:#777; cursor:not-allowed;}
.nav .disabled a:hover{ color:#777; text-decoration:none; background-color:transparent;}
.nav-tabs{ border-bottom:1px solid #ddd;}
.nav-tabs a{ position:relative;
border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0;}
.nav-tabs *:hover>a{ background-color:#eee;}
.nav-tabs .active a{ margin-bottom:-1px; border:1px solid #ddd; border-bottom:1px #fff; background:#fff; color:#555;}
.nav-pills a{ border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;} 
.nav-pills *:hover>a{ background-color:#eee;}
.nav-pills .active a{ background-color:#337ab7; color:#fff;}
.nav-underline{ border-bottom:2px solid #ddd;}
.nav-underline a{ position:relative; color:#337ab7;}
.nav-underline *:hover>a{ padding-bottom:9px; border-bottom:2px solid #337ab7; margin-bottom:-1px;}
.nav-underline *.active a{ padding-bottom:7px; color:#23527c; border-bottom:4px solid; margin-bottom:-1px; font-weight:bold;}

.breadcrumb{ padding:8px 15px; margin-bottom:20px; list-style:none; background-color:#f5f5f5; color:#777;
-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.breadcrumb li{ display:inline-block; *display:inline; *zoom:1;}
.breadcrumb > li + li:before{ padding:0 5px; color:#ccc; content:"/\00a0";}
.breadcrumb a{ *padding-right:15px; *margin-right:10px; *background:url(../images/breadcrumb.png) no-repeat right center;}

.jumbotron{ padding-top:48px; padding-bottom:48px; background:#2d3e50; color:#fff;}
.jumbotron h1,.jumbotron .h1{ font-size:63px;}
.jumbotron p{ margin-bottom:15px; font-weight:200; font-size:21px;}
.jumbotron hr{ border-top-color:#d5d5d5; color:#d5d5d5; background:#d5d5d5;}
@media (min-width:641px) and (max-width:970px){
	.jumbotron{ padding-top:36px; padding-bottom:36px;}
	.jumbotron h1,.jumbotron .h1{ font-size:34px;}
	.jumbotron p{ font-size:18px;}
}
@media screen and (max-width:640px){
	.jumbotron{ padding-top:30px; padding-bottom:30px;}
	.jumbotron h1,.jumbotron .h1{ font-size:21px;}
	.jumbotron p{ font-size:16px;}
}

.pagination{ display:inline-block; *zoom:1; *display:inline; padding-left:0; margin:10px 0; font-size:0;
-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.pagination li{ display:inline-block; *zoom:1; *display:inline; font-size:14px; line-height:34px; height:34px; background-color:#fff; border:1px solid #ddd; position:relative; margin-left:-1px;}
.pagination li a,.pagination li span{ padding:0 12px; color:#337ab7; text-decoration:none;}
.pagination > li:first-child,.pagination > li:first-child{ margin-left:0;
border-top-left-radius:4px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;
border-bottom-left-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px;}
.pagination > li:last-child,.pagination > li:last-child{
border-top-right-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;
border-bottom-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px;}
.pagination li:hover{ background-color:#eee; border-color:#ddd;}
.pagination li a:hover,.pagination li span:hover{ color:#23527c;}
.pagination li.active{ z-index:2; cursor:default; background-color:#337ab7; border-color:#337ab7;}
.pagination li.active a{ color:#fff;}
.pagination li.disabled{ background-color:#fff; border-color:#ddd;}
.pagination li.disabled a{ color:#777; cursor:text;}
.pagination-lg li{ font-size:18px; line-height:42px; height:42px;}
.pagination-lg li a{ padding:0 16px;}
.pagination-lg li:first-child{
border-top-left-radius:6px;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;
border-bottom-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;}
.pagination-lg li:last-child{
border-top-right-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;
border-bottom-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;}
.pagination-sm li{ font-size:12px; line-height:27px; height:27px;}
.pagination-sm li a{ padding:0 10px;}
.pagination-sm li:first-child{
border-top-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;
border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;}
.pagination-sm li:last-child{
border-top-right-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;
border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;}
.pagination-xs li{ font-size:12px; line-height:20px; height:20px;}
.pagination-xs li a{ padding:0 6px;}
.pagination-xs li:first-child{
border-top-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;
border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;}
.pagination-xs li:last-child{
border-top-right-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;
border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;}
.pager{ margin:10px 0; text-align:center; list-style:none;}
.pager li{ display:inline-block; *zoom:1; *display:inline; line-height:30px; height:30px; background-color:#fff; border:1px solid #ddd;
 border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;}
.pager li a,.pager li span{ padding:0 14px;}
.pager li:hover{ background-color:#eee;}
.pager li a:hover{ text-decoration:none;}
.pager .next{ float:right;}
.pager .previous{ float:left;}
.pager:after{visibility:hidden; display:block; font-size:0; content:"."; clear:both; height:0;} 
.pager{*zoom:1;}

html>body .caret{ display:inline-block; width:0; height:0; margin-left:2px; vertical-align:middle; border-top:4px dashed; border-top:4px solid \9; border-right:4px solid transparent; border-left:4px solid transparent;}
.caret{ _zoom:expression( this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d7;'); _font-family:FontAwesome; _font-style:normal; _font-weight:normal;}

.input-group{ display:table; width:100%; position:relative; *font-size:0;}
.input-group .form-control,.input-group-addon,.input-group-btn{ display:table-cell; *display:inline-block; vertical-align:middle;}
.input-group-addon{ padding:6px 12px; font-size:14px; font-weight:400; line-height:18px; color: #555;}
.input-group-addon,.input-group-btn{ text-align:center; background-color:#eee; border:1px solid #ccc;}
.input-group-addon:first-child,.input-group-btn:first-child{ border-right:0;}
.input-group-addon:last-child,.input-group-btn:last-child{ border-left:0;}
.input-group-addon,.input-group-btn { width:1px; white-space:nowrap; *border:0 none; *width:25%; *padding-left:0; *padding-right:0; *position:absolute; *right:expression(Sky.getNextElement(this)==null?'0':'auto');}
.input-group{ *border:1px solid #ccc; *overflow:hidden;}
.input-group .form-control{ *margin-left:expression( this.previousSibling==null?'0':'26%'); *width:74%; *border:0 none;}
.input-group-btn  .btn{ height:100%; border:0 none; background:#eee; *padding-bottom:10px;}

.navbar{ height:<%=size(50,1)%>px; border-bottom:1px solid #ddd;}
.navbar-brand{ float:left; height:<%=size(50,1)%>px; line-height:49px; font-size:18px; display:inline-block; margin-right:16px; white-space:nowrap;}
.navbar-brand a,a.navbar-brand{ text-decoration:none; color:<%=theme['primary_text']%>}
.navbar-brand img{ max-height:50px; vertical-align:middle; margin-right:10px;}
.navbar-toggle{ display:none; float:right; width:44px; height:34px; text-align:center; margin-top:8px; margin-left:15px; border:1px solid #ddd; background:#fff;}
.navbar-toggle:hover{ background:#eee;}
.navbar-toggle:focus{ outline:0;}
.navbar-right{ float:right;}
.navbar-left{ float:left;}
.navbar-nav{ margin:0;}
.navbar-nav li{ line-height:30px; list-style:none; float:left; position:relative;}
.navbar-nav li a{ color:#444; text-decoration:none; display:inline-block; padding:10px 15px;}
.navbar-nav li a:hover{ color:#333;}
.navbar-nav li.active a{ background:#e7e7e7; color:#555;}
.navbar-nav li.open{ background:#e7e7e7;}
.navbar-fixed-top{ position:fixed; z-index:1030; right:0; left:0;}
.navbar-form .form-group{ display:inline-block; margin-bottom:0; vertical-align:middle;}
.navbar-form .input-group{ width:auto;}
.navbar-form .form-control{ display:inline-block; vertical-align:middle;}
.navbar-form{ padding:0 15px; margin-top:8px;}
.navbar-right .fa{ margin-right:5px; margin-left:5px;}
@media screen and (max-width:970px){
	.navbar-toggle{ display:block;}
	.navbar-collapse.collapse{ display:none;}
	.navbar-collapse{ clear:both; background:#FFF; border:1px solid #ddd;}
	.navbar-right .dropdown-menu{ top:auto;}
	.navbar-right,.navbar  .navbar-form{ float:none; border-top:1px solid #ddd;}
	.navbar-nav li{ float:none;}
	.navbar-nav li a{ display:block; line-height:20px;}
	.navbar .dropdown-menu{ position:relative; margin:0 3px;}
	.navbar  .navbar-form{ padding:8px; width:auto;}
	.navbar  .navbar-form .input-group{ width:100%;}
}

.navbar-right .dropdown-menu{ right:0; left:auto; top:50px;}
.dropdown{ position:relative;}
.dropdown-menu{ position:absolute; min-width:160px; padding:5px 0; margin:1px 0 0; font-size:14px; text-align:left; list-style:none; background-color:#fff; border:1px solid #ccc; display:none;}
.dropdown-menu .divider { font-size:0; line-height:0; margin:9px 0; border-bottom:1px solid #e5e5e5;}
.dropdown-menu  li{ float:none; display:block; line-height:0;}
.dropdown-menu li a{ display:block; padding:3px 20px; clear:both; font-weight:normal; line-height:1.42857143; color:#333; white-space:nowrap;}
.dropdown-menu li a:hover,.dropdown-menu li:hover{ color:#262626; text-decoration:none; background-color:#f5f5f5;}
.open .dropdown-menu{display:block}

.label{ display:inline-block; padding:.25em .6em .25em; font-size:75%; font-weight:bold; color:#fff; text-align:center; white-space:nowrap; vertical-align:baseline;
-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:.25em;}
.label-default{ background-color:#777;}
.label-default[href]:hover,.label-default[href]:focus{ background-color:#5e5e5e;}
.label-primary{ background-color:#337ab7;}
.label-primary[href]:hover,.label-primary[href]:focus{ background-color:#286090;}
.label-success{ background-color:#5cb85c;}
.label-success[href]:hover,.label-success[href]:focus{ background-color:#449d44;}
.label-info{ background-color:#5bc0de;}
.label-info[href]:hover,.label-info[href]:focus{ background-color:#31b0d5;}
.label-warning{ background-color:#f0ad4e;}
.label-warning[href]:hover,.label-warning[href]:focus{ background-color:#ec971f;}
.label-danger{ background-color:#d9534f;}
.label-danger[href]:hover,.label-danger[href]:focus{ background-color:#c9302c;}

.badge{ display:inline-block; padding:2px 4px; font-size:12px; font-weight:bold; line-height:14px; color:#fff; text-align:center; white-space:nowrap; vertical-align:middle; background-color:#b00; -webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px; min-width:<%=size(18,8)%>px; _width:<%=size(18,8)%>px;}
.badge:empty{ display:none;}

.alert{ padding:8px 16px; margin-bottom:8px; border:1px solid transparent;}
.alert h4{ margin-top:0; color:inherit;}
.alert .alert-link{ font-weight:bold;}
.alert  p,.alert  ul{ margin-bottom:0;}
.alert  p{ margin-top:5px;}
.alert-dismissable,.alert-dismissible{ padding-right:35px;}
.alert-dismissable .close,.alert-dismissible .close{ position:relative; top:-2px; right:-21px; color:inherit;}
.alert-success{ color:#3c763d; background-color:#dff0d8; border-color:#d6e9c6;}
.alert-success hr{ border-top-color:#c9e2b3;}
.alert-success .alert-link{ color:#2b542c;}
.alert-info{ color:#31708f; background-color:#d9edf7; border-color:#bce8f1;}
.alert-info hr{ border-top-color:#a6e1ec;}
.alert-info .alert-link{ color:#245269;}
.alert-warning{ color:#8a6d3b; background-color:#fcf8e3; border-color:#faebcc;}
.alert-warning hr{ border-top-color:#f7e1b5;}
.alert-warning .alert-link{ color:#66512c;}
.alert-danger{ color:#a94442; background-color:#f2dede; border-color:#ebccd1;}
.alert-danger hr{ border-top-color:#e4b9c0;}
.alert-danger .alert-link{ color:#843534;}

.thumbnail{ display:block; padding:4px; margin-bottom:20px; line-height:0; background-color:#fff; border:1px solid #ddd;}
.thumbnail img,.thumbnail img{ margin-right:auto; margin-left:auto;}
.thumbnail .caption{ padding:9px; color:#333; line-height:20px;}

.list-group{ padding-left:0; margin-bottom:20px; margin:0; border:1px solid #ddd;}
.list-group-item{ display:block; padding:10px 15px; background-color:#fff; list-style-type:none;
 _border-top:1px solid #ddd; *border-top-width:expression((Sky.hasClass(Sky.getPrevElement(this),'list-group-item'))?'1px':'0');}
.list-group .list-group-item:first-child{ border-top:0 none;}
a.list-group-item,button.list-group-item{ color:#555;}
.list-group .list-group-item+.list-group-item{ border-top:1px solid #ddd;}
a.list-group-item .list-group-item-heading,button.list-group-item .list-group-item-heading{ color:#333;}
.list-group-item-heading{ margin-top:0; margin-bottom:5px;}
.list-group-item-text{ margin:0; line-height:1.3;}

a.list-group-item:hover,button.list-group-item:hover,a.list-group-item:focus,button.list-group-item:focus
{ color:#555; text-decoration:none; background-color:#f5f5f5;}
button.list-group-item{ width:100%; text-align:left;}
.list-group-item  .badge{ float:right;}
.list-group-item>.badge +.badge{ margin-right:5px;}

.list-group-item-success{ color:#3c763d; background-color:#dff0d8;}
a.list-group-item-success,button.list-group-item-success{ color:#3c763d;}
a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading{ color:inherit;}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus
{ color:#3c763d; background-color:#d0e9c6;}
a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus
{ color:#fff; background-color:#3c763d; border-color:#3c763d;}
.list-group-item-info{ color:#31708f; background-color:#d9edf7;}
a.list-group-item-info,button.list-group-item-info{ color:#31708f;}
a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading
{ color:inherit;}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus
{ color:#31708f; background-color:#c4e3f3;}
a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus
{ color:#fff; background-color:#31708f; border-color:#31708f;}
.list-group-item-warning{ color:#8a6d3b; background-color:#fcf8e3;}
a.list-group-item-warning,button.list-group-item-warning{ color:#8a6d3b;}
a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading
{ color:inherit;}
a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus
{ color:#8a6d3b; background-color:#faf2cc;}
a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus
{ color:#fff; background-color:#8a6d3b; border-color:#8a6d3b;}
.list-group-item-danger{ color:#a94442; background-color:#f2dede;}
a.list-group-item-danger,button.list-group-item-danger{ color:#a94442;}
a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading
{ color:inherit;}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus
{ color:#a94442; background-color:#ebcccc;}
a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus
{ color:#fff; background-color:#a94442; border-color:#a94442;}

.media{ margin-top:15px; *position:relative;}
.media:first-child{ margin-top:0;}
.media,.media-body{ overflow:hidden; zoom:1;}
.media-body{ width:100%; *width:auto; /**margin-left:74px; *margin-right:74px;*/
*margin-right:expression(Sky.getNextElement(this)==null?'':'74px');}
.media-object{ display:block;}
.media-object.img-thumbnail{ max-width:none;}
.media-right,.media .pull-right{ padding-left:10px; *float:right; *position:absolute; *top:0; *right:0;}
.media-left,.media  .pull-left{ padding-right:10px; *float:left;}
.media-left,.media-right,.media-body{ display:table-cell; vertical-align:top;}
.media-middle{ vertical-align:middle;}
.media-bottom{ vertical-align:bottom;}
.media-heading{ margin-top:0; margin-bottom:5px;}
.media-list{ padding-left:0; list-style:none;}

.panel{ margin-bottom:20px; background-color:#fff; border:1px solid transparent;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05); box-shadow:0 1px 1px rgba(0, 0, 0, .05);}
.panel-body{ padding:15px;}
.panel-heading{ padding:10px 15px; border-bottom:1px solid transparent;}
.panel-heading  .dropdown .dropdown-toggle{ color:inherit;}
.panel-title{ margin-top:0; margin-bottom:0; font-size:16px; color:inherit;}
.panel-title  a,.panel-title  small{ color:inherit;}

.panel-default{ border-color:#ddd;}
.panel-default .panel-heading{ color:#333; background-color:#f5f5f5; border-color:#ddd;}
.panel-default .panel-heading .badge{ color:#f5f5f5; background-color:#333;}
.panel-primary{ border-color:#337ab7;}
.panel-primary .panel-heading{ color:#fff; background-color:#337ab7; border-color:#337ab7;}
.panel-primary .panel-heading .badge{ color:#337ab7; background-color:#fff;}
.panel-success{ border-color:#d6e9c6;}
.panel-success .panel-heading{ color:#3c763d; background-color:#dff0d8; border-color:#d6e9c6;}
.panel-success .panel-heading .badge{ color:#dff0d8; background-color:#3c763d;}
.panel-info{ border-color:#bce8f1;}
.panel-info .panel-heading{ color:#31708f; background-color:#d9edf7; border-color:#bce8f1;}
.panel-info .panel-heading .badge{ color:#d9edf7; background-color:#31708f;}
.panel-warning{ border-color:#faebcc;}
.panel-warning .panel-heading{ color:#8a6d3b; background-color:#fcf8e3; border-color:#faebcc;}
.panel-warning .panel-heading .badge{ color:#fcf8e3; background-color:#8a6d3b;}
.panel-danger{ border-color:#ebccd1;}
.panel-danger .panel-heading{ color:#a94442; background-color:#f2dede; border-color:#ebccd1;}
.panel-danger .panel-heading .badge{ color:#f2dede; background-color:#a94442;}

.well{ min-height:20px; padding:9px; margin-bottom:20px; background-color:#f5f5f5; border:1px solid #e3e3e3;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05); box-shadow:inset 0 1px 1px rgba(0,0,0,.05);}
.well blockquote{ border-color:#ddd; border-color:rgba(0,0,0,.15);}
.well-lg{ padding:20px;}
.well-sm{ padding:3px;}

.modal{ background:rgba(0,0,0,0.5); position:fixed; _position:absolute; 
left:0; width:100%; top:0; height:100%;
<% if(quirk){%>
_height:expression(document.body.scrollHeight); _padding-top:expression(eval(document.body.scrollTop));}
<% }else{ %>
_height:expression(document.documentElement.offsetHeight); _padding-top:expression(eval(document.documentElement.scrollTop));}
<% } %>
}
.modal-loading{ background-color:rgba(0,0,0,0.71); opacity:0.71; background-image:url(../images/loading-inverse.gif); background-position:center; background-repeat:no-repeat;}
@media \0screen\,screen\9 {
	.modal{ filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
	.modal-loading{ background-color:#000; filter:alpha(opacity=50);}
	.modal-hit{ position:absolute; left:0; top:0; width:100%; height:100%; border:0 none; background:#000; filter:alpha(opacity=01);}
}
@media (min-width:0){
	.modal-loading{background:rgba(0,0,0,.5); opacity:0.8;}
	.modal-loading:after{ content:" "; position:absolute; left:50%; top:50%; width:100px; padding-bottom:100px; margin-left:-50px; margin-top:-50px;
	-webkit-border-radius:10%;-moz-border-radius:10%;border-radius:10%; background:url(../images/loading-inverse.gif) center no-repeat rgba(0,0,0,.8); background-size:80%;}
}
@media (max-width:767px) and (orientation:portrait){
	.modal-loading:after{ width:30%; padding-bottom:30%; margin-left:-15%; margin-top:-15%;}
}
.modal-center{ display:table-cell; text-align:center;vertical-align:middle;
display:-moz-box; -moz-box-pack:center;-moz-box-align:center;
display:-webkit-box; -webkit-box-pack:center;-webkit-box-align:center;
display:-ms-flexbox; -ms-flex-pack:center;-ms-flex-align:center;
display:box; box-pack:center;box-align:center;
display:-webkit-flex; -webkit-justify-content:center;-webkit-align-items:center;
display:flex; justify-content:center;align-items:center;}
@media \0screen\,screen\9 {
	.modal-center .dialog{ margin-top:10px;}
}

.dialog{ text-align:left; display:inline-block;*zoom:1;*display:inline; background:#FFF; border:1px solid #DDD; box-shadow:1px 1px 50px rgba(0,0,0,.3); position:relative;}
.dialog-header{ background:#F8F8F8; border-bottom:1px solid #eee; padding:8px 16px;}
.dialog-title{ margin:0;}
<% if(!quirk){%>
html>body .dialog-header{ *text-align:right;}
html>body .dialog-header .close{ *float:none;}
<% } %>
.dialog-title{ *float:left;}
.dialog-body{ padding:16px;}
.dialog-footer{ border-top:1px solid #eee; padding:12px 16px;}
.dialog-primary .dialog-header .close{ color:#FFF;}
.dialog-primary .dialog-header{ color:#fff; background-color:#00635a; border-color:#337ab7;}
.dialog-primary .dialog-footer .btn-default:hover,
.dialog-primary .dialog-footer input.btn-default:focus
.dialog-primary .dialog-footer button.btn-default:focus{ border-color:<%=theme['primary']%>;}
.dialog-danger{ border-color:#ebccd1;}
.dialog-danger .dialog-header{ color:#a94442; background-color:#f2dede; border-color:#ebccd1;}
.dialog-danger .dialog-footer .btn-default:hover,
.dialog-danger .dialog-footer input.btn-default:focus
.dialog-danger .dialog-footer button.btn-default:focus{ border-color:#d9534f;}
.dialog-warning{ border-color:#faebcc;}
.dialog-warning .dialog-header{ color:#8a6d3b; background-color:#fcf8e3; border-color:#faebcc;}
.dialog-warning .dialog-footer .btn-default:hover,
.dialog-warning .dialog-footer input.btn-default:focus
.dialog-warning .dialog-footer button.btn-default:focus{ border-color:#f0ad4e;}
.dialog-success{ border-color:#d6e9c6;}
.dialog-success .dialog-header{ color:#3c763d; background-color:#dff0d8; border-color:#d6e9c6;}
.dialog-success .dialog-footer .btn-default:hover,
.dialog-success .dialog-footer input.btn-default:focus
.dialog-success .dialog-footer button.btn-default:focus{ border-color:#5cb85c;}
.dialog-info{ border-color:#bce8f1;}
.dialog-info .dialog-header{ color:#31708f; background-color:#d9edf7; border-color:#bce8f1;}
.dialog-info .dialog-footer .btn-default:hover,
.dialog-info .dialog-footer input.btn-default:focus
.dialog-info .dialog-footer button.btn-default:focus{ border-color:#5bc0de;}
.dialog-inverse .dialog-header .close{ color:#FFF;}
.dialog-inverse .dialog-header{ color:#fff; background-color:#444; border-color:#ebccd1;}
.dialog-inverse .dialog-footer .btn-default:hover,
.dialog-inverse .dialog-footer input.btn-default:focus
.dialog-inverse .dialog-footer button.btn-default:focus{ border-color:#444;}
.dialog-rim{ box-shadow:none; background:none; background:rgba(0,0,0,0.5); padding:5px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.dialog-rim .dialog-body,.dialog-rim .dialog-footer{ background:#fff;}
.dialog-close{ font-size:24px; display:inline-block; width:24px; line-height:24px; color:#777;
position:absolute; top:0; right:0; margin-top:-12px; margin-right:-13px;
-webkit-text-shadow:-3px 0 #fff,0 3px #fff,3px 0 #fff,0 -3px #fff;
-moz-text-shadow:-3px 0 #fff,0 3px #fff,3px 0 #fff,0 -3px #fff;
text-shadow:-3px 0 #fff,0 3px #fff,3px 0 #fff,0 -3px #fff;
-webkit-filter:drop-shadow(0 2px 2px rgba(0,0,0,0.5));
filter:drop-shadow(0 2px 2px rgba(0,0,0,0.5));}
.dialog-close:hover{ text-decoration:none;}
.dialog-close{ font-family:FontAwesome; font-style:normal; font-weight:normal; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
*zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf057;');}
.dialog-close:before{content:"\f057";}

@media \0screen\,screen\9 {
	.dialog-rim,.toast{ filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
}
.toast{ background:rgba(0,0,0,0.5); color:#fff; display:inline-block; *display:inline; *zoom:1; padding:10px 20px; border:0 none;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.msg{ display:inline-block; *display:inline; *zoom:1; border:1px solid #D3D4D3; padding:12px 20px; background:#FFF;
-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.msg .fa{ line-height:1; vertical-align:middle; margin-right:4px;}

.carousel{ position:relative; overflow:hidden;}
.carousel-indicators{ list-style:none; position:absolute; top:10px; right:10px;}
.carousel-indicators li{ display:inline; float:left; margin-left:0.5em; color:#fff; cursor:pointer; opacity:0.5;}
.carousel-indicators li.active{ opacity:0.9;}
.carousel-inner{ overflow:hidden;}
.carousel-inner .item{ font-size:0; position:absolute; top:0; left:0; width:100%;}
.carousel-inner .active{ position:relative; -webkit-animation:fadein .5s forwards;-moz-animation:fadein .5s forwards;animation:fadein .5s forwards;}
.carousel-control .left,.carousel-control .right{ 
display:block; width:40px; height:40px; margin-top:-23px; font-size:60px; line-height:30px; text-align:center; background:#222222; border:3px solid #ffffff; color:#ffffff; text-decoration:none; position:absolute; top:50%; opacity:0.5;
-webkit-border-radius:50%;-moz-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.carousel-control .left{ left:10px;}
.carousel-control .right{ right:10px;}
.carousel-caption{ font-size:14px; left:0; bottom:0; position:absolute; width:100%; color:#FFFFFF; background:rgba(0,0,0,0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.carousel-caption h3,.carousel-caption h4,.carousel-caption p{ margin-left:10px; margin-right:10px;}
@media \0screen\,screen\9{
	.carousel-indicators li{ filter:alpha(opacity=50);}
	.carousel-indicators li.active{ filter:alpha(opacity=90);}
	.carousel-control .left,.carousel-control .right{ filter:alpha(opacity=50);}
	.carousel-control .left:hover,.carousel-control .right:hover{ filter:alpha(opacity=90);}
}
.carousel-control .left:hover,.carousel-control .right:hover{ opacity:0.9; filter:alpha(opacity=90); color:#fff;}
@media (max-width:480px){
	.modal-loading:after{ width:30%; padding-bottom:30%; margin-left:-15%; margin-top:-15%;}
	.carousel-caption{ position:static; padding:10px 0; background:rgba(0,0,0,0.75);}
	.carousel-caption h3,.carousel-caption h4,.carousel-caption p{ margin:10px;}
}

.close{ float:right; font-weight:bold; color:#000; text-shadow:0 1px 0 #fff; opacity:.2;}
.close:hover,.close:focus{ color:#000; text-decoration:none; cursor:pointer; opacity:.5;}
@media \0screen\,screen\9{
	.close{ filter:alpha(opacity=20);}
	.close:hover,.close:focus{ filter:alpha(opacity=50);}
}
button.close{ -webkit-appearance:none; padding:0; cursor:pointer; background:transparent; border:0;}

.footer{ background:#f5f5f5; padding:30px 0; margin-top:16px;}
.footer p{ color:#666;}