
.clearfix{ *zoom:1;}
.clearfix:before,.clearfix:after{ display:table; content:"";}
.clearfix:after{ clear: both;}
.pull-right{ float:right;}
.pull-left{ float:left;}

.center-block{ display:block; margin-right:auto; margin-left:auto;}

@media \0screen\,screen\9 {
	.hidden-desktop{ display:none;}
}
@media (min-width:971px) {
	.hidden-desktop{ display:none;}
}
@media (min-width:641px) and (max-width:970px){
	.hidden-mobile,.hidden-tablet{ display:none;}
}
@media (max-width:640px){
	.hidden-mobile,.hidden-phone{ display:none;}
}
.hidden{ display:none;}
.block{ display:block;}
.inline-block{ display:inline-block; *zoom:1; *display:inline-block;}
.inline{ display:inline;}
.text-hide{ font:0/0 a; color:transparent; text-shadow:none; background-color:transparent; border:0;}

.text-left{ text-align:left;}
.text-right{ text-align:right;}
.text-center{ text-align:center;}
.text-justify{ text-align:justify;}
.text-nowrap{ white-space:nowrap;}
.text-capitalize{ text-transform:capitalize;}
.text-muted{ color:#777;}

.text-primary{ color:#337ab7;}
a.text-primary:hover{ color:#286090;}
.text-success{ color:#3c763d;}
a.text-success:hover{ color:#2b542c;}
.text-info{ color:#31708f;}
a.text-info:hover{ color:#245269;}
.text-warning{ color:#8a6d3b;}
a.text-warning:hover{ color:#66512c;}
.text-danger{ color:#a94442;}
a.text-danger:hover{ color:#843534;}
.icon-warning{ color:#f0ad4e;}
.icon-danger{ color:#c9302c;}
.icon-info{ color:#31b0d5;}
.icon-success{ color:#449d44;}
.icon-primary{ color:#286090;}
.bg-primary{ color:#fff; background-color:#337ab7;}
a.bg-primary:hover{ background-color:#286090;}
.bg-success{ background-color:#dff0d8;}
a.bg-success:hover{ background-color:#c1e2b3;}
.bg-info{ background-color:#d9edf7;}
a.bg-info:hover{ background-color:#afd9ee;}
.bg-warning{ background-color:#fcf8e3;}
a.bg-warning:hover{ background-color:#f7ecb5;}
.bg-danger{ background-color:#f2dede;}
a.bg-danger:hover{ background-color:#e4b9b9;}
.bg-teal{ background:#009688;}
.bg-blue{ background:#2196F3;}
.bg-indigo{ background:#337ab7;}
.bg-purple{ background:#6f5499;}
.bg-red{ background:#C5020D;}
.bg-brown{ background:#795548;}
.text-teal{ color:#009688;}
.text-blue{ color:#2196F3;}
.text-indigo{ color:#337ab7;}
.text-purple{ color:#6f5499;}
.text-red{ color:#C5020D;}
.text-brown{ color:#795548;}

.font-sans{ font-family:"Segoe UI","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Source Han Sans TC","Noto Sans CJK TC","Microsoft YaHei UI","Microsoft JhengHei","Microsoft YaHei","WenQuanYi Micro Hei",FreeSans,Arimo,"Droid Sans",STHeiti,SimHei,"FontAwesome",sans-serif;}
.font-serif{ font-family:Georgia,"Times New Roman",Times,SimSun,"FontAwesome",serif;}
.font-cursive{ font-family:"Comic Sans MS","Comic Sans",Times,Kai,"Kaiti SC",KaiTi,BiauKai,Arial,"FontAwesome",sans-serif;}
.font-monospace{ font-family:Monaco,Menlo,Consolas,"Courier New","FontAwesome",monospace;}

.margin-0{ margin:0 !important;}
.margin-xs{ margin:4xp !important;}
.margin-sm{ margin:8px !important;}
.margin-md{ margin:16px !important;}
.margin-lg{ margin:24px !important;}
.margin-xl{ margin:32px !important;}
.margin-horizontal-0{ margin-left:0 !important; margin-right:0 !important;}
.margin-horizontal-xs{ margin-left:4xp !important; margin-right:4xp !important;}
.margin-horizontal-sm{ margin-left:8px !important; margin-right:8px !important;}
.margin-horizontal-md{ margin-left:16px !important; margin-right:16px !important;}
.margin-horizontal-lg{ margin-left:24px !important; margin-right:24px !important;}
.margin-horizontal-xl{ margin-left:32px !important; margin-right:32px !important;}
.margin-vertical-0{ margin-top:0 !important; margin-bottom:0 !important;}
.margin-vertical-xs{ margin-top:4xp !important; margin-bottom:4xp !important;}
.margin-vertical-sm{ margin-top:8px !important; margin-bottom:8px !important;}
.margin-vertical-md{ margin-top:16px !important; margin-bottom:16px !important;}
.margin-vertical-lg{ margin-top:24px !important; margin-bottom:24px !important;}
.margin-vertical-xl{ margin-top:32px !important; margin-bottom:32px !important;}
.margin-left-0{ margin-left:0 !important;}
.margin-left-xs{ margin-left:4xp !important;}
.margin-left-sm{ margin-left:8px !important;}
.margin-left-md{ margin-left:16px !important;}
.margin-left-lg{ margin-left:24px !important;}
.margin-left-xl{ margin-left:32px !important;}
.margin-right-0{ margin-right:0 !important;}
.margin-right-xs{ margin-right:4xp !important;}
.margin-right-sm{ margin-right:8px !important;}
.margin-right-md{ margin-right:16px !important;}
.margin-right-lg{ margin-right:24px !important;}
.margin-right-xl{ margin-right:32px !important;}
.margin-top-0{ margin-top:0 !important;}
.margin-top-xs{ margin-top:4xp !important;}
.margin-top-sm{ margin-top:8px !important;}
.margin-top-md{ margin-top:16px !important;}
.margin-top-lg{ margin-top:24px !important;}
.margin-top-xl{ margin-top:32px !important;}
.margin-bottom-0{ margin-bottom:0 !important;}
.margin-bottom-xs{ margin-bottom:4xp !important;}
.margin-bottom-sm{ margin-bottom:8px !important;}
.margin-bottom-md{ margin-bottom:16px !important;}
.margin-bottom-lg{ margin-bottom:24px !important;}
.margin-bottom-xl{ margin-bottom:32px !important;}
.padding-0{ padding:0 !important;}
.padding-xs{ padding:4xp !important;}
.padding-sm{ padding:8px !important;}
.padding-md{ padding:16px !important;}
.padding-lg{ padding:24px !important;}
.padding-xl{ padding:32px !important;}
.padding-horizontal-0{ padding-left:0 !important; padding-right:0 !important;}
.padding-horizontal-xs{ padding-left:4xp !important; padding-right:4xp !important;}
.padding-horizontal-sm{ padding-left:8px !important; padding-right:8px !important;}
.padding-horizontal-md{ padding-left:16px !important; padding-right:16px !important;}
.padding-horizontal-lg{ padding-left:24px !important; padding-right:24px !important;}
.padding-horizontal-xl{ padding-left:32px !important; padding-right:32px !important;}
.padding-vertical-0{ padding-top:0 !important; padding-bottom:0 !important;}
.padding-vertical-xs{ padding-top:4xp !important; padding-bottom:4xp !important;}
.padding-vertical-sm{ padding-top:8px !important; padding-bottom:8px !important;}
.padding-vertical-md{ padding-top:16px !important; padding-bottom:16px !important;}
.padding-vertical-lg{ padding-top:24px !important; padding-bottom:24px !important;}
.padding-vertical-xl{ padding-top:32px !important; padding-bottom:32px !important;}
.padding-left-0{ padding-left:0 !important;}
.padding-left-xs{ padding-left:4xp !important;}
.padding-left-sm{ padding-left:8px !important;}
.padding-left-md{ padding-left:16px !important;}
.padding-left-lg{ padding-left:24px !important;}
.padding-left-xl{ padding-left:32px !important;}
.padding-right-0{ padding-right:0 !important;}
.padding-right-xs{ padding-right:4xp !important;}
.padding-right-sm{ padding-right:8px !important;}
.padding-right-md{ padding-right:16px !important;}
.padding-right-lg{ padding-right:24px !important;}
.padding-right-xl{ padding-right:32px !important;}
.padding-top-0{ padding-top:0 !important;}
.padding-top-xs{ padding-top:4xp !important;}
.padding-top-sm{ padding-top:8px !important;}
.padding-top-md{ padding-top:16px !important;}
.padding-top-lg{ padding-top:24px !important;}
.padding-top-xl{ padding-top:32px !important;}
.padding-bottom-0{ padding-bottom:0 !important;}
.padding-bottom-xs{ padding-bottom:4xp !important;}
.padding-bottom-sm{ padding-bottom:8px !important;}
.padding-bottom-md{ padding-bottom:16px !important;}
.padding-bottom-lg{ padding-bottom:24px !important;}
.padding-bottom-xl{ padding-bottom:32px !important;}