@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.btn-toggle{
	padding:($ctrl-height-md - 2 * $btn-border-width - $ctrl-line-height) * .5 $btn-padding-x-md;
	border:$btn-border-width solid $btn-border-color;
	background: $light-body-bg;
	line-height:$ctrl-line-height;
	font-size:$ctrl-fontsize-md;
	text-align:center;
	white-space:nowrap;
	font-weight:normal;
	cursor:pointer;
}
label.btn-toggle {
	display: inline-block;
	*zoom: 1;
}
button.btn-toggle {
	height: $ctrl-height-md;
	outline:none;
	-webkit-appearance:none;
	appearance:none;
	*width:auto; *overflow-x:visible;
}
label.btn-toggle-checked{
	border-color: $light-primary;
	z-index: $level-item-active;
}
button.btn-toggle-checked{
	background: $light-primary;
	border-color: $light-primary;
	color: $light-body-bg;
	z-index: $level-item-active;
}

@if $enable-dark {
	.dark {
		.btn-toggle {
			background: $dark-btn-toggle-bg;
			border-color: $dark-btn-border-color;
		}
		label.btn-toggle-checked {
			border-color: $dark-primary;
		}
		button.btn-toggle-checked {
			background: $dark-primary;
			border-color: $dark-primary;
			color: $dark-body-bg;
		}
	}
}
