@use '../variables' as *;
@use '../functions' as *;
@use '../mixins' as *;

$check-padding-top: ($ctrl-height-md - $ctrl-line-height)*.5;
$check-padding-bottom: $check-padding-top - $check-gap-y;

.checkbox-group, .radio-group, .checkbox-group-horizontal, .radio-group-horizontal {
	min-height: $ctrl-height-md;
	_height: $ctrl-height-md;
	padding: $check-padding-top $check-padding-x $check-padding-bottom;
	input {
		vertical-align: middle;
		margin:1px 3px 3px; *margin:0;
	}
}
.checkbox-group, .radio-group {
	label {
		display: block;
		margin-bottom: $check-gap-y;
		font-weight: normal;
	}
}
.checkbox-group-horizontal, .radio-group-horizontal {
	label {
		margin-right: $check-gap-x;
		font-weight: normal;
	}
	label:last-child {
		margin-right: 0;
	}
}

.checkbox, .radio {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: $checkbox-size;
	height: $checkbox-size;
	vertical-align: middle;
	margin-bottom: 2px;
	background: #ffffff;
	border: $checkbox-border-width solid $checkbox-border-color;
	@include user-select(none);
}
.radio {
	@include rounded($checkbox-size * .5);
}
.checkbox input, .radio input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-moz-opacity: .01;
	opacity: .01;
	z-index: 1;
}
.checkbox-checked:after {
	content: "✓";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: $checkbox-size - $checkbox-border-width * 2;
	height: $checkbox-size - $checkbox-border-width * 2;
	line-height: $checkbox-size - $checkbox-border-width * 2;
	font-size: $checkbox-size - $checkbox-border-width * 2;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
.checkbox-checked {
	border-color: $light-info;
	background: $light-info;
}
$radio-point-pos: ceil(($checkbox-size - $checkbox-border-width * 2) * .25);
$radio-point-size: $checkbox-size - $checkbox-border-width * 2 - $radio-point-pos * 2;
.radio-checked:after {
	content: "●";
	font-size: 0;
	line-height: 0;
	display: block;
	position: absolute;
	left: $radio-point-pos;
	top: $radio-point-pos;
	width: $radio-point-size;
	height: $radio-point-size;
	@include rounded(50%);
	color: #fff;
	background: #fff;
}
.radio-checked {
	border-color: $light-info;
	background: $light-info;
}

.checkbox-indeterminate {
	border-color: $light-info;
	background: #fff;
}

.checkbox-indeterminate:before {
	content: "■";
	display: block;
	position: absolute;
	font-size: 0;
	line-height: 0;
	width: $checkbox-size - $checkbox-border-width * 2 - 4px;
	height: $checkbox-size - $checkbox-border-width * 2 - 4px;
	left: 2px;
	top: 2px;
	overflow: hidden;
	color: $light-info;
	background: $light-info;
}

.checkbox-disabled, .radio-disabled {
	border-color: $checkbox-disabled-border-color;
	background: $checkbox-disabled-bg;
	cursor: not-allowed;
}

.checkbox-disabled input, .checkbox input[disabled],
.radio-disabled input, .radio input[disabled] {
	cursor: not-allowed;
}

.checkbox-disabled.checkbox-checked:after {
	color: $checkbox-disabled-color;
}
.radio-disabled.radio-checked:after {
	color: $checkbox-disabled-color;
	background: $checkbox-disabled-color;
}

.checkbox-indeterminate.checkbox-disabled:before {
	color: $checkbox-disabled-color;
	background: $checkbox-disabled-color;
}

label .checkbox, label .radio {
	margin-right: $checkbox-gap;
}

.has-valid .checkbox,
.has-valid .radio {
	border-color: $light-success;
}
.has-invalid .checkbox,
.has-invalid .radio {
	border-color: $light-danger;
}
@media \0screen\,screen\9 {
	.checkbox, .checkbox-checked, .radio, .radio-checked {
		border: 0 none;
		background: none;
	}
}
