
@use '../variables' as *;
@use '../mixins' as *;

.form-control {
	font-size: $ctrl-fontsize-md;
	line-height: $ctrl-line-height;
	color: $input-value-color;
	height: $ctrl-height-md;
	padding:($ctrl-height-md - 2 * $ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-x-md;
	border: $ctrl-border-width solid $ctrl-border-color;
	@if($enable-rounded) {
		@include rounded($border-radius);
	}
	@else {
		@include rounded(0);
	}
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-control[disabled] {
	cursor: not-allowed;
	background-color: $input-disabled-bg;
}
input.form-control,select.form-control{
	*margin-top:-1px; *margin-bottom:-1px;
}
textarea.form-control{
	height: auto;
}
.form-control:focus{
	outline: 0;
	border-color: $input-focus-color;
	z-index: $level-item-focus;
}
.form-control{
	&::-moz-placeholder{ color:$input-placeholder-color; opacity:1;}
	&::-webkit-input-placeholder{ color:$input-placeholder-color;}
	&:-ms-input-placeholder{ color:$input-placeholder-color;}
	&::-ms-expand{ border:0; background-color:transparent;}
}

//禁止textarea横向拖拽调整大小
.form textarea.form-control,
.form-horizontal textarea.form-control{
	display: block;
	resize: vertical;
	width:100% !important;
	min-height: $ctrl-height-md;
}
.form textarea.form-control-lg,.form-horizontal textarea.form-control-lg,
.form .form-group-lg textarea.form-control,.form-horizontal .form-group-lg textarea.form-control {
	min-height: $ctrl-height-lg;
}
.form textarea.form-control-xl,.form-horizontal textarea.form-control-xl,
.form .form-group-xl textarea.form-control,.form-horizontal .form-group-xl textarea.form-control {
	min-height: $ctrl-height-xl;
}
.form textarea.form-control-sm,.form-horizontal textarea.form-control-sm,
.form .form-group-sm textarea.form-control,.form-horizontal .form-group-sm textarea.form-control {
	min-height: $ctrl-height-sm;
}
.form textarea.form-control-xs,.form-horizontal textarea.form-control-xs,
.form .form-group-xs textarea.form-control,.form-horizontal .form-group-xs textarea.form-control {
	min-height: $ctrl-height-xs;
}

button.control-clear{
	padding:0;
	outline:none;
	-webkit-appearance:none;
	appearance:none;
	&::-moz-focus-inner{
		padding:0;
		border:0 none;
	}
	cursor:pointer;
	background:transparent;
	border:0 none;
}
.control-clear{
	position: absolute;
	width: 1em;
	height: 1em;
	line-height: 1em;
	right: ($ctrl-height-md - $ctrl-clear-size) * 0.5;
	top: 50%;
	margin-top: -.5em;
	-moz-opacity: 0.5;
	opacity: 0.5;
	font-size: $ctrl-clear-size;
	display: none;
}
@media \0screen\,screen\9 {
	.control-clear {
		filter: alpha(opacity=50);
	}
}
:hover>.control-clear {
	display: block;
}
