
.help-block{ display:block; margin-top:5px; margin-bottom:10px; color:$theme-primary-text; }


.has-feedback{
	position: relative; *zoom:1;
	.form-control,.input {
		padding-right: $ctrl-height-base * 0.5 + 8px + $ctrl-padding-base;
	}
	.radio-stack{
		padding-right: $ctrl-height-base;
	}
}
.form-control-feedback{
	display:block;
	position: absolute;
	top:0; right:0;
	width:$ctrl-height-base;
	line-height: $ctrl-height-base;
	text-align: center;
	font-size:16px;
}
.input-control .form-control-feedback{
	line-height: $ctrl-height-base - 2*$ctrl-border-width;
}
.form .form-label~.form-control-feedback,
.form .control-label~.form-control-feedback{
	top:$line-height-base + 5px;
}
.form .form-control-feedback{
	*top:auto; *margin-top:- $ctrl-height-base;
}
.has-success{
	.form-label,.control-label,.form-control-feedback,.help-block{
		color:$success;
	}
	.form-control-feedback{
		color:$success;
	}
	.form-control,.input{
		border-color:$success;
	}
}
.has-warning{
	.form-label,.control-label,.form-control-feedback,.help-block{
		color:darken($warning,10%);
	}
	.form-control-feedback{
		color:$warning;
	}
	.form-control,.input{
		border-color:$warning;
	}
}
.has-error{
	.form-label,.control-label,.form-control-feedback,.help-block{
		color:$danger;
	}
	.form-control-feedback{
		color:$danger;
	}
	.form-control,.input{
		border-color:$danger;
	}
}

.form .is-invalid{
	border-color:$danger;
}
.form .is-valid{
	border-color:$success;
}
.form .invalid-feedback{
	color:$danger;
}
.form .valid-feedback{
	color:$success;
}