
.help-block{ display:block; margin-top:5px; margin-bottom:10px; color:$theme-primary-text; }
.valid-tooltip,.invalid-tooltip{
	position: absolute;
	max-width: 100%;
	font-size: 12px;
	line-height: 15px;
}


.has-feedback{
	position: relative; *zoom:1;
	.form-control,.input-control input {
		padding-right: $ctrl-height-base * 0.5 + 8px + $ctrl-padding-base;
	}
	textarea.form-control{
		overflow-y: scroll;
	}
	textarea.form-control~.form-control-feedback{
		right:17px;
	}
	.radio-stack{
		padding-right: $ctrl-height-base;
	}
}
.form-control-feedback{
	display:block;
	position: absolute;
	top:0; right:0;
	width:$ctrl-height-base;
	line-height: $ctrl-height-base;
	text-align: center;
	font-size:16px;
}
.form-group-lg .form-control-feedback{
	line-height: $ctrl-height-large;
}
.form-group-sm .form-control-feedback{
	line-height: $ctrl-height-small;
}
.form-control-lg~.form-control-feedback{
	line-height: $ctrl-height-large;
}
.form-control-sm~.form-control-feedback{
	line-height: $ctrl-height-small;
}
.input-control .form-control-feedback{
	line-height: $ctrl-height-base - 2*$ctrl-border-width;
}
.form .form-label~.form-control-feedback,
.form .control-label~.form-control-feedback{
	top:$line-height-base + 5px;
}
.form .form-control-feedback{
	*top:auto; *margin-top:- $ctrl-height-base;
}