

@use '../variables' as *;
@use '../functions' as *;


.has-valid{
	.feedback-icon,.feedback-text,.help-block{
		color:$success;
	}
	.form-control,.input,.tags-input,.select-btn{
		border-color:$success;
	}
	.feedback-tooltip{
		color: #fff;
		background: rgba($success, .9);
	}
}
.has-invalid{
	.feedback-icon,.feedback-text,.help-block{
		color:$danger;
	}
	.form-control,.input,.tags-input,.select-btn{
		border-color:$danger;
	}
	.feedback-tooltip{
		color: #fff;
		background: rgba($danger, .9);
	}
}
