
.form-group{line-height:$line-height-base;}
.form-label,.control-label{ font-weight:bold;}
.form .row{
	.form-label,.control-label{
		padding-top:($ctrl-height-base - $ctrl-line-height)*.5;
	}
}

.form{
	.form-group{ margin-bottom:15px;}
	.form-label,.control-label{ margin-bottom:5px; display: block;}
	.form-control{ width: 100%;}
	input[type=file]{ width: 100%;}
}
.form-horizontal{
	.form-group{ padding-left:150px; margin-bottom:15px; *zoom:1;}
	.form-group:after{ display:block; content:""; height:0; overflow: hidden; clear: both;}
	.form-control{ width: 100%;}
	.form-label,.control-label{ margin-left:-150px; float:left; padding-top:($ctrl-height-base - $ctrl-line-height)*.5; padding-right:20px; display:block; _display:inline; _zoom:1; width:150px; text-align: right; font-weight:bold;}
	@media (max-width:$screen-sm){
		.form-group{ padding-left:0;}
		.form-label,.control-label{ margin-left:0; padding-top:0; margin-bottom:5px; float:none; width:auto; text-align: left;}
		.form-label~.form-control-feedback,
		.control-label~.form-control-feedback{
			top:$line-height-base + 5px;
		}
	}
}
.form-inline{
	position: relative;
	line-height:40px;
	*zoom: 1;
	.form-control, .form-label,.control-label {
		vertical-align: middle;
	}
	.input-group {
		display: inline-block;
		vertical-align:middle;
		*display: inline;
		*zoom: 1;
	}
	.input {
		display: inline-block;
		vertical-align:middle;
		*display: inline;
		*zoom: 1;
	}
	.form-group {
		display: inline-block;
		vertical-align:middle;
		margin-right:4px;
		*display: inline;
		*zoom: 1;
	}
}

//禁止textarea横向拖拽调整大小
.form textarea.form-control,.form-horizontal textarea.form-control{ width:100% !important;}