

@use '../variables' as *;
@use '../functions' as *;


html .has-valid{
	.feedback-icon,.feedback-text,.help-block{
		color:$light-success;
	}
	.form-control,.input,.tags-input,.select-btn,.textarea textarea{
		border-color:$light-success;
	}
	.feedback-tooltip{
		color: #fff;
		background: rgba($light-success, .9);
	}
}
html .has-invalid{
	.feedback-icon,.feedback-text,.help-block{
		color:$light-danger;
	}
	.form-control,.input,.tags-input,.select-btn,.textarea textarea{
		border-color:$light-danger;
	}
	.feedback-tooltip{
		color: #fff;
		background: rgba($light-danger, .9);
	}
}
