
@use '../variables' as *;
@use '../functions' as *;
@use '../mixins' as *;

.input{
	background-color: $light-body-bg;
	border: 1px solid $ctrl-border-color;
	height: $ctrl-height-md;
	@include clearfix;
	@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
}
.input-group>.input:focus-within{
	z-index: $level-item-focus;
}
.input:focus-within{
	border-color: $input-focus-color;
}
.input-body input{
	@include placeholder($input-placeholder-color);
}

.input-prefix{
	float: left;
	*margin-right: -3px;
	margin-left: $input-addon-gap;
}
.input-suffix{
	float: right;
	*margin-left: -3px;
	margin-right: $input-addon-gap;
}
.input-prefix,.input-suffix{
	_display: inline;
	position: relative;
	white-space: nowrap;
	height: $ctrl-height-md - $ctrl-border-width*2;
}

.input-body{
	overflow: hidden;
	position: relative;
	height: $ctrl-height-md - $ctrl-border-width * 2;
}
.input-body input{
	width: 100%;
	height: 100%;
	display: block;
	vertical-align: top;
	font-size: $ctrl-fontsize-md;
	line-height: $ctrl-line-height;
	padding: ($ctrl-height-md - $ctrl-line-height)*.5 - $ctrl-border-width $ctrl-padding-x-md;
	border: 0 none;
	color: $input-value-color;
	background: none;
	@include appearance(none);
	@include rounded(0);
	outline: 0;
	*margin-top: -1px;
	*margin-bottom: -1px;
}
.input-body input::-ms-clear,
.input-body input::-webkit-search-cancel-button{display: none;}
@supports (align-items: stretch) {
	.input{
		display: flex;
		&::after {
			content: "";
			display: none;
		}
	}
	.input-prefix {
		flex-shrink: 1;
		order: -1;
	}
	.input-suffix {
		flex-shrink: 0;
		order: 1;
	}
	.input-body{
		flex: 1;
		order: 0;
	}
	.input-prefix, .input-suffix{
		float: none;
		height: auto;
	}
}
.input-counter{
	display: inline-block;
	vertical-align: middle;
	color: $input-counter-color;
	position: relative;
	top: $input-counter-offset-y;
	font-size: $input-counter-fontsize;
}

.input-group-lg,
.input-lg{
	.input-body {
		height: $ctrl-height-lg - $ctrl-border-width*2;
	}
	.input-body input{
		font-size: $ctrl-fontsize-lg;
		line-height: $ctrl-height-lg - $ctrl-border-width*2 - 8px;
	}
	.input-prefix,.input-suffix{
		height: $ctrl-height-lg - $ctrl-border-width*2;
	}
	.input-placeholder{
		height: $ctrl-height-lg - $ctrl-border-width*2;
	}
}
.input-group-lg .input,
.input-lg{
	height: $ctrl-height-lg;
}

.input-group-sm,
.input-sm{
	.input-body {
		height: $ctrl-height-sm - $ctrl-border-width*2;
	}
	.input-body input{
		font-size: $ctrl-fontsize-sm;
		line-height: $ctrl-height-sm - $ctrl-border-width*2 - 8px;
	}
	.input-prefix,.input-suffix{
		height: $ctrl-height-sm - $ctrl-border-width*2;
	}
	.input-placeholder{
		height: $ctrl-height-sm - $ctrl-border-width*2;
	}
}
.input-group-sm .input,
.input-sm{
	height: $ctrl-height-sm;
}

.input-disabled{
	cursor: not-allowed;
	background-color: $input-disabled-bg;
}
.input-disabled{
	.input-prefix,.input-suffix{
		opacity:0.65;
		@media \0screen\,screen\9 {
			span,i {
				color: mix($input-value-color, #fff, 65%);
			}
			.input-counter {
				color: mix($input-counter-color, #fff, 65%);
			}
			div{
				filter:alpha(opacity=40); 
			}
			img{
				filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) alpha(opacity=60); 
			}
		}
	}
	.control-clear {
		display: none;
	}
}
.input-body .control-clear {
	right: $ctrl-clear-right - $ctrl-border-width;
}
@if($enable-feedback-icon) {
	.has-feedback-icon .input-body input{
		padding-right: $input-has-feedback-padding-right;
	}
	.input-body .feedback-icon{
		line-height: $ctrl-height-md - $ctrl-border-width * 2;
		right: - $ctrl-border-width;
	}
	.has-feedback-icon .input-body .control-clear {
		right: $feedback-icon-width * .5 + $feedback-icon-size * .5 + $ctrl-clear-right - $ctrl-border-width;
	}
}

@if $enable-dark {
	.dark {
		.input {
			background: $dark-body-bg;
			border-color: $dark-ctrl-border-color;
		}
		.input:focus-within {
			border-color: $dark-input-focus-color;
		}
		.input-body input {
			color: $dark-input-value-color;
		}
		.input-disabled {
			background: $dark-input-disabled-bg;
		}
	}
}
