
@use '../variables' as *;
@use '../mixins' as *;

.input-group{ @include clearfix;}
.input-group-prepend{
	position: relative;
	float:left;
	margin-right: -1px; _margin-right:-4px;
	white-space: nowrap;
}
.input-group-append{
	position: relative;
	float:right;
	margin-left: -1px; _margin-left:-4px;
	white-space: nowrap;
}
.input-group-body{
	position: relative;
	overflow: auto;
	*zoom:1;
}
.has-valid .input-group-body,
.has-invalid .input-group-body{
	z-index: $level-item-active;
}
.input-group-body:focus-within{
	z-index: $level-item-focus;
}
.input-group-prepend:focus,
.input-group-append:focus{
	z-index: $level-item-focus;
}
.input-group-prepend:focus-within,
.input-group-append:focus-within{
	z-index: $level-item-focus;
}
.input-group-prepend:focus-within:not(:focus):not(:has(>:last-child:focus)){
	z-index: unset;
}
.input-group-append:focus-within:not(:focus):not(:has(>:first-child:focus)){
	z-index: unset;
}
.input-group-body .form-control{ width:100%;}

.input-group .input-group-prepend{
	margin-right: -1px; _margin-right:-4px;
}
.input-group .input-group-append{
	margin-left: -1px; _margin-left:-4px;
}

@supports (align-items: stretch){
	.input-group{
		display: flex;
		align-items: stretch;
		&:after {
			content: "";
			display: none;
		}
		.input-group-prepend{
			order: -1;
		}
		.input-group-body{
			flex: 1;
			order: 0;
		}
		.input-group-append{
			order: 1;
		}
		.input-group-append, .input-group-prepend{
			flex-shrink: 0;
			float: none;
			height: auto;
		}
	}
}

.input-group-text{
	display: inline-block;
	*display: inline; *zoom:1;
	font-size: $font-size-base;
	line-height:$line-height-base;
	padding:($ctrl-height-md - $line-height-base)*.5 - $ctrl-border-width 12px;
	color:$input-group-text-color;
	background-color:$input-group-text-bg;
	border:$ctrl-border-width solid $ctrl-border-color;
}
.input-group-text{
	.checkbox-inline,.radio-inline{
		vertical-align: top;
	}
}

.input-group-lg{
	.input-group-text{
		font-size: 18px;
		padding:($ctrl-height-lg - $line-height-base)*.5 - $ctrl-border-width 12px;
	}
	.btn{
		padding-left: 16px;
		padding-right: 16px;
	}
}
.input-group-sm{
	.input-group-text{
		font-size: 12px;
		padding:($ctrl-height-sm - $line-height-base)*.5 - $ctrl-border-width 12px;
	}
	.btn{
		padding-left: 8px;
		padding-right: 8px;
	}
}
