@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.select{
	position: relative;
}
.select-btn{
	margin:0;
	display:block;
	width:100%;
	position: relative;
	border:$ctrl-border-width solid $ctrl-border-color;
	background:#fff;
	text-align:left;
	line-height:$ctrl-line-height;
	font-size:$ctrl-fontsize-md;
	font-weight:normal;
	color:$input-value-color;
	white-space:nowrap;
	cursor:pointer;
	@include touch-action(manipulation);
	@include user-select(none);
	@include appearance(none);
	@include rounded(0);
	
	&:hover {
		z-index: $level-item-hover;
	}
	&:focus {
		z-index: $level-item-focus;
	}
}
.select-btn.btn{
	justify-content: flex-start;
}

.select-placeholder{
	color: $input-placeholder-color;
}
.select-icon{
	position: absolute;
	right: $select-addon-gap + $select-addon-size * .5 + $ctrl-border-width;
	top: 50%;
	margin-top: -.5em;
	margin-right: -.5em;
}
.select .caret{
	margin-top: - $caret-height * .5;
	margin-right: - $caret-width * .5;
}
.select-btn{
	padding: ($ctrl-height-md - $ctrl-line-height) * .5 - $ctrl-border-width $btn-padding-x-md;
	height: $ctrl-height-md;
}
.form-group-lg .select-btn,
.select-lg .select-btn{
	padding: ($ctrl-height-lg - $ctrl-line-height) * .5 - $ctrl-border-width $btn-padding-x-lg;
	height: $ctrl-height-lg;
	font-size: $ctrl-fontsize-lg;
}
.form-group-sm .select-btn,
.select-sm .select-btn{
	padding: ($ctrl-height-sm - $ctrl-line-height) * .5 - $ctrl-border-width $btn-padding-x-sm;
	height: $ctrl-height-sm;
	font-size: $ctrl-fontsize-sm;
}

.select-disabled .select-btn{
	background: $select-disabled-bg;
	border-color: $select-disabled-border-color;
	color: $select-disabled-color;
	cursor:not-allowed;
	z-index: 0;
}
.select-disabled{
	.select-icon{
		filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) alpha(opacity=40);
		opacity:.4;
	}
	.select-placeholder{
		visibility:hidden;
	}
}

.select-loading{
	.select-btn {
		cursor:wait;
	}
	.select-icon{
		filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) alpha(opacity=40);
		opacity:.4;
	}
}

.select .select-btn{
	padding-right: $select-addon-gap + $select-addon-size + $btn-padding-x-md;
}
.select .control-clear{
	right: $ctrl-border-width + $select-addon-gap + $select-addon-size + $ctrl-clear-right;
	z-index: $level-navbar;
}
@if($enable-feedback-icon) {
	.has-feedback-icon .select-btn{
		padding-right: $select-addon-gap + $select-addon-size + $feedback-icon-width * .5 + $feedback-icon-size * .5 + $btn-padding-x-md - $ctrl-border-width;
	}
	.select .feedback-icon{
		right: $select-addon-gap + $select-addon-size;
		z-index: $level-navbar;
	}
	.has-feedback-icon .select .control-clear {
		right: $select-addon-gap + $select-addon-size + $feedback-icon-width * .5 + $feedback-icon-size * .5 + $ctrl-clear-right;
	}
}
