
@use '../variables' as *;

.form-group-lg{
	.form-label,.control-label{
		font-size: $ctrl-fontsize-lg;
	}
	.form-control{
		font-size: $ctrl-fontsize-lg;
		padding:($ctrl-height-lg - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-x-lg;
		height: $ctrl-height-lg;
	}
}
.form-group-sm{
	.form-label,.control-label{
		font-size: $ctrl-fontsize-sm;
	}
	.form-control{
		font-size: $ctrl-fontsize-sm;
		padding:($ctrl-height-sm - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-x-sm;
		height: $ctrl-height-sm;
	}
}
.form-horizontal .form-group-sm{
	.form-label,.control-label{
		padding-top: ($ctrl-height-sm - $line-height-base)*.5;
	}
}
.form-horizontal .form-group-lg{
	.form-label,.control-label{
		padding-top: ($ctrl-height-lg - $line-height-base)*.5;
	}
}

.form-control-lg{
	font-size: $ctrl-fontsize-lg;
	padding:($ctrl-height-lg - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-x-lg;
}
.form-control-lg{
	height: $ctrl-height-lg;
}
.form-control-sm{
	font-size: $ctrl-fontsize-sm;
	padding:($ctrl-height-sm - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-x-sm;
}
.form-control-sm{
	height: $ctrl-height-sm;
}
.form-control-xs{
	font-size: $ctrl-fontsize-xs;
	padding:($ctrl-height-xs - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-x-xs;
}
.form-control-xs{
	height: $ctrl-height-xs;
}
