
.form-group-lg{
	.form-label,.control-label{
		font-size: $ctrl-fontsize-large;
	}
	.form-control{
		font-size: $ctrl-fontsize-large;
		padding:($ctrl-height-large - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-large;
		height: $ctrl-height-large;
	}
}
.form-group-sm{
	.form-label,.control-label{
		font-size: $ctrl-fontsize-small;
	}
	.form-control{
		font-size: $ctrl-fontsize-small;
		padding:($ctrl-height-small - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-small;
		height: $ctrl-height-small;
	}
}
.form-horizontal .form-group-sm{
	.form-label,.control-label{
		padding-top: 4px;
	}
}
.form-horizontal .form-group-lg{
	.form-label,.control-label{
		padding-top: 12px;
	}
}

.form-control-lg{
	font-size: $ctrl-fontsize-large;
	padding:($ctrl-height-large - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-large;
}
.form-control-lg{
	height: $ctrl-height-large;
}
.form-control-sm{
	font-size: $ctrl-fontsize-small;
	padding:($ctrl-height-small - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-small;
}
.form-control-sm{
	height: $ctrl-height-small;
}
.form-control-xs{
	font-size: $ctrl-fontsize-xsmall;
	padding:($ctrl-height-xsmall - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-xsmall;
}
.form-control-xs{
	height: $ctrl-height-xsmall;
}