
@use '../variables' as *;

.form-group-lg{
	.form-label,.control-label{
		font-size: $ctrl-fontsize-lg;
	}
}
.form-group-sm{
	.form-label,.control-label{
		font-size: $ctrl-fontsize-sm;
	}
}
.form-horizontal .form-group-sm{
	.form-label,.control-label{
		padding-top: ($ctrl-height-sm - $line-height-base)*.5;
	}
}
.form-horizontal .form-group-lg{
	.form-label,.control-label{
		padding-top: ($ctrl-height-lg - $line-height-base)*.5;
	}
}
.form-group-sm{
	.form-control{
		font-size: $ctrl-fontsize-sm;
		padding:($ctrl-height-sm - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-x-sm;
	}
}

.form-control-lg,
.form-group-lg .form-control{
	font-size: $ctrl-fontsize-lg;
	padding: ($ctrl-height-lg - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-x-lg;
	height: $ctrl-height-lg;
}
.form-control-sm,
.form-group-sm .form-control{
	font-size: $ctrl-fontsize-sm;
	padding: ($ctrl-height-sm - 2*$ctrl-border-width - $ctrl-line-height)*.5 $ctrl-padding-x-sm;
	height: $ctrl-height-sm;
}
textarea.form-control-lg,
.form-group-sm textarea.form-control{
	min-height: $ctrl-height-lg;
}
textarea.form-control-sm,
.form-group-sm textarea.form-control{
	min-height: $ctrl-height-sm;
}
