
@use '../variables' as *;

.form-control-static,.form-control-plaintext{
	font-size: $font-size-base;
	line-height: $line-height-base;
	margin: 0;
	padding:($ctrl-height-md - $ctrl-line-height)*.5 0;
}
.form-group-lg{
	.form-control-static,.form-control-plaintext{
		font-size: $ctrl-fontsize-lg;
		padding:($ctrl-height-lg - $ctrl-line-height)*.5 0;
	}
}
.form-group-sm{
	.form-control-static,.form-control-plaintext{
		font-size: $ctrl-fontsize-sm;
		padding:($ctrl-height-sm - $ctrl-line-height)*.5 0;
	}
}
