@use '../variables' as *;
@use '../functions' as *;

.close{
	width:1em; height: 1em; line-height: 1em; text-align:center; display:inline-block;
	*zoom:#{'expression(this.runtimeStyle["zoom"]="1",this.innerHTML="×")'};
}
.close:empty:before{ content:"✕";}
.close,a.close{ color:$light-tertiary-text;}
.close:hover{ text-decoration:none; cursor:pointer; color:$light-emphasis-text;}
button.close{
	margin:0; padding:0;
	outline:none;
	-webkit-appearance:none;
	&::-moz-focus-inner{
		padding:0;
		border:0 none;
	}
	cursor:pointer; background:transparent; border:0 none;
}

@if $enable-dark {
	.dark .close,
	.dark a.close {
		color: $dark-tertiary-text;
		&:hover {
			color: $dark-emphasis-text;
		}
	}
}
