@use '../variables' as *;

@media (min-width:$screen-sm) {
	.hidden-desktop { display:none !important;}
}
@media \0screen\,screen\9 {
	.hidden-desktop,.hidden-md{ display:none !important;}
}
@media (min-width:$screen-lg) and (max-width:$screen-xl) {
	.hidden-lg{ display:none !important;}
}
@media (min-width:$screen-xl){
	.hidden-xl{ display:none !important;}
}
@media (min-width:$screen-xs) and (max-width:$screen-sm){
	.hidden-tablet,.hidden-sm{ display:none !important;}
}
@media (max-width:$screen-xs){
	.hidden-xs,.hidden-phone{ display:none !important;}
}
.hidden,.hide{ display:none !important;}
