
.text-truncate{ @include text-truncate;}
.line-1,.line-max-1{
	@extend .text-truncate;
}
.line-1{
	height: $line-height-base;
}
.line-n{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}
.line-max-n{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}
@for $i from 2 through 9 {
	.line-#{$i} {
		@extend .line-n;
		-webkit-line-clamp: $i;
		height: $line-height-base * $i;
	}
}
@for $i from 2 through 9 {
	.line-max-#{$i} {
		@extend .line-max-n;
		-webkit-line-clamp: $i;
		max-height: $line-height-base * $i;
		_height: $line-height-base * $i;
	}
}
@for $i from 1 through 9 {
	.line-min-#{$i} {
		min-height: $line-height-base * $i;
		_height: $line-height-base * $i;
	}
}